article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  background-color: #fff;
  padding: 15px 40px;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  transition: top 0.4s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.hideUp header {
  top: -48px;
}

main {
  height:calc(100vh - 60px);
  padding: 100px 40px;
  color: #fff;
  font-size: 24px;
}

footer {
  background-color: #fff;
  padding: 20px 40px;
}

body {
  padding: 0;
  margin: 0;
  background: #00a94f;
  color: #888;
}
