
body
{
    padding:0;
    margin:0;
    background:#fff;
}
.container
{
	margin:20px auto;
	width:1000px;
	height:500px;
}
.loadinglist
{
	width:1000px;
	position:relative;
	margin:0 auto;
	list-style:none;
	padding:0;
}
.loadinglist li
{
	float:left;
	margin:5px 0 0 5px;
	overflow:hidden;
}
.loadinglist li #panel
{
	display:block;
	height:180px;
	width:300px;
	box-shadow:0 0 20px #333;
	-mozbox-shadow:0 0 20px #333;
	-ms-box-shadow:0 0 20px #333;
	-o-box-shadow:0 0 20px #333;
	-webkit-box-shadow:0 0 20px #333;
	
	border:1px solid #333;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
}
.loadinglist li #panel:hover
{
	border-color:#444;
}
#loading1,#loading2,#loading4,#loading5,#loading8-1,#loading8-2,#loading8-3  
{
	display:block;
	position:absolute;
	margin:30px 0 0 100px;
	width:80px;
	height:80px;
}
#loading1 #outerCircle,#loading5 #outerCircle
{
	display:block;
	position:absolute;
	margin:0 auto;

	width:80px;
	height:80px;
	border-top:7px solid #00a94f;
	border-bottom:7px solid #00a94f;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
	
	box-shadow:0 0 20px #00a94f;
	-mozbox-shadow:0 0 20px #00a94f;
	-ms-box-shadow:0 0 20px #00a94f;
	-o-box-shadow:0 0 20px #06F;
	-webkit-box-shadow:0 0 20px #00a94f;
	
	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}

#loading1 #innerCircle #center,#loading2 #outerCircle1 #center,#loading4 #outerCircle1 #center
{
	display:block;
	margin:5px 0 0 5px;
	
	width:30px;
	height:30px;
	
	background-color:#00a94f;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
}






#loading5 #outerCircle
{
	box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	
	border-top:7px solid #e1e0e1;
	border-bottom:7px solid #00a94f;
	border-left:7px solid #00a94f;
	border-right:7px solid #e1e0e1;
	
	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}


@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(-360deg); }
}

@-webkit-keyframes blink
{
	0%{opacity:.3;filter:alpha(opacity=30);}
	50%{opacity:.5;filter:alpha(opacity=50);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@-moz-keyframes blink
{
	0%{opacity:.3;filter:alpha(opacity=30);}
	50%{opacity:.5;filter:alpha(opacity=50);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@-o-keyframes blink
{
	0%{opacity:.3;filter:alpha(opacity=30);}
	50%{opacity:.5;filter:alpha(opacity=50);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@-ms-keyframes blink
{
	0%{opacity:.3;filter:alpha(opacity=30);}
	50%{opacity:.5;filter:alpha(opacity=50);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@keyframes blink
{
	0%{opacity:.3;filter:alpha(opacity=30);}
	50%{opacity:.5;filter:alpha(opacity=50);}
	100%{opacity:1;filter:alpha(opacity=100);}
}


@-webkit-keyframes textShine
{
	0%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
	35%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	65%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
		2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
	}
	85%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	100%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
}
@keyframes textShine
{
	0%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
	35%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	65%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
		2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
	}
	85%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	100%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
}
@-moz-keyframes textShine
{
	0%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
	35%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	65%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
		2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
	}
	85%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	100%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
}
@-ms-keyframes textShine
{
	0%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
	35%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	65%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
		2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
	}
	85%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	100%{
		text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
}
@-o-keyframes textShine
{
	0%{
		-o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
	35%{
		-o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	65%{
		-o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
		2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
	}
	85%{
		-o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
	}
	100%{
		-o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
		2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
	}
}


@-webkit-keyframes bounce
{
	0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
	25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
	45%{margin-top:90px;-webkit-transform:scaleX(1.1);}
	50%{margin-top:100px;-webkit-transform:scaleX(1.6);}
	55%{margin-top:90px;-webkit-transform:scaleY(0.5);}
	60%{margin-top:80px;-webkit-transform:scaleX(0.6);}
	65%{margin-top:70px;-webkit-transform:scaleX(0.7);}
	70%{margin-top:60px;-webkit-transform:scaleX(0.8);}
	75%{margin-top:50px;-webkit-transform:scaleX(0.9);}
	80%{margin-top:40px;-webkit-transform:scaleX(1);}
	85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-moz-keyframes bounce
{
	0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
	25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
	45%{margin-top:90px;-moz-transform:scaleX(1.1);}
	50%{margin-top:100px;-moz-transform:scaleX(1.6);}
	55%{margin-top:90px;-moz-transform:scaleY(0.5);}
	60%{margin-top:80px;-moz-transform:scaleX(0.6);}
	65%{margin-top:70px;-moz-transform:scaleX(0.7);}
	70%{margin-top:60px;-moz-transform:scaleX(0.8);}
	75%{margin-top:50px;-moz-transform:scaleX(0.9);}
	80%{margin-top:40px;-moz-transform:scaleX(1);}
	85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-o-keyframes bounce
{
	0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
	25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
	45%{margin-top:90px;-o-transform:scaleX(1.1);}
	50%{margin-top:100px;-o-transform:scaleX(1.6);}
	55%{margin-top:90px;-o-transform:scaleY(0.5);}
	60%{margin-top:80px;-o-transform:scaleX(0.6);}
	65%{margin-top:70px;-o-transform:scaleX(0.7);}
	70%{margin-top:60px;-o-transform:scaleX(0.8);}
	75%{margin-top:50px;-o-transform:scaleX(0.9);}
	80%{margin-top:40px;-o-transform:scaleX(1);}
	85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-ms-keyframes bounce
{
	0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
	25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
	45%{margin-top:90px;-ms-transform:scaleX(1.1);}
	50%{margin-top:100px;-ms-transform:scaleX(1.6);}
	55%{margin-top:90px;-ms-transform:scaleY(0.5);}
	60%{margin-top:80px;-ms-transform:scaleX(0.6);}
	65%{margin-top:70px;-ms-transform:scaleX(0.7);}
	70%{margin-top:60px;-ms-transform:scaleX(0.8);}
	75%{margin-top:50px;-ms-transform:scaleX(0.9);}
	80%{margin-top:40px;-ms-transform:scaleX(1);}
	85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@keyframes bounce
{
	0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
	25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
	45%{margin-top:90px;transform:scaleX(1.1);}
	50%{margin-top:100px;transform:scaleX(1.6);}
	55%{margin-top:90px;transform:scaleY(0.5);}
	60%{margin-top:80px;transform:scaleX(0.6);}
	65%{margin-top:70px;transform:scaleX(0.7);}
	70%{margin-top:60px;transform:scaleX(0.8);}
	75%{margin-top:50px;transform:scaleX(0.9);}
	80%{margin-top:40px;transform:scaleX(1);}
	85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}

@-webkit-keyframes maskMove
{
	0%{margin:0 0 0 -10px;}
	100%{margin:0 0 0 300px;}
}
@-moz-keyframes maskMove
{
	0%{margin:0 0 0 -10px;}
	100%{margin:0 0 0 300px;}
}
@-o-keyframes maskMove
{
	0%{margin:0 0 0 -10px;}
	100%{margin:0 0 0 300px;}
}
@-ms-keyframes maskMove
{
	0%{margin:0 0 0 -10px;}
	100%{margin:0 0 0 300px;}
}
@keyframes maskMove
{
	0%{margin:0 0 0 -10px;}
	100%{margin:0 0 0 300px;}
}