

#loading #outerCircle
{
	display:block;
	position:absolute;
	margin:0 auto;
	width:40px;
	height:40px;
	border-top:6px solid #00a94f;
	border-bottom:6px solid #00a94f;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-radius:40px;
	box-shadow:0 0 20px #00a94f;
	animation: cwSpin .666s linear .2s infinite;
}
#loading{
	position: relative;
	width:80px;
	height:80px;
	float: left;  
}
#loading p {
	position: absolute;
	bottom:-10px;
	font-size:14px;
	color:#00a94f;    
}
#loading #outerCircle
{
	box-shadow:none;
	border-top:6px solid #e1e0e1;
	border-bottom:6px solid #00a94f;
	border-left:6px solid #00a94f;
	border-right:6px solid #e1e0e1; 
	animation: cwSpin .666s linear .2s infinite;
}

@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}


