header .headerContent .navi, .mainScreen .top_banner, .mainScreen .top_banner .visitor_count, .mainScreen .slider_banner .slider .navi ul, .mainScreen .slider_banner .slider .item.common .group, .mainScreen .step .navi, .mainScreen .step .group.step1, .mainScreen .step .group.step1 .btns, .mainScreen .step .group.step1 .btns li, .mainScreen .step .group.step1 .btns li .card, .mainScreen .step .group.step2, .mainScreen .step .group.step3, .mainScreen .step .group.step4, .mainScreen .step .group.step5, .mainScreen .service .btns, .mainScreen .knowledge .qa .answer .a1 {
	zoom: 1
}
header .headerContent .navi:before, .mainScreen .top_banner:before, .mainScreen .top_banner .visitor_count:before, .mainScreen .slider_banner .slider .navi ul:before, .mainScreen .slider_banner .slider .item.common .group:before, .mainScreen .step .navi:before, .mainScreen .step .group.step1:before, .mainScreen .step .group.step1 .btns:before, .mainScreen .step .group.step1 .btns li:before, .mainScreen .step .group.step1 .btns li .card:before, .mainScreen .step .group.step2:before, .mainScreen .step .group.step3:before, .mainScreen .step .group.step4:before, .mainScreen .step .group.step5:before, .mainScreen .service .btns:before, .mainScreen .knowledge .qa .answer .a1:before {
	content: "";
	display: table
}
header .headerContent .navi:after, .mainScreen .top_banner:after, .mainScreen .top_banner .visitor_count:after, .mainScreen .slider_banner .slider .navi ul:after, .mainScreen .slider_banner .slider .item.common .group:after, .mainScreen .step .navi:after, .mainScreen .step .group.step1:after, .mainScreen .step .group.step1 .btns:after, .mainScreen .step .group.step1 .btns li:after, .mainScreen .step .group.step1 .btns li .card:after, .mainScreen .step .group.step2:after, .mainScreen .step .group.step3:after, .mainScreen .step .group.step4:after, .mainScreen .step .group.step5:after, .mainScreen .service .btns:after, .mainScreen .knowledge .qa .answer .a1:after {
	content: "";
	display: table;
	clear: both
}
.mainScreen .top_banner .scrollDown a, .mainScreen .top_banner .kv .content a, .mainScreen .slider_banner .slider .arrow, .mainScreen .slider_banner .slider .navi a, .mainScreen .slider_banner .slider .banner_internal a, .mainScreen .step .navi li a, .mainScreen .step .group.step2 .info a, .mainScreen .step .group.step3 .info a, .mainScreen .step .group.step4 .info a, .mainScreen .service .btns a, .mainScreen .knowledge .qa .question a, .mainScreen .top_banner .title h1, .mainScreen .top_banner .visitor_count .count a, .mainScreen .step .group.step1 .btns li .btn {
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	font-size: 0;
	line-height: 0
}
.mainScreen .top_banner .scrollDown a, .mainScreen .top_banner .kv .content a, .mainScreen .slider_banner .slider .arrow, .mainScreen .slider_banner .slider .navi a, .mainScreen .slider_banner .slider .banner_internal a, .mainScreen .step .navi li a, .mainScreen .step .group.step2 .info a, .mainScreen .step .group.step3 .info a, .mainScreen .step .group.step4 .info a, .mainScreen .service .btns a, .mainScreen .knowledge .qa .question a {
	display: block
}
body {
	background: url("bg.png") left top repeat
}
body.loading {
	overflow: hidden
}
header {
	position: fixed;
	width: 100%;
	min-width:1280px;
	left: 0;
	top: 0;
	z-index: 9999
}
header .headerContent {
	height: 64px;
	background: #fff
}
header .headerContent .logo {
	margin-top: 9px
}
header .headerContent .alpha {
	position: fixed;
	width: 98px;
	height: 103px;
	bottom: 0;
	right: 0;
	background-image: url(alpha.png);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 9999
}
header .headerContent .container {
	text-align: right
}
header .headerContent .navi {
	display: inline-block;
	text-align: center
}
header .headerContent .navi li {
	position: relative;
	float: left
}
header .headerContent .navi a {
	position: relative;
	display: block;
	width: 134px;
	font-size: 20px;
	line-height: 64px;
	font-weight: 800;
	color: #5e5e5e;
	text-decoration: none
}
header .headerContent .navi a::before {
	position: absolute;
	display: block;
	content: "";
	width: 41px;
	height: 62px;
	left: -20px;
	top: 2px;
	/* background:#fff; */
}
header .headerContent .navi a.n1, header .headerContent .navi a.n2 {
	margin-right: -21px;
	background: url("header_navi1.png") left top no-repeat
}
header .headerContent .navi a.n1:hover, header .headerContent .navi a.n2:hover {
	color: #20772c
}
header .headerContent .navi a.n3, header .headerContent .navi a.n4 {
	color: #fff;
	background: url("header_navi2.png") left top no-repeat
}
header .headerContent .navi a.n3:hover, header .headerContent .navi a.n4:hover {
	background-position: left bottom
}
header .headerContent .navi a.n1::before {
	content: none
}
header .headerContent .navi a.n3 {
	margin-right: -21px
}
header .headerContent .navi a.n4::before {
	/* background: url("header_navi_shadow2.png") left top no-repeat */
}
header .headerContent .navi a.n4.hover::before {
	/* background: url("header_navi_shadow3.png") left top no-repeat */
}
article.wrapper {
	min-width: 1280px;
	padding-top: 64px
}
article.footer_top {
	min-width: 1280px;
	background-color: #fff
}
#preload {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999
}
#preload .loading {
	position: absolute;
	width: 640px;
	left: 50%;
	top: 43%;
	margin-left: -320px;
	text-align: center;
	z-index: 2
}
#preload .loading .txt {
	font-size: 32px;
	line-height: 36px;
	color: #209e2c;
	font-weight: 400;
	text-align: center
}
#preload:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("bg.png") left top repeat;
	z-index: 1
}
.mainScreen h1, .mainScreen p, .mainScreen span, .mainScreen li {
	font-family: "GenJyuuGothic", "Microsoft JhengHei", Arial, Verdana, Geneva
}
.mainScreen section.text_in {
	padding: 0px 0px 60px 0px;
	text-align: left;
	background: transparent
}
.mainScreen .container {
	position: relative;
	max-width:1280px;
	padding: 0px 10px;
	height: 100%;
	margin: 0 auto
}
.mainScreen .container .line {
	height: 4px;
	margin: 20px 0px;
	background: url("line.png") left top repeat-x
}
.mainScreen .container .headline {
	font-size: 45px;
	line-height: 51px;
	font-weight: bold;
	color: #209e2c;
	text-align: center
}
.mainScreen .main_banner {
	background: url("banner_bg.png") center bottom no-repeat
}
.mainScreen .top_banner {
	height: 635px
}
.mainScreen .top_banner .scrollDown {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 560px;
	margin-left: -34px;
	text-align: center
}
.mainScreen .top_banner .scrollDown p {
	position: relative;
	font-size: 17px;
	line-height: 25px;
	font-weight: 800;
	color: #ffe400;
	z-index: 1
}
.mainScreen .top_banner .scrollDown img {
	position: relative;
	z-index: 1
}
.mainScreen .top_banner .scrollDown a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2
}
.mainScreen .top_banner .header {
	position: relative;
	float: left;
	width: 522px
}
.mainScreen .top_banner .kv {
	position: relative;
	float: left
}
.mainScreen .top_banner .kv .content {
	overflow: hidden;
	position: absolute;
	width: 753px;
	height: 674px;
	left: -36px;
	top: -35px
}
.mainScreen .top_banner .kv .content iframe {
	position: relative;
	width: 753px;
	height: 674px;
	border: none;
	z-index: 1
}
.mainScreen .top_banner .kv .content a {
	position: absolute;
	width: 101px;
	height: 153px;
	z-index: 3
}
.mainScreen .top_banner .kv .content a.a1 {
	left: 432px;
	top: 75px
}
.mainScreen .top_banner .kv .content a.a2 {
	left: 190px;
	top: 238px
}
.mainScreen .top_banner .kv .content a.a3 {
	left: 477px;
	top: 418px
}
.mainScreen .top_banner .kv .content .show {
	position: absolute;
	z-index: 2;
	display: none
}
.mainScreen .top_banner .kv .content .show p {
	font-size: 22px;
	line-height: 31px;
	font-weight: bold;
	color: #fff
}
.mainScreen .top_banner .kv .content .show p.name {
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
	color: #f7ed04
}
.mainScreen .top_banner .kv .content .show.s1 {
	width: 228px;
	height: 168px;
	padding-left: 20px;
	padding-top: 53px;
	left: 507px;
	top: 165px;
	background: url("kv_alert1.png") left top no-repeat
}
.mainScreen .top_banner .kv .content .show.s2 {
	width: 198px;
	height: 168px;
	padding-left: 20px;
	padding-top: 20px;
	left: -1px;
	top: 117px;
	background: url("kv_alert2.png") left top no-repeat
}
.mainScreen .top_banner .kv .content .show.s3 {
	width: 196px;
	height: 178px;
	padding-left: 52px;
	padding-top: 24px;
	left: 545px;
	top: 428px;
	background: url("kv_alert3.png") left top no-repeat
}
.mainScreen .top_banner .kv .content .arrow1 {
	position: absolute;
	width: 25px;
	height: 22px;
	left: 474px;
	top: 55px;
	background: url("kv_arrow1.png") left top no-repeat;
	animation: arrow1 .7s linear infinite;
	z-index: 1
}
.mainScreen .top_banner .kv .content .arrow2 {
	position: absolute;
	width: 24px;
	height: 22px;
	left: 216px;
	top: 221px;
	background: url("kv_arrow2.png") left top no-repeat;
	animation: arrow2 .7s .1s linear infinite;
	z-index: 1
}
.mainScreen .top_banner .kv .content .arrow3 {
	position: absolute;
	width: 25px;
	height: 22px;
	left: 527px;
	top: 397px;
	background: url("kv_arrow3.png") left top no-repeat;
	animation: arrow3 .7s .2s linear infinite;
	z-index: 1
}
.mainScreen .top_banner .title {
	overflow: hidden;
	width: 402px;
	height: 275px;
	margin-left: 60px;
	margin-top: 62px
}
.mainScreen .top_banner .title iframe {
	width: 402px;
	height: 275px;
	border: none
}
.mainScreen .top_banner .visitor_count {
	margin-top: 30px
}
.mainScreen .top_banner .visitor_count .count {
	float: left;
	display: inline-block;
	text-align: center
}
.mainScreen .top_banner .visitor_count .count p {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	color: #5e5e5e
}
.mainScreen .top_banner .visitor_count .count p span {
	color: #13ae67
}
.mainScreen .top_banner .visitor_count .count a {
	display: inline-block;
    margin-top: 15px;
    background:#ff6600;
    text-indent: inherit;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    border-radius:10px; 
}
.mainScreen .top_banner .visitor_count .count a:hover {
    opacity: .8;
    text-decoration:none;
}
.mainScreen .top_banner .visitor_count .count.c1 {
	width: 266px
}
.mainScreen .top_banner .visitor_count .count.c1 a {
	width: 225px;
	height: 65px;
}
.mainScreen .top_banner .visitor_count .count.c2 {
	width: 256px
}
.mainScreen .top_banner .visitor_count .count.c2 a {
	width: 225px;
	height: 65px;
}
.mainScreen .slider_banner {
	height: 603px;
	color: #5e5e5e
}
.mainScreen .slider_banner .slider {
	overflow: hidden;
	position: relative;
	width: 1228px;
	height: 100%
}
.mainScreen .slider_banner .slider .arrow {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 220px;
	background-image: url("slider_arrow.png");
	background-repeat: no-repeat;
	z-index: 50
}
.mainScreen .slider_banner .slider .arrow.prev {
	left: 3px;
	background-position: left top;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	-o-transition: left .2s ease-in-out;
	-ms-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in
}
.mainScreen .slider_banner .slider .arrow.prev:hover {
	left: 0px
}
.mainScreen .slider_banner .slider .arrow.next {
	right: 3px;
	background-position: right top;
	-webkit-transition: right .2s ease-in-out;
	-moz-transition: right .2s ease-in-out;
	-o-transition: right .2s ease-in-out;
	-ms-transition: right .2s ease-in-out;
	transition: right .2s ease-in-out;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in
}
.mainScreen .slider_banner .slider .arrow.next:hover {
	right: 0px
}
.mainScreen .slider_banner .slider .navi {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 25px;
	text-align: center;
	z-index: 99
}
.mainScreen .slider_banner .slider .navi ul {
	display: inline-block
}
.mainScreen .slider_banner .slider .navi li {
	float: left;
	padding: 0px 16px
}
.mainScreen .slider_banner .slider .navi a {
	width: 16px;
	height: 16px;
	-moz-border-radius: 8px / 8px;
	-webkit-border-radius: 8px 8px;
	border-radius: 8px / 8px;
	background-color: #ffd800
}
.mainScreen .slider_banner .slider .navi a:hover, .mainScreen .slider_banner .slider .navi a.current {
	background-color: #278d36
}
.mainScreen .slider_banner .slider .item {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2
}
.mainScreen .slider_banner .slider .item.common {
	display: block
}
.mainScreen .slider_banner .slider .item.common .title1 {
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 10px;
	font-weight: bold
}
.mainScreen .slider_banner .slider .item.common .title2 {
	font-size: 19px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 5px
}
.mainScreen .slider_banner .slider .item.common p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 800
}
.mainScreen .slider_banner .slider .banner_internal {
	position: relative;
	width: 845px;
	height: 539px;
	margin-left: 200px;
	margin-top: 3px
}
.mainScreen .slider_banner .slider .banner_internal .frame {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("slider_banner.png") left top no-repeat;
	z-index: 2
}
.mainScreen .slider_banner .slider .banner_internal img {
	position: absolute;
	left: 39px;
	top: 56px;
	z-index: 1
}
.mainScreen .slider_banner .slider .banner_internal a {
	position: absolute;
	width: 765px;
	height: 334px;
	left: 39px;
	top: 56px;
	z-index: 3
}
.mainScreen .slider_banner .slider .ruler {
	position: absolute;
	width: 330px;
	height: 385px;
	padding-left: 85px;
	padding-top: 132px;
	left: 106px;
	top: 72px;
	background: url("slider_rules.png") left top no-repeat
}
.mainScreen .slider_banner .slider .ruler .title1, .mainScreen .slider_banner .slider .ruler .title2 {
	color: #208188
}
.mainScreen .slider_banner .slider .paper {
	position: absolute;
	width: 310px;
	height: 400px;
	left: 469px;
	padding-left: 36px;
	padding-top: 107px;
	top: 5px;
	background: url("slider_paper.png") left top no-repeat
}
.mainScreen .slider_banner .slider .paper .title1, .mainScreen .slider_banner .slider .paper .title2 {
	color: #209e2c
}
.mainScreen .slider_banner .slider .coin {
	position: absolute;
	width: 381px;
	height: 315px;
	padding-left: 96px;
	padding-top: 76px;
	left: 745px;
	top: 87px;
	background: url("slider_coin.png") left top no-repeat
}
.mainScreen .slider_banner .slider .coin .title1, .mainScreen .slider_banner .slider .coin .title2 {
	color: #20796a
}
.mainScreen .step {
	min-height: 616px;
	padding-top: 25px
}
.mainScreen .step .caption {
	margin-top: 10px;
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
	color: #209e2c;
	text-align: center
}
.mainScreen .step .line {
	height: 8px;
	margin: 0;
	background: url("step_line.png") left top repeat-x
}
.mainScreen .step .navi {
	width: 100%;
	height: 109px;
	margin-top: 50px;
	margin-bottom: 75px;
	background: url("step_navi.png") left top no-repeat
}
.mainScreen .step .navi li {
	position: relative;
	float: left;
	padding: 20px 40px 0px 40px;
	font-weight: bold;
	text-align: center
}
.mainScreen .step .navi li a {
	position: absolute;
	width: 100%;
	height: 109px;
	left: 0;
	top: 0;
	z-index: 2
}
.mainScreen .step .navi li span {
	position: relative;
	display: inline-block;
	padding: 0px 13px;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 27px;
	color: #fff;
	background-color: #209e2c;
	z-index: 1;
	-moz-border-radius: 15px / 15px;
	-webkit-border-radius: 15px 15px;
	border-radius: 15px / 15px
}
.mainScreen .step .navi li:first-child {
	padding-left: 76px
}
.mainScreen .step .navi li:last-child::after {
	content: none
}
.mainScreen .step .navi li::after {
	position: absolute;
	display: block;
	content: "";
	width: 16px;
	height: 30px;
	right: -13px;
	top: 37px;
	background: url("step_arrow.png") left top no-repeat
}
.mainScreen .step .navi p {
	position: relative;
	font-size: 26px;
	line-height: 32px;
	color: #5e5e5e;
	z-index: 1
}
.mainScreen .step .group .info p {
	font-size: 18px;
	line-height: 26px;
	font-weight: 800;
	color: #5e5e5e
}
.mainScreen .step .group .info p.tag {
	display: inline-block;
	padding: 0px 13px;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #fff;
	background-color: #209e2c;
	-moz-border-radius: 15px / 15px;
	-webkit-border-radius: 15px 15px;
	border-radius: 15px / 15px
}
.mainScreen .step .group .info p.title {
	margin: 15px 0px;
	font-size: 46px;
	line-height: 50px;
	font-weight: bold;
	color: #209e2c
}
.mainScreen .step .group .info p.txt {
	padding-left: 2px
}
.mainScreen .step .group.step1 {
	padding-bottom: 80px
}
.mainScreen .step .group.step1 .info {
	position: relative;
	float: left;
	margin-top: 24px
}
.mainScreen .step .group.step1 .info img {
	position: absolute;
	left: 233px;
	top: 108px
}
.mainScreen .step .group.step1 .btns {
	float: right
}
.mainScreen .step .group.step1 .btns li {
	position: relative;
	float: left;
	width: 238px;
	margin-left: 64px;
	text-align: center
}
.mainScreen .step .group.step1 .btns li .card {
	height: 197px;
	padding-top: 43px;
	margin-bottom: 15px;
	-moz-border-radius: 30px / 30px;
	-webkit-border-radius: 30px 30px;
	border-radius: 30px / 30px
}
.mainScreen .step .group.step1 .btns li .card.c1 {
	background-color: #209e2c
}
.mainScreen .step .group.step1 .btns li .card.c1 p {
	color: #fff
}
.mainScreen .step .group.step1 .btns li .card.c1 p.caption {
	color: #f8ed13;
	text-shadow: rgba(91, 91, 91, 0.5) 0px 4px 9px
}
.mainScreen .step .group.step1 .btns li .card.c1 p.caption::after {
	border-top: 1px solid #209b2c;
	border-bottom: 1px solid #5cb865
}
.mainScreen .step .group.step1 .btns li .card.c2, .mainScreen .step .group.step1 .btns li .card.c3 {
	background-color: #fff;
	border: 4px solid #209e2c
}
.mainScreen .step .group.step1 .btns li .card.c2 p, .mainScreen .step .group.step1 .btns li .card.c3 p {
	color: #5e5e5e
}
.mainScreen .step .group.step1 .btns li .card.c2 p.caption, .mainScreen .step .group.step1 .btns li .card.c3 p.caption {
	color: #209e2c
}
.mainScreen .step .group.step1 .btns li .card.c2 p.caption::after, .mainScreen .step .group.step1 .btns li .card.c3 p.caption::after {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c3e2c6
}
.mainScreen .step .group.step1 .btns li p {
	font-size: 18px;
	line-height: 24px;
	font-weight: 800
}
.mainScreen .step .group.step1 .btns li p.caption {
	position: relative;
	padding-bottom: 17px;
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold
}
.mainScreen .step .group.step1 .btns li p.caption::after {
	display: block;
	position: absolute;
	content: "";
	width: 186px;
	margin-left: -93px;
	left: 50%;
	bottom: 0px
}
.mainScreen .step .group.step1 .btns li .btn {
	display: inline-block;
	width: 239px;
	height: 64px;
    background: #ff6600;
    text-indent: inherit;
    line-height: 64px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}
.mainScreen .step .group.step1 .btns li .btn:hover {
    opacity: .8;
    text-decoration: none;
}
.mainScreen .step .group.step1 .btns li .btn.b1 {

}
.mainScreen .step .group.step1 .btns li .btn.b2 {
}
.mainScreen .step .group.step1 .btns li .btn.b3 {

}
.mainScreen .step .group.step2 {
	padding-top: 52px;
	padding-bottom: 36px
}
.mainScreen .step .group.step2 .pic {
	float: left;
	width: 633px;
	text-align: right
}
.mainScreen .step .group.step2 .pic img {
	display: inline-block;
	margin-right: 45px
}
.mainScreen .step .group.step2 .info {
	float: left;
	padding-top: 68px
}
.mainScreen .step .group.step2 .info a {
	width: 239px;
	height: 64px;
	margin-top: 10px;
	background: url("step2_btn.png?v=3") left top no-repeat
}
.mainScreen .step .group.step2 .info a:hover {
	opacity: .8
}
.mainScreen .step .group.step3 {
	padding-bottom: 45px
}
.mainScreen .step .group.step3 .info {
	float: left;
	padding-top: 60px;
	padding-left: 264px
}
.mainScreen .step .group.step3 .info a {
	width: 239px;
	height: 64px;
	margin-top: 10px
}
.mainScreen .step .group.step3 .info a:hover {
	opacity: .8
}
.mainScreen .step .group.step3 .info a.btn1 {
	background: url("step3_btn1.png?v=3") left top no-repeat
}
.mainScreen .step .group.step3 .info a.btn2 {
	margin-top: 15px;
	background: url("step3_btn2.png?v=3") left top no-repeat
}
.mainScreen .step .group.step3 .pic {
	float: left
}
.mainScreen .step .group.step3 .pic img {
	display: inline-block;
	margin-left: 15px;
	margin-top: -32px
}
.mainScreen .step .group.step4 {
	padding-top: 31px
}
.mainScreen .step .group.step4 .pic {
	float: left;
	width: 633px;
	text-align: right
}
.mainScreen .step .group.step4 .info {
	float: left;
	padding-top: 60px
}
.mainScreen .step .group.step4 .info a {
	width: 239px;
	height: 64px;
	margin-top: 10px;
	background: url("step4_btn.png?v=3") left top no-repeat
}
.mainScreen .step .group.step4 .info a:hover {
	opacity: .8
}
.mainScreen .step .group.step5 {
	padding-bottom: 58px
}
.mainScreen .step .group.step5 .info {
	float: left;
	padding-top: 100px;
	padding-left: 333px
}
.mainScreen .step .group.step5 .pic {
	float: left
}
.mainScreen .step .group.step5 .pic img {
	display: inline-block;
	margin-left: 5px;
	margin-top: -39px
}
.mainScreen .service {
	height: 521px;
	background: url("service_bg.webp") center bottom no-repeat
}
.mainScreen .service p {
	font-size: 28px;
	line-height: 34px;
	font-weight: bold;
	color: #fff
}
.mainScreen .service .container {
	text-align: center
}
.mainScreen .service .content {
	display: inline-block;
	width: 580px
}
.mainScreen .service .icon {
	display: inline-block;
	width: 227px;
	height: 251px;
	margin-top: 24px;
	background: url("service_icon.png") left top no-repeat
}
.mainScreen .service .title {
	display: inline-block;
	font-size: 45px;
	line-height: 51px;
	margin-top: 10px;
	margin-bottom: 5px
}
.mainScreen .service .tips {
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px
}
.mainScreen .service .btns {
	display: inline-block;
	padding-top: 25px
}
.mainScreen .service .btns .left {
	float: left
}
.mainScreen .service .btns .right {
	float: right
}
.mainScreen .service .btns a {
	width: 225px;
	height: 64px
}
.mainScreen .service .btns a:hover {
	opacity: .8
}
.mainScreen .service .btn1 {
	margin-right: 23px;
	background: url("service_btn1.png") left top no-repeat
}
.mainScreen .service .btn2 {
	margin-left: 23px;
	background: url("service_btn2.png") left top no-repeat
}
.mainScreen .knowledge {
	padding-top: 51px
}
.mainScreen .knowledge .qa {
	margin-top: 50px
}
.mainScreen .knowledge .qa p, .mainScreen .knowledge .qa li {
	font-size: 16px;
	line-height: 31px;
	font-weight: 800;
	color: #5e5e5e
}
.mainScreen .knowledge .qa li {
	position: relative;
	padding-left: 20px
}
.mainScreen .knowledge .qa li::before {
	position: absolute;
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	left: 0;
	top: 6px;
	background: url("a_li.gif?v=2") left top no-repeat
}
.mainScreen .knowledge .qa li a {
	font-size: 16px;
	line-height: 31px;
	font-weight: 800;
	color: #209e2c;
	text-decoration: underline
}
.mainScreen .knowledge .qa .question {
	position: relative;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 31px;
	font-weight: bold;
	color: #5e5e5e
}
.mainScreen .knowledge .qa .question:hover {
	opacity: .8
}
.mainScreen .knowledge .qa .question a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-decoration: none
}
.mainScreen .knowledge .qa .question a:hover::after {
	opacity: .8
}
.mainScreen .knowledge .qa .question a::after {
	position: absolute;
	display: block;
	content: "";
	width: 25px;
	height: 26px;
	right: 0;
	top: 3px;
	background: url("switch.png") left top no-repeat
}
.mainScreen .knowledge .qa .question a.active::after {
	background-position: left bottom
}
.mainScreen .knowledge .qa .question span {
	color: #009043;
	margin-right: 7px
}
.mainScreen .knowledge .qa .answer {
	display: none;
	padding: 20px 35px 20px 20px;
	background: #fff;
	-moz-border-radius: 15px / 15px;
	-webkit-border-radius: 15px 15px;
	border-radius: 15px / 15px
}
.mainScreen .knowledge .qa .answer .caption {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 31px;
	font-weight: bold;
	color: #009043
}
.mainScreen .knowledge .qa .answer .a1 {
	padding: 15px 0px 30px 0px
}
.mainScreen .knowledge .qa .answer .a1 .content {
	float: left;
	height: 322px;
	text-align: center
}
.mainScreen .knowledge .qa .answer .a1 .content .title {
	display: inline-block;
	font-size: 18px;
	line-height: 38px;
	font-weight: bold;
	padding: 0px 20px;
	color: #fff;
	background-color: #009043;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px 20px;
	border-radius: 20px / 20px
}
.mainScreen .knowledge .qa .answer .a1 .content .title span {
	color: #f8ee13
}
.mainScreen .knowledge .qa .answer .a1 .content .pic {
	display: inline-block
}
.mainScreen .knowledge .qa .answer .a1 .content p {
	display: inline-block;
	line-height: 26px
}
.mainScreen .knowledge .qa .answer .a1 .a1_c1 {
	position: relative;
	width: 618px;
	padding: 10px 71px 0px 71px
}
.mainScreen .knowledge .qa .answer .a1 .a1_c1::after {
	position: absolute;
	display: block;
	content: "";
	width: 4px;
	height: 322px;
	right: 0px;
	top: 0px;
	background: url("a1_line.gif") left top no-repeat
}
.mainScreen .knowledge .qa .answer .a1 .a1_c1 .pic {
	width: 473px;
	height: 189px;
	margin-top: 26px;
	background: url("a1_pic1.gif") left top no-repeat
}
.mainScreen .knowledge .qa .answer .a1 .a1_c2 {
	width: 555px;
	padding: 10px 20px 0px 20px
}
.mainScreen .knowledge .qa .answer .a1 .a1_c2 .title {
	margin-bottom: 20px
}
.mainScreen .knowledge .qa .answer .a1 .a1_c2 .pic {
	width: 198px;
	height: 163px;
	margin-top: 13px;
	background: url("a1_pic2.gif") left top no-repeat
}
.mainScreen .knowledge .notice {
	margin-top: 25px
}
.mainScreen .knowledge .notice p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 800;
	color: #5e5e5e
}
.mainScreen .knowledge .notice p.green {
	color: #009043
}
.mainScreen .knowledge .notice p.mb0 {
	margin-bottom: 0px
}
#hidden-pic {
	display: none !important
}
.arial {
	font-family: Arial !important;
	font-style: normal
}
@keyframes arrow1 {
	0%, 100% {
		top: 55px
	}
	50% {
		top: 57px
	}
}
@keyframes arrow2 {
	0%, 100% {
		top: 221px
	}
	50% {
		top: 223px
	}
}
@keyframes arrow3 {
	0%, 100% {
		top: 397px
	}
	50% {
		top: 399px
	}
}
@keyframes m-arrow1 {
	0%, 100% {
		top: 34px
	}
	50% {
		top: 36px
	}
}
@keyframes m-arrow2 {
	0%, 100% {
		top: 170px
	}
	50% {
		top: 172px
	}
}
@keyframes m-arrow3 {
	0%, 100% {
		top: 320px
	}
	50% {
		top: 322px
	}
}
@media screen and (min-width:1025px) {
	.sm {
		display: none !important
	}
}
@media screen and (max-width:1024px) {
	body {
		background: #fff
	}
	header, article.wrapper, article.footer_top {
		width: 100%;
		min-width: 640px;
		margin: 0 auto
	}
	footer {
		width: 100%;
		min-width: 640px
	}
	article.footer_top {
		float: none
	}
	article.wrapper {
		padding-top: 71px
	}
	.back_b {
		background: rgba(0, 0, 0, 0.75);
		display: none;
		height: 100%;
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 98
	}
	.back_b.on {
		display: block
	}
	header {
		height: 71px;
		background: url("m_header.gif") left top repeat-x
	}
	header .headerContent {
		height: 71px;
		background: #01994e
	}
	header .headerContent .logo {
		position: absolute;
		width: 250px;
		height: 35px;
		top: 18px;
		left: 50%;
		margin-left: 0;
		margin-top: 0;
		background-image: url(cathay_logo_s.png);
		margin-left: -125px;
		background-repeat: no-repeat;
		background-size: 250px 35px;
		z-index: 1
	}
	header .headerContent .alpha {
		position: absolute;
		width: 60px;
		height: 60px;
		top: 5px;
		right: 5px;
		left: auto;
		margin-left: 0;
		z-index: 1;
		background: url("m_alpha.png") left top no-repeat;
		background-size: 100%
	}
	header .headerContent .navi {
		display: none
	}
	header .headerContent #toggle {
		display: block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		position: absolute;
		left: 25px;
		top: 8px
	}
	header .headerContent #toggle .line {
		width: 100%;
		height: 4px;
		background: #fff;
		margin: 11px auto;
		transition: all 0.3s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden
	}
	header .headerContent #toggle .line.one.on {
		-webkit-transform: rotate(45deg) translate(10px, 11px);
		transform: rotate(45deg) translate(10px, 11px)
	}
	header .headerContent #toggle .line.two.on {
		opacity: 0
	}
	header .headerContent #toggle .line.three.on {
		-webkit-transform: rotate(-45deg) translate(10px, -12px);
		transform: rotate(-45deg) translate(10px, -12px)
	}
	header .headerContent .menu {
		position: relative;
		width: 100%;
		height: auto;
		float: left;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		top: 70px;
		left: 0;
		display: none;
		padding-bottom: 25px
	}
	header .headerContent .menu.active {
		display: block;
		background: #fff
	}
	header .headerContent .menu a {
		font-size: 30px;
		line-height: 78px;
		font-weight: 800;
		font-family: "GenJyuuGothic", "Microsoft JhengHei", Arial, Verdana, Geneva;
		color: #000;
		text-align: center;
		position: relative;
		width: 100%;
		height: auto;
		float: left;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 15px 0px
	}
	header .headerContent .menu a.m1:after, header .headerContent .menu a.m2:after {
		background-color: #fff
	}
	header .headerContent .menu a.m3:after, header .headerContent .menu a.m4:after {
		border: 4px solid #00a84f
	}
	header .headerContent .menu a p {
		position: relative;
		z-index: 2
	}
	header .headerContent .menu a:hover {
		font-size: 30px;
		line-height: 78px;
		background-color: #fff
	}
	header .headerContent .menu a:hover:after {
		border: none;
		background-color: #ff7019
	}
	header .headerContent .menu a:after {
		position: absolute;
		display: block;
		content: "";
		width: 267px;
		height: 78px;
		left: 50%;
		top: 50%;
		margin-left: -133px;
		margin-top: -39px;
		-moz-border-radius: 30px / 30px;
		-webkit-border-radius: 30px 30px;
		border-radius: 40px / 40px;
		background-color: #fff;
		z-index: 1
	}
	.mainScreen section.text_in {
		background: url("bg.png") left top repeat
	}
	.mainScreen .container {
		width: 640px;
		padding: 0px 40px
	}
	.mainScreen .container .headline {
		font-size: 64px;
		line-height: 70px
	}
	.mainScreen .main_banner {
		background: url("m_banner_bg.png?v=2.1") center bottom no-repeat
	}
	.mainScreen .top_banner {
		height: 900px
	}
	.mainScreen .top_banner .scrollDown {
		top: 813px
	}
	.mainScreen .top_banner .header {
		float: none;
		width: 100%
	}
	.mainScreen .top_banner .header .title {
		overflow: hidden;
		width: 560px;
		height: 179px;
		margin: 3px 0px 0px
	}
	.mainScreen .top_banner .header .title iframe {
		width: 560px;
		height: 179px;
		border: none
	}
	.mainScreen .top_banner .kv {
		float: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0
	}
	.mainScreen .top_banner .kv .content {
		overflow: hidden;
		width: 622px;
		height: 571px;
		left: 50%;
		top: 218px;
		margin-left: -311px
	}
	.mainScreen .top_banner .kv .content iframe {
		width: 622px;
		height: 571px
	}
	.mainScreen .top_banner .kv .content a {
		width: 66px;
		height: 117px
	}
	.mainScreen .top_banner .kv .content a.a1 {
		left: 364px;
		top: 64px
	}
	.mainScreen .top_banner .kv .content a.a2 {
		left: 165px;
		top: 200px
	}
	.mainScreen .top_banner .kv .content a.a3 {
		left: 404px;
		top: 346px
	}
	.mainScreen .top_banner .kv .content .show p {
		font-size: 18px;
		line-height: 26px
	}
	.mainScreen .top_banner .kv .content .show p.name {
		font-size: 25px;
		line-height: 28px
	}
	.mainScreen .top_banner .kv .content .show.s1 {
		width: 196px;
		height: 144px;
		padding-left: 20px;
		padding-top: 46px;
		left: 429px;
		top: 130px;
		background: url("m_kv_alert1.png") left top no-repeat
	}
	.mainScreen .top_banner .kv .content .show.s2 {
		width: 170px;
		height: 144px;
		padding-left: 20px;
		padding-top: 18px;
		left: 3px;
		top: 90px;
		background: url("m_kv_alert2.png") left top no-repeat
	}
	.mainScreen .top_banner .kv .content .show.s3 {
		width: 169px;
		height: 153px;
		padding-left: 50px;
		padding-top: 22px;
		left: 456px;
		top: 282px;
		background: url("m_kv_alert3.png") left top no-repeat
	}
	.mainScreen .top_banner .kv .content .arrow1 {
		left: 388px;
		top: 34px;
		animation: m-arrow1 .7s linear infinite
	}
	.mainScreen .top_banner .kv .content .arrow2 {
		left: 184px;
		top: 170px;
		animation: m-arrow2 .7s linear infinite
	}
	.mainScreen .top_banner .kv .content .arrow3 {
		left: 430px;
		top: 320px;
		animation: m-arrow3 .7s linear infinite
	}
	.mainScreen .top_banner .visitor_count {
		position: relative;
		height: 111px;
		margin-top: 718px
	}
	.mainScreen .top_banner .visitor_count .content {
		width: 640px;
		margin: 0 auto
	}
	.mainScreen .top_banner .visitor_count.fixed {
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 97
	}
	.mainScreen .top_banner .visitor_count.fixed .c1 {
		margin-left: 40px
	}
	.mainScreen .top_banner .visitor_count .bg {
		display: block;
		position: absolute;
		width: 100%;
		height: 111px;
		left: 0;
		background-color: #fff;
		z-index: 1
	}
	.mainScreen .top_banner .visitor_count .count {
		position: relative;
		z-index: 2
	}
	.mainScreen .top_banner .visitor_count .count a {
		margin-top: 20px
	}
	.mainScreen .top_banner .visitor_count .count.c1 {
		width: 280px
	}
	.mainScreen .top_banner .visitor_count .count.c1 a {
		width: 268px;
		height: 64px;
		
	}
	.mainScreen .top_banner .visitor_count .count.c2 {
		width: 280px
	}
	.mainScreen .top_banner .visitor_count .count.c2 a {
		width: 268px;
		height: 64px;
		
	}
	.mainScreen .slider_banner {
		height: 792px
	}
	.mainScreen .slider_banner .container {
		padding: 0
	}
	.mainScreen .slider_banner .slider {
		width: 100%
	}
	.mainScreen .slider_banner .slider .arrow {
		width: 97px;
		height: 97px;
		top: 630px;
		background-image: url("m_slider_arrow.png")
	}
	.mainScreen .slider_banner .slider .arrow.prev {
		left: 200px
	}
	.mainScreen .slider_banner .slider .arrow.prev:hover {
		left: 198px
	}
	.mainScreen .slider_banner .slider .arrow.next {
		right: 200px
	}
	.mainScreen .slider_banner .slider .arrow.next:hover {
		right: 198px
	}
	.mainScreen .slider_banner .slider .navi {
		display: none
	}
	.mainScreen .slider_banner .slider .item {
		top: 50px
	}
	.mainScreen .slider_banner .slider .item.common {
		left: 0
	}
	.mainScreen .slider_banner .slider .item.common .group {
		margin-bottom: 5px
	}
	.mainScreen .slider_banner .slider .item.common .title1 {
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
		font-size: 50px;
		line-height: 56px
	}
	.mainScreen .slider_banner .slider .item.common .title2 {
		margin-bottom: 0;
		float: left;
		font-size: 24px;
		line-height: 34px
	}
	.mainScreen .slider_banner .slider .item.common p {
		font-size: 22px;
		line-height: 32px
	}
	.mainScreen .slider_banner .slider .banner_internal {
		width: 608px;
		height: 451px;
		margin-left: 17px;
		margin-top: 47px
	}
	.mainScreen .slider_banner .slider .banner_internal .frame {
		background: url("m_slider_banner.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .banner_internal img {
		position: absolute;
		left: 15px;
		top: 51px;
		z-index: 1
	}
	.mainScreen .slider_banner .slider .banner_internal a {
		width: 579px;
		height: 248px;
		left: 15px;
		top: 51px
	}
	.mainScreen .slider_banner .slider .ruler, .mainScreen .slider_banner .slider .paper, .mainScreen .slider_banner .slider .coin {
		position: relative;
		width: 520px;
		height: 160px;
		margin-left: 60px;
		margin-bottom: 20px;
		padding-left: 35px;
		left: 0;
		top: 0;
		background: none;
		background: #fff;
		-moz-border-radius: 55px / 55px;
		-webkit-border-radius: 55px 55px;
		border-radius: 55px / 55px
	}
	.mainScreen .slider_banner .slider .ruler {
		padding-top: 30px
	}
	.mainScreen .slider_banner .slider .ruler .title2 {
		padding-top: 12px
	}
	.mainScreen .slider_banner .slider .ruler .pic1 {
		position: absolute;
		width: 50px;
		height: 152px;
		left: -22px;
		top: -31px;
		background: url("m_slider_rules_p1.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .ruler .pic2 {
		position: absolute;
		width: 118px;
		height: 50px;
		left: 72px;
		top: -37px;
		background: url("m_slider_rules_p2.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .ruler .pic3 {
		position: absolute;
		width: 68px;
		height: 88px;
		left: 444px;
		top: -8px;
		background: url("m_slider_rules_p3.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .paper {
		padding-top: 14px
	}
	.mainScreen .slider_banner .slider .paper .title1 {
		padding-top: 4px
	}
	.mainScreen .slider_banner .slider .paper .pic1 {
		position: absolute;
		width: 54px;
		height: 78px;
		left: -31px;
		top: 59px;
		background: url("m_slider_paper_p1.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .paper .pic2 {
		position: absolute;
		width: 94px;
		height: 111px;
		left: 389px;
		top: 25px;
		background: url("m_slider_paper_p2.png") left top no-repeat
	}
	.mainScreen .slider_banner .slider .coin {
		padding-top: 14px
	}
	.mainScreen .slider_banner .slider .coin .title2 {
		padding-top: 12px
	}
	.mainScreen .slider_banner .slider .coin .pic1 {
		position: absolute;
		width: 79px;
		height: 75px;
		left: 415px;
		top: 43px;
		background: url("m_slider_coin_p1.png") left top no-repeat
	}
	.mainScreen .step .container {
		width: 100%;
		min-width: 640px;
		padding: 0px 10px
	}
	.mainScreen .step .navi {
		width: 620px;
		height: 137px;
		margin: 40px auto 30px auto;
		background: url("m_step_navi.png?v=2") left top no-repeat
	}
	.mainScreen .step .navi li {
		padding: 23px 15px 0px 15px
	}
	.mainScreen .step .navi li a {
		height: 137px
	}
	.mainScreen .step .navi li span {
		font-size: 14px;
		line-height: 24px
	}
	.mainScreen .step .navi li:first-child {
		padding-left: 35px
	}
	.mainScreen .step .navi li::after {
		width: 10px;
		height: 18px;
		right: -5px;
		top: 62px;
		background: url("m_step_arrow.png") left top no-repeat
	}
	.mainScreen .step .navi p {
		font-size: 21px;
		line-height: 28px
	}
	.mainScreen .step .group {
		max-width: 640px;
		padding: 0px 30px;
		margin: 0 auto
	}
	.mainScreen .step .group .info p {
		font-size: 22px;
		line-height: 32px
	}
	.mainScreen .step .group .info p.tag {
		padding: 0px 20px;
		font-size: 20px;
		line-height: 36px
	}
	.mainScreen .step .group .info p.title {
		margin: 5px 0px;
		font-size: 45px;
		line-height: 55px
	}
	.mainScreen .step .group.step1 {
		padding-bottom: 10px
	}
	.mainScreen .step .group.step1 .info {
		float: none;
		padding-left: 50px
	}
	.mainScreen .step .group.step1 .info p.tag {
		margin-left: -50px
	}
	.mainScreen .step .group.step1 .info img {
		left: 0px;
		top: 41px
	}
	.mainScreen .step .group.step1 .btns {
		float: none;
		margin-top: 10px
	}
	.mainScreen .step .group.step1 .btns li {
		width: 100%;
		margin-left: 0
	}
	.mainScreen .step .group.step1 .btns li .card {
		float: left;
		width: 413px;
		height: 107px;
		padding-top: 23px;
		padding-left: 10px;
		margin-bottom: 18px;
		-moz-border-radius: 15px / 15px;
		-webkit-border-radius: 15px 15px;
		border-radius: 15px / 15px
	}
	.mainScreen .step .group.step1 .btns li p {
		float: left;
		font-size: 22px;
		line-height: 30px;
		text-align: left
	}
	.mainScreen .step .group.step1 .btns li p.caption {
		font-size: 30px;
		line-height: 36px;
		padding-top: 3px;
		padding-right: 10px
	}
	.mainScreen .step .group.step1 .btns li p.caption::after {
		content: none
	}
	.mainScreen .step .group.step1 .btns li .btn {
		float: right;
		width: 138px;
		height: 107px
	}
	.mainScreen .step .group.step1 .btns li .btn.b1 {
		background-image: url("m_step1_btn1.png")
	}
	.mainScreen .step .group.step1 .btns li .btn.b2 {
		background-image: url("m_step1_btn2.png")
	}
	.mainScreen .step .group.step1 .btns li .btn.b3 {
		background-image: url("m_step1_btn3.png")
	}
	.mainScreen .step .group.step2 .pic {
		width: auto
	}
	.mainScreen .step .group.step2 .pic img {
		width: 245px;
		margin-right: 15px
	}
	.mainScreen .step .group.step2 .info {
		padding-top: 0;
		padding-left: 10px
	}
	.mainScreen .step .group.step3 {
		position: relative;
		padding-top: 52px;
		padding-bottom: 56px
	}
	.mainScreen .step .group.step3 .info {
		padding-left: 0;
		padding-top: 0
	}
	.mainScreen .step .group.step3 .pic {
		position: absolute;
		float: none;
		right: 0;
		top: 85px
	}
	.mainScreen .step .group.step3 .pic img {
		width: 287px
	}
	.mainScreen .step .group.step4 {
		position: relative;
		padding-top: 52px;
		padding-bottom: 105px
	}
	.mainScreen .step .group.step4 .pic {
		position: absolute;
		float: none;
		width: auto;
		left: 10px;
		top: 50px
	}
	.mainScreen .step .group.step4 .pic img {
		width: 300px
	}
	.mainScreen .step .group.step4 .info {
		padding-top: 0;
		padding-left: 280px
	}
	.mainScreen .step .group.step5 {
		position: relative;
		padding-top: 70px;
		padding-bottom: 135px
	}
	.mainScreen .step .group.step5 .info {
		padding-left: 0;
		padding-top: 0
	}
	.mainScreen .step .group.step5 .pic {
		float: none;
		position: absolute;
		right: 50px;
		top: -35px
	}
	.mainScreen .step .group.step5 .pic img {
		width: 303px;
		margin-left: 0;
		margin-top: 0
	}
	.mainScreen .knowledge .container {
		width: 100%;
		min-width: 640px;
		padding: 0px 12px
	}
	.mainScreen .knowledge .container .line {
		margin: 20px 20px
	}
	.mainScreen .knowledge .qa p, .mainScreen .knowledge .qa li {
		font-size: 24px;
		line-height: 34px
	}
	.mainScreen .knowledge .qa li::before {
		top: 12px
	}
	.mainScreen .knowledge .qa li a {
		font-size: 20px;
		line-height: 34px
	}
	.mainScreen .knowledge .qa .answer {
		padding: 20px 20px 20px 28px
	}
	.mainScreen .knowledge .qa .answer .caption {
		font-size: 26px;
		line-height: 35px
	}
	.mainScreen .knowledge .qa .answer .a1 {
		padding: 0px 15px
	}
	.mainScreen .knowledge .qa .answer .a1 .content {
		float: none;
		height: auto
	}
	.mainScreen .knowledge .qa .answer .a1 .content .title {
		font-size: 20px;
		line-height: 46px
	}
	.mainScreen .knowledge .qa .answer .a1 .content p {
		line-height: 34px
	}
	.mainScreen .knowledge .qa .answer .a1 .a1_c1 {
		width: auto;
		padding: 0;
		margin-top: 20px
	}
	.mainScreen .knowledge .qa .answer .a1 .a1_c1::after {
		content: none
	}
	.mainScreen .knowledge .qa .answer .a1 .a1_c2 {
		width: auto;
		padding: 0;
		margin: 40px 0px
	}
	.mainScreen .knowledge .qa .question {
		padding: 0px 60px 0px 20px;
		margin-left: 1.8em;
		text-indent: -1.4em;
		font-size: 28px;
		line-height: 34px
	}
	.mainScreen .knowledge .qa .question a::after {
		right: 20px
	}
	.mainScreen .knowledge .notice {
		padding: 0px 28px;
		margin-bottom: 95px
	}
	.mainScreen .knowledge .notice p {
		font-size: 20px;
		line-height: 34px
	}
	.lg {
		display: none !important
	}
}