@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

input {
  background: transparent;
  border: none;
}

input:focus, input:focus {
  outline: none !important;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
  font-size: 12px;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
}

.clear {
  clear: both;
}

img {
  vertical-align: top;
}

html {
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

html, body {
  height: 100%;
}

input {
  background: transparent;
  border: none;
}

input:focus, input:focus {
  outline: none !important;
}

body {
  background: #fff;
  font-family: '微軟正黑體';
  font-size: 12px;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
}

.clear {
  clear: both;
}

img {
  vertical-align: top;
}

html {
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 77px;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
header .headerContent {
  position: relative;
  width: 100%;
  height: 77px;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: #fff;
  z-index: 25;
}
header .headerContent .logo {
  width: 100px;
  height: 54px;
  position: absolute;
  top: 12px;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100px 54px;
  background-position: center center;
  z-index: 11;
}
header .headerContent .main-nav {
  margin-left: auto;
  float: right;
  margin-top: 20px;
}
header .headerContent .main-nav a {
  width: 100px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
}
header .headerContent .main-nav a:hover {
  opacity: 0.85;
}
header .headerContent .main-nav .b-bold-tm {
  display: inline-block;
  cursor: pointer;
}
header .headerContent .main-nav .b-bold-tm.green {
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00be42), to(#90e227));
  background-image: -webkit-linear-gradient(left, #00be42, #90e227 100%);
  background-image: -o-linear-gradient(left, #00be42, #90e227 100%);
  background-image: linear-gradient(to right, #00be42, #90e227 100%);
}
header .headerContent .main-nav .b-bold-tm.pink {
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e50082), to(#ff0099));
  background-image: -webkit-linear-gradient(left, #e50082, #ff0099 100%);
  background-image: -o-linear-gradient(left, #e50082, #ff0099 100%);
  background-image: linear-gradient(to right, #e50082, #ff0099 100%);
}
header .headerContent .main-nav .b-bold-tm:after {
  content: ">";
  font-size: 13px;
  color: #fff;
  margin-left: 5px;
}

header .headerContent:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 39px;
  bottom: -39px;
  left: 0;
  margin-left: 0;
  margin-bottom: 0;
  background-image: url(../../img/hearder_shadow.png);
  background-repeat: no-repeat;
  background-position: center center;
}

header .headerContent .s_logo.w_2box {
  width: 210px;
}

@media screen and (max-width: 640px) {
  header {
    height: 70px;
  }

  header .headerContent a .logo {
    position: relative;
    float: left;
  }

  header .headerContent .logo {
    position: absolute;
    width: 92px;
    height: 50px;
    background-image: url(../../img/logo.png);
    left: 0;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 11;
  }

  header .headerContent {
    height: 70px;
  }
}


