.mainScreen {
  position: relative;
  width: 1130px;
  margin: auto;
}

.textScreen {
  position: relative;
  width: 650px;
  margin: 0 auto;
}

.tab-slider--nav {
  width: 100%;
  height: 70px;
  float: left;
  background: #fff;
  border-top: 1px solid #858585;
  border-bottom: 1px solid #858585;
  margin-bottom: 20px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 70px;
  width: 100%;
}

.tab-slider--tabs:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -15px;
  left: 25%;
  margin-left: -15px;
  border-style: solid;
  border-width: 15px 14px 0 14px;
  border-color: #319dff transparent transparent transparent;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.tab-slider--tabs.slide:after {
  left: 75%;
}

.tab-slider--trigger {
  width: 50%;
  float: left;
  font-size: 18px;
  line-height: 67px;
  font-weight: bold;
  color: #464646;
  text-align: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.tab-slider--trigger.active {
  color: #319dff;
  border-bottom: 3px solid #319dff;
}

.tab-slider--body {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}


