<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Content/css/news.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/teach.css?css=20170811_01">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">KOKO 大小新鮮事</p>
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <figure class="news-header-image">
                                    <img src="../../Content/img/news/header-image.png?img=20171011_01" alt="KOKO 大小新鮮事" class="is-max-width">
                                </figure>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    <div class="news is-mini">
                        <div class="news-hd">
                            <div class="m-dialog">
                                <div class="m-dialog-hd b-text-center-dt jQ-owl-xs" data-items-xs="1" data-dots="false" data-arrow-xs="true" data-start-position="0">
                                   
                                    <div class="m-dialog-item b-col-xs-12">
                                        <a href="../../Views/News/Announcement.html" class="m-dialog-ctrl is-active ga_click_trace" ga_cat="news" ga_event="click" ga_label="tab_offical">
                                            <i class="m-icon m-icon-offer b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">優惠活動</em>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-bd">
                            <article class="news-article">
                               
                               
                                <div class="news-article-bd b-desc b-text-gray-47">
                                   

                               <p><a href="#"><img src="../../Content/img/news/school02.jpg" usemap="#Map"></a> </p>

                                
								<ol class="m-item-bd b-desc is-xs">	
							      <p><b class="b-bold h3">逢甲PAY活動現金回饋辦法</b></p>
									<br>
								   <li><p>活動期間：107年9月10日起至108年1月31日止。</p></li>
								   <li><p>活動內容：以KOKO APP掃描任一逢甲大學內逢甲PAY QR Code，不限金額成功完成轉帳付款一次，次月回饋現金新臺幣(下同)30元至KOKO帳戶，每月回饋上限90元。  </p></li>
                                   <li><p>領取方式：每月檢視掃描逢甲PAY QR Code成功完成轉帳付款者，每完成一次於次月回饋30元，每月回饋上限90元，將於108年2月完成全部回饋事宜。(例：107年9月完成逢甲PAY QR Code轉帳者，將於107年10月回饋。)
                                   </p></li>
								   <li><p>現金回饋採當期消費，次月回饋計算。現金回饋限入本人之KOKO帳戶(且計算回饋時及回饋當下帳戶狀態需為正常)，回饋金不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。</p></li>
								   <li><p>其他注意事項：<br>本活動之轉帳扣款紀錄依本行系統所載為準。參與人不符合或違反本活動規定事項者，本行保有取消回饋資格之權利。參與人〈納稅義務人〉於本行〈扣繳義務人〉之全年所得總金額超過1,000元〈含〉以上，本行將依稅法相關規定辦理開立扣繳憑單。活動期間倘因不可歸責於本行之事由，本行得變更或終止活動內容，並於KOKO官網及本活動網頁公告之。若有其他未盡事宜，悉依本行相關規定或解釋辦理。若有任何疑問，請電洽本行客服專線0800-806998查詢。</p></li>
								</ol>
								<ol class="m-item-bd b-desc is-xs">	
									<p>KOKO簽帳金融卡逢甲7-11門市消費現金回饋辦法</p>
									
									<li><p>活動期間：107年09月10日至108年1月31日。</p></li>
<li><p>活動內容：以KOKO簽帳金融卡在指定通路每月合計消費滿新臺幣(下同)500元(含)以上，次月回饋50元至KOKO帳戶。 </p></li>
<li><p>指定通路 : 逢學門市、逢大一門市、逢大二門市。</p></li>
<li><p>活動對象：持有連結KOKO帳戶之KOKO簽帳金融卡，且未持有任一本行信用卡正卡者。以每月結算當下檢驗是否持有本行信用卡正卡。</p></li>
<li><p>指定通路之計算係指消費日於107年09月10日至108年1月31日期間且於108年02月10日前完成請款之款項。倘活動期間內之交易於日後發生退貨、逾期不繳或因簽帳爭議而暫停付款等情形，均不列入本活動合格消費計算。</p></li>
<li><p>指定通路之現金回饋採當期消費，次月回饋計算。現金回饋限入該卡所連結之KOKO帳戶(且計算回饋時及回饋當下帳戶狀態需為正常)，回饋金不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。若持卡人終止KOKO簽帳金融卡或遭本行停止使用KOKO簽帳金融卡權利、延滯繳款或其他違反本行KOKO簽帳金融卡約定條款等情事時，將喪失活動回饋資格。</p></li>
<li><p>活動期間內每月消費回饋上限係以「歸戶ID」計算，並以「消費日」為回 饋計算基準，最晚需於次月10日前完成請款。消費回饋金額將於次月10日結算後，預計於次月25日以前（實際回饋時間將依本行作業時間為準）將符合上開條件可獲得之現金回饋金額統一撥入該KOKO簽帳金融卡所對應之KOKO帳戶，若已無有效KOKO帳戶，即不予回饋，持卡人不得要求兌換其他商品或轉讓予他人。（如：消費日：2018年09月30日，入帳日：2018年10月01日，此筆消費於2018年10月10日結算，並於2018年10月25日前回饋，計入2018年09月50元回饋限額。)</p></li>
<li><p>其他注意事項：<br>
	本活動之消費扣款紀錄依本行系統所載為準。參與人不符合或違反本活動規定事項者，本行保有取消回饋資格之權利。參與人〈納稅義務人〉於本行〈扣繳義務人〉之全年所得總金額超過1,000元〈含〉以上，本行將依稅法相關規定辦理開立扣繳憑單。活動期間倘因不可歸責於本行之事由，本行得變更或終止活動內容，並於KOKO官網及本活動網頁公告之。若有其他未盡事宜，悉依本行相關規定或解釋辦理。若有任何疑問，請電洽本行客服專線0800-806998查詢。</p></li> 
	
										
										
                                </ol>
								</div>
                            </article>
                        </div>
                        <footer class="news-ft">
                            <ul class="m-button-group b-text-center">
                                <li>
                                    <a href="../../Views/News/Announcement.html" class="m-button is-action b-bg-major b-text-white b-desc"><i class="m-icon m-icon-reply"></i><b class="b-bold">回優惠活動列表</b></a>
                                </li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">KOKO 卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">KOKO 帳戶</a></p>
                            <ul>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                <li><a href="../../Views/Digital/DebitCard.html" class="b-text-gray-88">KOKO i 刷金融卡</a></li>
                            </ul>
                        </li>
                        <!-- <li class="m-sitemap-item">
                            <p><a href="../../Views/Credit/Credit.html">KOKO 信貸</a></p>
                        </li> -->
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
    <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="is-active jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>KOKO 卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>KOKO 帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="debit"><em>KOKO i 刷金融卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO 小額信貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li> -->
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>