<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Content/css/news.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/teach.css?css=20170811_01">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">KOKO 大小新鮮事</p>
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <figure class="news-header-image">
                                    <img src="../../Content/img/news/header-image.png?img=20171011_01" alt="KOKO 大小新鮮事" class="is-max-width">
                                </figure>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    <div class="news is-mini">
                        <div class="news-hd">
                            <div class="m-dialog">
                                <div class="m-dialog-hd b-text-center-dt jQ-owl-xs" data-items-xs="1" data-dots="false" data-arrow-xs="true" data-start-position="0">
                                    <!-- <div class="m-dialog-item b-col-xs-12">
                                        <a href="../../Views/News/Event.html" class="m-dialog-ctrl ga_click_trace" ga_cat="news" ga_event="click" ga_label="tab_campaign">
                                            <i class="m-icon m-icon-offer b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">優惠活動</em>
                                            </span>
                                        </a>
                                    </div> -->
                                    <div class="m-dialog-item b-col-xs-12">
                                        <a href="../../Views/News/Announcement.html" class="m-dialog-ctrl is-active ga_click_trace" ga_cat="news" ga_event="click" ga_label="tab_offical">
                                            <i class="m-icon m-icon-offer b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">優惠活動</em>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-bd">
                            <article class="news-article">
                               
                                 <!--<header class="news-article-hd">
                                    <h2 class="b-h4 b-text-major"><b class="b-bold">暑期遊戲影音大Fun送!</b></h2>
                                </header>-->
                                <div class="news-article-bd b-desc b-text-gray-47">
                                    <!--<p>指定通路5%現金回饋<br>
                                            指定通路：Steam、Playstation、Garena、Blizzard、Spotify、KKbox、Netflix。<BR>適用透過手機商店(itunes& google store)之消費扣款。</p>-->


                               <p><a href="#"><img src="../../Content/img/news/kkbox.jpg" usemap="#Map"></a>
                                
                               </p>
                               
                               <ol class="m-item-bd b-desc is-xs">
								 <p><b class="b-bold">活動辦法:</b></p>
                                 <p>2018/9/1-2018/12/31，KOKO簽帳金融卡/信用卡新戶申辦KOKO Mastercard全系列任一卡片，且需於2018/12/31(含)前成功核發指定卡別正卡，並於核卡後30天內，新增一般消費達指定條件，並於官網登錄成功即可獲得KKBOX 90天音樂無限暢聽兌換券，活動期間每戶限獲得一次。<a href="#" target="_blank" style="color:#ec008c;">立即登錄></a></p>

								   
                                 <p><b class="b-bold">注意事項:</b></p> 
								                              <li><p>新戶之核卡日依本行系統所載為準。</p></li>   
								                             <p>KOKO新戶定義：<br>
								                    (1)KOKO信用卡新戶：核卡日前六個月內未持有KOKO COMBO icash聯名卡或KOKO icash聯名卡任一有效正卡者<br>(2)KOKO簽帳金融卡新戶：核卡日前六個月內未持有KOKO 簽帳金融卡者<br>
                                                    <p>

                                                                  <li><p>本活動係以活動期間登錄且消費符合資格(正附卡合併計算)者可獲得兌換券。贈品每戶限兌領乙份。<br>消費條件：<br>KOKO (COMBO) icash核卡後30天內，任選一般消費(單筆須滿888元)或icash自動加值，合計滿3筆；KOKO簽帳金融卡任刷3筆ㄧ般消費，即符合資格。</p></li>  
                                                                  <li>
                                                                    <p>新增一般消費金額計算限消費日於核卡日後30天內商店已請款入帳之消費。一般消費不含：代扣基金、預借現金、保費、遠東SOGO百貨貴賓廳購買SOGO禮券、稅款、學費、悠遊卡加值、eTag加值、一卡通加值、icash加值、超商消費、部份公／民營停車場停車費(如京站、24Times停車場等)、連鎖速食店消費、代繳公用事業費用、各行政機關規費或罰鍰、燃料費、路邊停車費、語音繳納各項費用、透過MyBill線上繳費或其他繳費平台(含APP)繳交各項費用、國壽不動產租金代收、電子錢包加值、年費、違約金、循環息、代償、利息、錢易通、通信貸款、學費分期、刷卡樂分期、帳單分期、掛失費、調閱簽單費及各項手續費(包含但不限分期、違約處理、補發帳單及其它等)等非消費款項。分期消費以核卡日後30天內已請款入帳金額計算(僅認列第一筆)，消費金額如有退貨將予以扣除。刷卡消費金額之計算依本行系統登錄刷卡交易之廠商請款日為準，如您符合本活動之消費因廠商請款日於核卡後40天仍未入帳，請您撥打本行客服專線(02)2383-1000通知本行處理。倘活動期間內之交易於日後發生退貨、逾期不繳或因簽帳爭議而暫停付款等情形，均不列入本活動合格消費計算。</p></li>
																  <li><p>本活動將於符合贈送資格後約1~2個月寄發兌換券序號。<br>KOKO COMBO icash 聯名卡及KOKO簽帳金融卡將於KOKO APP推播，KOKO icash聯名卡將於簡訊寄送。寄發通知時間依本行作業時間為準。</p></li>  
                                                                  <li><p>信用卡持卡人於贈送時須持有符合本活動資格消費之有效信用卡，且上一期無逾期未繳款之紀錄，若終止信用卡、掛失不補發、到期不續卡、遭本行停止使用信用卡權利、延滯繳款、或違反本行信用卡契約等情事時，即自動喪失資格。</p></li> 
								                                  <li><p>KOKO簽帳金融卡持卡人於贈送時須持有符合本活動資格消費之有效KOKO簽帳金融卡，若終止KOKO簽帳金融卡或遭本行停止使用KOKO簽帳金融卡權利、延滯繳款或其他違反本行KOKO簽帳金融卡約定條款等情事時，將喪失活動資格。</p></li>
                                                                  <li><p>活動期間倘因不可歸責於本行之事由，本行得變更或終止活動內容，並於本行網站公告。 </p></li>
                                  <ol class="m-item-bd b-desc is-xs" style="margin-top:20px;">     
                                 <p><b class="b-bold">KKBOX即享券注意事項:</b></p>
								                                     
								                                   <li><p>使用本券請至KKBOX儲值網站 <a href="http://tt.kkbox.com.tw" target="_blank" style="color:#EC008C;">http://tt.kkbox.com.tw</a>兌換（登入帳戶密碼→填寫資料→輸入即享券儲值序號），開通儲值後即可自開通日起享有KKBOX指定天數會員資格。</p></li> 
                                                                   <li><p>本券限兌換券上所載之指定天數，無法更換或增加儲值天數。</p></li> 
                                                                   <li><p>本券不適用月費型會員帳號(電信業者或信用卡綁約扣款型用戶)，於My Card、便利商店購買的儲值卡不在此限。</p></li> 
                                                                   <li><p>本券開通儲值後，不得轉讓至其他會員帳號或折算現金，亦不得分次使用。</p></li> 
                                                                   <li><p>本券無法兌換現金或找零，且不得與其他行銷活動合併使用。</p></li> 
                                                                   <li><p>本券序號具唯一性，僅限兌換一次，不可重複使用。</p></li> 
                                                                   <li><p>發行人：Edenred Taiwan 新加坡商宜睿智慧股份有限公司台灣分公司。</p></li> 
                                                                   <li><p>本券為企業贈品專用，請於指定日期前兌換，不得零售或轉售。</p></li> 
                                                                   <li><p>本券為不記名，任何人持本券皆可使用，請自行妥善保管，如遭他人盜用，本券不再補發。</p></li> 
                                                                   <li><p>本券所兌換之商品或折抵消費之金額不予開立統一發票。</p></li> 
                                                                   <li><p>本券有效與否，以發行人票券系統所記錄之狀態為憑。 如系統因網路連線有所遲延，依兌換商家系統端資訊為準。</p></li> 
                                                                   <li><p>本券為有價證券，請勿擅自偽造、變造，以免觸犯刑責。</p></li> 
                                                                   <li><p>本券使用問題請洽宜睿智慧線上即時客服：<a href="http://www.edenred.com.tw/FAQ.html" target="_blank" style="color:#EC008C;">http://www.edenred.com.tw/FAQ.html </a>或客服專線：(02)8786-0621（服務時間：周一至周五上午10:00至下午6:00）</p></li> 

                                   </ol>
                                </div>
                            </article>
                        </div>
                        <footer class="news-ft">
                            <ul class="m-button-group b-text-center">
                                <li>
                                    <a href="../../Views/News/Announcement.html" class="m-button is-action b-bg-major b-text-white b-desc"><i class="m-icon m-icon-reply"></i><b class="b-bold">回優惠活動列表</b></a>
                                </li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">KOKO 卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">KOKO 帳戶</a></p>
                            <ul>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                <li><a href="../../Views/Digital/DebitCard.html" class="b-text-gray-88">KOKO i 刷金融卡</a></li>
                            </ul>
                        </li>
                        <!-- <li class="m-sitemap-item">
                            <p><a href="../../Views/Credit/Credit.html">KOKO 信貸</a></p>
                        </li> -->
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
    <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="is-active jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>KOKO 卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>KOKO 帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="debit"><em>KOKO i 刷金融卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO 小額信貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li> -->
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>