<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/digital.css?css=20170811_01">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">KOKO<br>成就你偉大的小事</p>
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <div class="m-phone is-md">
                                    <div class="m-phone-scenes">
                                        <figure class="digital-phone-figure b-bg-white">
                                            <img src="../../Content/img/combo/phone-image.png?img=20170917_01" alt="KOKO 帳戶" class="is-max-width">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    <div class="digital">
                        <div class="digital-hd">
                            <div class="m-dialog">
                                <div class="m-dialog-hd jQ-owl" data-items-md="4" data-items-sm="2" data-items-xs="1" data-dots="false" data-arrow-sm="true" data-arrow-xs="true" data-start-position="1" data-events="digital.owlEvents">
                                       <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="http://test.kokobank.com/KOKO_Art/TEST01/1102/Views/Digital/Transfer.html" class="m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon m-icon-transfer b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">帳戶權益</em>
                                                <p class="b-desc">跨提跨轉各50次免費，比等利息更有感</p>
                                            </span>
                                        </a>
                                    </div>
									<div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="http://test.kokobank.com/KOKO_Art/TEST01/1102/Views/Digital/Transfer.html" class="m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon m-icon-transfer b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">快速轉帳</em>
                                                <p class="b-desc">想轉就轉，想領就領，手續費，沒在怕的！</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="http://test.kokobank.com/KOKO_Art/TEST01/1102/Views/Digital/Account.html" class="m-dialog-ctrl is-active" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_spending">
                                            <i class="m-icon m-icon-receipt b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">帳戶管理</em>
                                                <p class="b-desc">管理操作直覺簡單，<br>一鍵設定快速有效率！</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="http://test.kokobank.com/KOKO_Art/TEST01/1102/Views/Digital/Fund.html" class="m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_funds">
                                            <i class="m-icon m-icon-trend b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">基金申購</em>
                                                <p class="b-desc">小錢就能成大事，小資也能存大錢！</p>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jQ-include">
                            <article class="digital-bd">
                                <header class="digital-title b-text-center">
                                    <h2 class="b-h3 is-line"><p class="b-bold">太好轉！太給力！</p></h2>
                                    <p class="b-h4">跨行轉帳 / 跨行提款<em class="b-text-major">每月各 50 次免手續費</em>，隨時隨地轉好轉滿無負擔！</p>
                                </header>
                                <div class="digital-section-list">
                                    <section class="m-section is-middle digital-section b-flex-column-reverse-xs" data-intro-dt="right">
                                        <div class="m-section-intro is-flex-grow digital-section-intro">
                                            <h3 class="digital-section-title b-h3"><p>不只一種轉帳方式</p></h3>
                                            <p class="b-desc">轉帳不再只能輸入對方銀行帳號，登入KOKO app 以 KOKO ID <br>或行動條碼加入好友後，挑選好友便能自動帶入帳號，輕鬆簡單就能完成轉帳。</p>
                                        </div>
                                        <div class="m-section-object digital-section-object">
                                            <div class="digital-figure-block">
                                                <figure class="digital-figure b-middle b-text-center">
                                                    <img src="../../Content/img/digital/transfer-phone.png?img=20171004_01" alt="不只一種轉帳方式" class="is-max-width">
                                                </figure>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="m-section is-middle digital-section b-flex-column-reverse-xs" data-intro-dt="left">
                                        <div class="m-section-intro is-flex-grow digital-section-intro">
                                            <h3 class="digital-section-title b-h3"><p>不是 5 次，是<em class="b-text-major">免費 50 次</em></p></h3>
                                            <p class="b-desc">KOKO 用戶每月享有跨行轉帳、跨行提款<em class="b-text-major">各 50 次</em>免手續費優惠，最高可省下<em class="b-text-major">NT$1000</em>元！比銀行儲蓄利息更划算！<br>
                                          </p>
                                            <div class="m-accordion jQ-accordion" data-active="is-active">
                                                <ul class="m-accordion-bd">
                                                    <li class="m-accordion-item">
                                                        <div class="m-accordion-ctrl b-text-center-xs">
                                                            <button type="button" class="m-accordion-btn jQ-accordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white"></i><em class="b-text-gray-88 b-underline">注意事項</em></button>
                                                        </div>
                                                        <div class="m-accordion-container b-bg-gray-f7 jQ-accordionCont">
                                                            <div class="m-accordion-info jQ-scrollbar">
                                                                <div class="m-item">
                                                                    <ol class="m-item-bd b-desc is-xs">
                                                                        <li><p>活動期間：106年8月1日起至106年12月31日止。</p></li>
                                                                        <li><p>須於申辦KOKO數位存款帳戶並審核通過，方為有效帳戶持有者。有效帳戶持有者自審核通過日起，當月即符合上述活動之權益回饋。</p></li>
                                                                        <li><p>凡當月使用KOKO數位存款帳戶進行跨行轉帳(含KOKO APP、KOKO網路銀行、國泰世華網路銀行、國泰世華行動銀行、ATM、網路ATM)，次月15日前將依前月實際支付手續費用，將手續費回饋至KOKO數位存款帳戶。凡當月使用KOKO數位存款帳戶進行跨行提款，次月15日前將依前月實際支付手續費用，將手續費回饋至KOKO數位存款帳戶。</p></li>
                                                                        <li><p>若手續費回饋當下帳戶為非有效狀態，如: 帳戶銷戶、遭通報警示、帳戶未正式啟用或其他因素以致款項無法撥入，皆視為放棄手續費回饋權益，不另行補發；當月未使用之優惠次數不可延用。</p></li>
                                                                        <li><p>若本身已享有國泰世華其他跨行轉帳與跨行提款優惠者，優先使用原優惠扣抵。</p></li>
                                                                        <li><p>手續費回饋計算時間點以系統入帳日為準，如非營業日之轉帳交易、預約轉帳或KOKO通訊錄轉帳(太好轉)等服務皆以系統入帳日為回饋依據。</p></li>
                                                                        <li><p>本活動僅適用於KOKO通路開立之數位存款帳戶，於國泰世華官網開立之數位存款帳戶，無法享有本活動之權益。已於任一分行臨櫃將KOKO數位存款帳戶轉換為一般活期儲蓄存款者，轉換完成即日起，視同放棄本活動之權益，尚未使用之優惠次數，亦不得延續使用。</p></li>
                                                                        <li><p>專案期間倘因不可歸責於本行之事由，本行得變更或終止內容，並於KOKO官網公告之。</p></li>
                                                                        <li><p>若有其他未盡事宜，悉依本行相關規定或解釋辦理。若有任何疑問，請電洽0800-806-998查詢。</p></li>

                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="m-section-object digital-section-object">
                                            <div class="digital-figure-block">
                                                <figure class="digital-figure b-middle b-text-center">
                                                    <img src="../../Content/img/digital/transfer-atm.png?img=20171004_01" alt="不是 5 次，是免費 50 次" class="is-max-width">
                                                </figure>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="m-section is-middle digital-section b-flex-column-reverse-xs" data-intro-dt="right">
                                        <div class="m-section-intro is-flex-grow digital-section-intro">
                                            <h3 class="digital-section-title b-h3"><p>拆帳 / 收款清楚可靠</p></h3>
                                            <p class="b-desc">吃喝玩樂拆轉帳 / 朋友收款， KOKO幫你計算，不怕算錯錢漏通知，清清楚楚不出錯!</p>
                                        </div>
                                        <div class="m-section-object digital-section-object">
                                            <div class="digital-figure-block">
                                                <figure class="digital-figure b-middle b-text-center">
                                                    <img src="../../Content/img/digital/transfer-change.png?img=20171004_01" alt="拆帳 / 收款清楚可靠" class="is-max-width">
                                                </figure>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </article>
                            <footer class="digital-ft">
                                <!--<ul class="m-button-group b-text-center">
                                    <li class="b-inline">
                                        <small class="digiral-desc b-block-dt b-desc b-flex-column-reverse-xs"><em>懶人族記帳福音呀！</em></small>
                                        <a href="../../Views/Teach/Account.html" class="m-button b-desc b-bg-major b-text-white ga_click_trace" ga_cat="transfer" ga_event="click" ga_label="teach"><b class="b-bold">如何輕鬆記帳</b></a>
                                    </li>
                                </ul>-->
                                <div class="m-aphorism b-text-center">
                                    <div class="m-aphorism-hd">
                                        <p class="b-h4">謹慎理財 信用無價</p>
                                    </div>
                                    <div class="m-aphorism-bd">
                                        <p class="b-text-gray-47">信用卡暨預借現金之各級別循環信用年利率為 6.75% ~ 15% ( 依本行信用評分制度定期評估 )<br>預借現金手續費：預借現金金額乘以 3% 加上新臺幣 150 元或美元 5 元，其他相關費用係依本行網站公告</p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">KOKO 卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">KOKO 帳戶</a></p>
                            <ul>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                <li><a href="../../Views/Digital/DebitCard.html" class="b-text-gray-88">KOKO i 刷金融卡</a></li>
                            </ul>
                        </li>
                        <!-- <li class="m-sitemap-item">
                            <p><a href="../../Views/Credit/Credit.html">KOKO 信貸</a></p>
                        </li> -->
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
    <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>KOKO 卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="is-active jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>KOKO 帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="is-active jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="debit"><em>KOKO i 刷金融卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO 小額信貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li> -->
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <script type="text/javascript" src="../../Scripts/js/digital.min.js?js=20170805_01"></script>
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>