<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/combo.css?css=20170811_01">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <div class="combo-card-name">
                                    <span class="combo-card-title b-h4 is-md">
                                        <b class="b-text-white b-bold">KOKO 悠遊聯名卡</b>
                                    </span>
                                    <p class="b-bold b-h3 b-text-white">刷卡也能輕鬆賺摳摳！</p>
                                </div>
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <figure>
                                    <img src="../../Content/img/combo/card-mrt.png?img=20171011_01" alt="KOKO COMBO icash 聯名卡" class="is-max-width">
                                </figure>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    <div class="combo">
                        <header class="combo-hd b-text-center">
                            <h2 class="b-h3"><b class="b-bold">指定網購／超商消費／自動加值金額享 3% 現金回饋！</b></h2>
                            <div class="combo-object">
                                <p class="b-desc">當期新增一般消費 NT$5,000 (含) 以上，<br class="b-br-xs">完成登錄後，<br class="b-br-dt">當期帳單之悠遊自動加值與指定網購消費金額享 3% 現金回饋！</p>
                                <div class="combo-items jQ-chooseAccordion" data-active="is-active" data-actived="is-actived" data-hide="is-hide" data-slide="is-slide" data-transition="b-animate-none">
                                    <ul class="combo-items-hd">
                                        <li class="b-inline">
                                            <div class="m-accordion">
                                                <ul class="m-accordion-bd">
                                                    <li class="m-accordion-item">
                                                        <div class="m-accordion-ctrl is-active">
                                                            <button type="button" class="m-accordion-btn jQ-chooseAccordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white"></i><em class="b-text-gray-88 b-underline">指定網購 / 超商回饋注意事項</em></button>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="b-inline">
                                            <div class="m-accordion">
                                                <ul class="m-accordion-bd">
                                                    <li class="m-accordion-item">
                                                        <div class="m-accordion-ctrl">
                                                            <button type="button" class="m-accordion-btn jQ-chooseAccordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white"></i><em class="b-text-gray-88 b-underline">新戶禮注意事項</em></button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="combo-items-bd b-text-left jQ-chooseAccordionCont">
                                        <ul class="b-inline-space jQ-chooseAccordionSilde">
                                            <li class="is-active">
                                                <div class="m-accordion">
                                                    <ul class="m-accordion-bd">
                                                        <li class="m-accordion-item">
                                                            <div class="m-accordion-container is-active b-bg-gray-l-p40">
                                                                <div class="m-accordion-info jQ-scrollbar">
                                                                    <p>【指定網購通路】：Apple iTunes/App Store、Google Play、LINE Pay、淘寶網、泰贈點紅利網、Yahoo!奇摩購物中心/超級商城/拍賣、PChome線上購物/商店街、博客來網路書店、UDN買東西、蝦皮拍賣、momo購物網、樂天市集、PAYEASY、17LIFE、GOMAJI、91app、高鐵網路購票、森森、東森、生活市集、瘋狂賣客、露天拍賣、歐付寶、pinkoi、ASOS、好吃宅配網、街口支付、3C市集、Pi行動錢包<br>【指定超商】：全台四大超商(7-11、全家、萊爾富、OK)</p>
                                                                    <div class="m-item">
                                                                        <div class="m-item-hd">
                                                                            <p>注意事項</p>
                                                                        </div>
                                                                        <ol class="m-item-bd b-desc is-xs">
                                                                            <li><p>106/12/31 前，當期新增一般消費，NT$5,000 (含)以上，完成登錄後，當期帳單之悠遊自動加值與指定網購消費金額享3%現金回饋！一般消費享 0.3% 現金回饋；指定通路現金回饋，超出上限部分以 0.3% 現金回饋計算。(每月每戶回饋上限 NT$300，歸戶下所持全部 PLAY (COMBO) / KOKO 悠遊聯名卡正附卡合併計算。)</p></li>
                                                                            <li><p>持卡人須於 106/1/1 ~ 106/12/31 至活動網頁或致電本行客服專線 (02)2383-1000 按語音代碼 841 完成登錄，方可享有活動資格。已登錄 104/5/6 ~ 105/12/31「KOKO 悠遊聯名卡悠遊自動加值 3% 現金回饋」活動者，無需重新登錄，即享本活動資格。</p></li>
                                                                            <li><p>本活動「悠遊自動加值金額」及「指定網購消費金額」之計算，係指消費日於 106/1/1 ~ 106/12/31 期間且於 107/1/10 前完成請款之款項。指定網購單筆消費須滿 NT$500，分期消費以分期入帳金額計算。倘活動期間內之交易於日後發生退貨、逾期不繳或因簽帳爭議而暫停付款等情形，均不列入本活動合格消費計算。</p></li>
                                                                            <li><p>消費分期付款以分期入帳金額計算，如有退貨將予以扣除。一般消費不含信用卡預借現金、預借現金分期專案、代繳公用事業費、公務機關規費、國泰人壽「投資型」及「利率變動型」保單、太平洋 SOGO 百貨貴賓廳購買 SOGO 禮券、悠遊卡自動加值、eTag 自動儲值金、定期定額基金、各項稅款、代繳路邊停車費、學雜費、學費分期、簡易通信貸款 / 泰有錢等貸款、餘額代償、信用卡年費、循環信用利息、違約金及其他信用卡相關手續費等，各項未提供回饋優惠之交易以本行網站公告為準。</p></li>
                                                                            <li><p>現金回饋採當期消費，次期回饋計算。僅限扣抵帳單之信用卡消費款，不能兌換現金及其他商品。活動期間於每月 27 日比對登錄資料，27 日前完成登錄且符合活動辦法者，始可獲得當月帳單悠遊自動加值金額3%現金回饋，並於次月帳單入帳；27 日後完成登錄者，則自登錄次月起之帳單獲得回饋，恕不追溯回饋。(例如：A 君於 106/1/15 完成登錄，得享有自 106/1/1 ~ 106/12/31 之自動加值現金回饋。B 君於 106/1/29 完成登錄，得享有自 106/2/1 ~ 106/12/31 之自動加值現金回饋，本活動回饋為每月 27 日計算後，隨信用卡帳單週期回饋至正卡人次月信用卡帳戶中。)</p></li>
                                                                            <li><p>「當期帳單新增一般消費 NT$5,000 (含)以上」以持卡人歸戶下所持本行各卡別之當期帳單消費金額合併計算， 扣除退貨/退款交易、不含保費、稅款、基金、學（雜）費、公共事業代繳、eTag 自動儲值金、路邊停車費、語音繳納各項費用、悠遊卡自動加值、預借現金、年費、各項手續費、循環信用利息、違約金、代償本金及利息 等帳款；分期付款以當期入帳金額計算。</p></li>
                                                                            <li><p>當期帳單認列消費為當期帳單結帳日前已入帳之消費，惟消費可能因商店較晚請款、或因結帳日及入帳日遇假日順延(變動)等因素致分列於不同月份帳單，最終以當期實際請款入帳金額(即當期帳單所列之消費)為準。欲查詢實際認列消費，請登入本行網路銀行 / 信用卡帳務查詢 / 未出帳單消費明細或致電本行客服查詢。</p></li>
                                                                            <li><p>KOKO 悠遊聯名卡僅適用現金回饋方案，恕不再提供紅利積點。</p></li>
                                                                            <li><p>持卡人於回饋時須持本行有效 KOKO 悠遊聯名卡正卡，且上一期無逾期未繳款紀錄。</p></li>
                                                                            <li><p>惠提供期間倘因不可歸責於本行之事由，本行得變更或終止優惠內容並於本行網站公告。</p></li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="is-actived is-hide">
                                                <div class="m-accordion">
                                                    <ul class="m-accordion-bd">
                                                        <li class="m-accordion-item">
                                                            <div class="m-accordion-container is-active b-bg-gray-l-p40">
                                                                <div class="m-accordion-info jQ-scrollbar">
                                                                    <div class="m-item">
                                                                        <div class="m-item-hd">
                                                                            新戶首刷滿額禮 注意事項
                                                                        </div>
                                                                        <ol class="m-item-bd b-desc is-xs">
                                                                            <li><p>新戶滿額禮NT$100回饋金限入i刷金融卡連結之帳戶中，不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。</p></li>
                                                                            <li><p>新戶定義：核卡日前6個月內未曾持有本行任一張i刷金融卡、i刷悠遊Debit卡、 KOKO悠遊金融卡及KOKO一卡通金融卡(歸戶計算)。</p></li>
                                                                            <li><p>新戶定義核卡日依本行系統所載為準。</p></li>
                                                                            <li><p>新增1筆NT$888以上(含)一般消費計算限消費日於核卡日後30天內，商店已請款之一般消費。一般消費定義不含代扣定期定額基金、保費、太平洋SOGO百貨貴賓廳購買SOGO禮券、稅款、學費、悠遊卡加值、一卡通加值、eTag自動儲值金、公用事業費、公務機關規費、路邊停車費、語   音繳納各項費用及其它手續費等非消費款項，如有退貨將予以扣除。</p></li>
                                                                            <li><p>新戶滿額禮NT$100回饋金限入i刷金融卡連結之帳戶中，不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。</p></li>
                                                                            <li><p>新戶定義：核卡日前6個月內未曾持有本行任一張i刷金融卡、i刷悠遊Debit卡、 KOKO悠遊金融卡及KOKO一卡通金融卡(歸戶計算)。</p></li>
                                                                            <li><p>新戶定義核卡日依本行系統所載為準。</p></li>
                                                                            <li><p>新增1筆NT$888以上(含)一般消費計算限消費日於核卡日後30天內，商店已請款之一般消費。一般消費定義不含代扣定期定額基金、保費、太平洋SOGO百貨貴賓廳購買SOGO禮券、稅款、學費、悠遊卡加值、一卡通加值、eTag自動儲值金、公用事業費、公務機關規費、路邊停車費、語   音繳納各項費用及其它手續費等非消費款項，如有退貨將予以扣除。</p></li>
                                                                            <li><p>新戶滿額禮NT$100回饋金限入i刷金融卡連結之帳戶中，不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。</p></li>
                                                                            <li><p>新戶定義：核卡日前6個月內未曾持有本行任一張i刷金融卡、i刷悠遊Debit卡、 KOKO悠遊金融卡及KOKO一卡通金融卡(歸戶計算)。</p></li>
                                                                            <li><p>新戶定義核卡日依本行系統所載為準。</p></li>
                                                                            <li><p>新增1筆NT$888以上(含)一般消費計算限消費日於核卡日後30天內，商店已請款之一般消費。一般消費定義不含代扣定期定額基金、保費、太平洋SOGO百貨貴賓廳購買SOGO禮券、稅款、學費、悠遊卡加值、一卡通加值、eTag自動儲值金、公用事業費、公務機關規費、路邊停車費、語   音繳納各項費用及其它手續費等非消費款項，如有退貨將予以扣除。</p></li>
                                                                            <li><p>新戶滿額禮NT$100回饋金限入i刷金融卡連結之帳戶中，不得指定回饋月份、轉讓或兌換其他商品，回饋時間依本行作業時間為準。</p></li>
                                                                            <li><p>新戶定義：核卡日前6個月內未曾持有本行任一張i刷金融卡、i刷悠遊Debit卡、 KOKO悠遊金融卡及KOKO一卡通金融卡(歸戶計算)。</p></li>
                                                                            <li><p>新戶定義核卡日依本行系統所載為準。</p></li>
                                                                            <li><p>新增1筆NT$888以上(含)一般消費計算限消費日於核卡日後30天內，商店已請款之一般消費。一般消費定義不含代扣定期定額基金、保費、太平洋SOGO百貨貴賓廳購買SOGO禮券、稅款、學費、悠遊卡加值、一卡通加值、eTag自動儲值金、公用事業費、公務機關規費、路邊停車費、語   音繳納各項費用及其它手續費等非消費款項，如有退貨將予以扣除。</p></li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                    <article class="combo is-full">
                        <div class="combo-bd">
                            <div class="combo-timeline b-bg-gray-f7">
                                <div class="combo-timeline-bd">
                                    <div class="m-timeline">
                                        <ul class="m-timeline-bd">
                                            <li>
                                                <div class="m-timeline-object">
                                                    <i class="m-icon m-icon-kkbox b-h3"></i>
                                                </div>
                                                <div class="m-timeline-info">
                                                    <h4 class="b-h4"><b class="b-bold">KKBOX 線上音樂會員 6 折優惠</b></h4>
                                                    <p class="b-desc">106/12/31 前，<a href="https://www.kkbox.com/tw/tc/index.html" target="_blank" class="b-text-major b-underline">KKBOX 網站</a>刷卡單筆購買半年期會員享 6 折優惠</p>
                                                    <div class="m-accordion m-timeline-addon jQ-accordion" data-active="is-active">
                                                        <ul class="m-accordion-bd">
                                                            <li class="m-accordion-item">
                                                                <div class="m-accordion-ctrl">
                                                                    <button type="button" class="m-accordion-btn jQ-accordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white"></i><em class="b-text-gray-88 b-underline">注意事項</em></button>
                                                                </div>
                                                                <div class="m-accordion-container b-bg-gray-l-p40 jQ-accordionCont">
                                                                    <div class="m-accordion-info jQ-scrollbar">
                                                                        <div class="m-item">
                                                                            <ol class="m-item-bd b-desc is-xs">
                                                                                <li><p>活動期間至106/12/31止。</p></li>
                                                                                <li><p>本優惠限以持卡人於信用卡申請書填寫之email所註冊之KKBOX帳號購買，非本人帳號者，均視同原價購買，本行有權逕向持卡人收取差額。每人每半年限使用一次。</p></li>
                                                                                <li><p>須經由KKBOX付費中心之『國泰世華KOKO悠遊/icash聯名卡專屬優惠』專區付款，方享有6折優惠。</p></li>
                                                                                <li><p>本優惠不得與其它優惠併用，或要求折抵現金。</p></li>
                                                                                <li><p>優惠提供期間，倘因不可歸責於本行之事由，本行得變更或終止內容，並於本行網站公告。</p></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="m-timeline-object">
                                                    <i class="m-icon m-icon-movie b-h3"></i>
                                                </div>
                                                <div class="m-timeline-info">
                                                    <h4 class="b-h4"><b class="b-bold">國賓 / 台中新光 / 凱擘影城 電影天天 6 折起</b></h4>
                                                    <div class="m-item b-desc">
                                                        <ul class="m-item-bd">
                                                            <li><p>現場刷卡購買當日電影票，憑近一個月內同卡號之單筆 NT$1,000 (含) 以上實體刷卡簽單，享週一～週四 6 折，週五～週日及國定假日 63 折起優惠！</p></li>
                                                            <li><p>平假日不限時段，現場刷卡購票享優惠價 NT$230 起！</p></li>
                                                            <li><p><a href="http://www.ambassador.com.tw/" target="_blank" class="b-text-major b-underline">國賓影城網路訂票</a>，還享免付取票手續費 NT$20 優惠！</p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="m-accordion m-timeline-addon jQ-accordion" data-active="is-active">
                                                        <ul class="m-accordion-bd">
                                                            <li class="m-accordion-item">
                                                                <div class="m-accordion-ctrl">
                                                                    <button type="button" class="m-accordion-btn jQ-accordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white"></i><em class="b-text-gray-88 b-underline">注意事項</em></button>
                                                                </div>
                                                                <div class="m-accordion-container b-bg-gray-l-p40 jQ-accordionCont">
                                                                    <div class="m-accordion-info jQ-scrollbar">
                                                                        <div class="m-item">
                                                                            <ol class="m-item-bd b-desc is-xs">
                                                                                <li>
                                                                                    <div>
                                                                                        <p>6 折及 63 折優惠</p>
                                                                                        <ul>
                                                                                            <li><p>6 折及 63 折優惠須至影城現場購票窗口，憑近一個月 ( 30 天 ) 內同卡號之單筆 NT$1,000 (含) 以上實體刷卡簽單 (不含人工授權 / 批次 / 手寫授權碼 / 手刷式簽單，簽單上須載明部分卡號以資辨識，手機信用卡交易之簽單不適用 )，並以同一卡片刷卡購票。每張刷卡簽單限單次使用。
                                                                                            <li><p>購票金額以全票價計算，票價以各影城現場最新公告為準。</p></li>
                                                                                            <li><p>3D 影片不適用 6 折及 63 折優惠。</p></li>
                                                                                            <li><p>台中新光影城可補差額升級觀賞 3D 或 ATMOS 電影，MX4D 2D 電影票優惠價 NT$400，</p></li>
                                                                                            <li><p>6 折及 63 折優惠每卡每日限使用一次，一次限購二張 ( 台中新光影城限購買當天同一場次 )，預購、網路訂票及語音訂票均不適用。恕不提供退票或更換場次之服務。</p></li>
                                                                                            <li><p>國定例假日、特定節日 ( 如 5/1 勞動節 )、彈性放假、週六補班或連續假期如遇週一至週四，則不適用 6 折優惠，可享 63 折優惠。</p></li>
                                                                                            <li><p>本優惠與手機信用卡之優惠活動不得合併使用。</p></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div>
                                                                                        <p>優惠價 NT$230 起</p>
                                                                                        <ul>
                                                                                            <li><p>「國賓影城」提供早場價優惠，須至國賓影城現場或國賓網路訂票系統或透過國賓看電影 APP 刷卡購票；「新光影城」提供 2D 購票優惠價，須至影城現場刷卡購票。</p></li>
                                                                                            <li><p>現場購票-優惠價依營業地點、營業考量或影片長度而異，以各影院現場公告為準。每卡每次刷卡限購四張且限購當日場次。</p></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div>
                                                                                        <p>國賓看電影 APP / 國賓官網訂票(僅適用國賓影城)</p>
                                                                                        <ul>
                                                                                            <li><p>活動期間至 106 / 12 / 31 止。</p></li>
                                                                                            <li><p>卡友須填寫國賓入會資料申請帳號，方可使用 APP 及網路訂票服務。已加入國賓影城會員者，無法再以同一身分證字號申請國泰世華卡友訂票帳號。</p></li>
                                                                                            <li><p>限刷國泰世華卡購票方享優惠，優惠票價依訂票頁面顯示為準。</p></li>
                                                                                            <li><p>每筆訂單限購四張，且每一帳號未取票之訂購張數不得超過四張。</p></li>
                                                                                            <li><p>訂票完成後，預訂之座位將保留至該電影場次播映結束為止。請憑具身分證字號之個人證明文件至訂票影院之會員服務窗口取票。</p></li>
                                                                                            <li><p>若欲取消訂單，須於電影開演 3 小時前自行至國賓看電影 APP 或國賓網路訂票系統取消；開演 3 小時至開演前 30 分鐘，未取票欲取消訂單者，請致電當次之訂票影院，由現場服務人員協助取消；開演前 30 分鐘內不得取消訂單。未於規定時間內取票或取消訂票者，恕無法退款(惟天災或人為不可抗力之因素除外)。</p></li>
                                                                                            <li><p>敬老票及特價優惠票種取票時需一併出示相關證件(身心障礙手冊/身分證)，未出示符合證件者將改為其他符合票種計費。</p></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div>
                                                                                        <p>餐飲優惠</p>
                                                                                        <ul>
                                                                                            <li><p>活動期間至 106/12/31 止。</p></li>
                                                                                            <li><p>「國賓影城」憑當日票根及國泰世華卡，享可樂、爆米花5折優惠，其他販賣部單品 8 折優惠。</p></li>
                                                                                            <li><p>「新光影城」出示國泰世華卡享 NT$80 加購優惠餐（內含小爆米花一份及中杯可樂一杯）。</p></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <p>如因電影發行公司規範旗下影片不適用信用卡特殊優惠，影城將無法提供上述優惠。詳細內容以影城現場及影城網站公告為準。優惠提供期間倘因不可歸責於本行之事由，本行得變更或終止優惠內容並於本行網站公告。</p>
                                                                                </li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="m-timeline-object">
                                                    <i class="m-icon m-icon-bill b-h3"></i>
                                                </div>
                                                <div class="m-timeline-info">
                                                    <h4 class="b-h4"><b class="b-bold">申辦電子帳單免年費</b></h4>
                                                    <p class="b-desc">2017/12/31 前申辦電子帳單，即可享免 NT$1,800 年費優惠。</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <footer class="m-timeline-ft">
                                            <ul class="m-button-group b-text-center">
                                                <li class="b-inline">
                                                    <a href="https://www.cathaybk.com.tw/cathaybk/personal/credit-card/cards/intro/koko-credit/" class="m-button b-desc b-bg-gray-d-p20 b-text-white ga_click_trace" ga_cat="easycard" ga_event="click" ga_label="benefit" target="_blank"><b class="b-bold">更多優惠</b></a>
                                                </li>
                                            </ul>
                                        </footer>
                                    </div>
                                </div>
                                <div class="combo-timeline-ft">
                                    <p class="b-desc"><b class="b-bold">本行「KOKO 悠遊聯名卡」因信用卡系統整合，自 106/11/01 起暫停新卡申辦，106/11/01 後不再受理「KOKO 悠遊聯名卡」進件申請。原持卡人卡片可繼續使用，權益內容不變，到期續發、遺失補發 / 掛失補發皆不受影響。如有任何疑問，歡迎隨時致電本行客服中心 <a href="tel:0800-806-998">0800-806-998</a> 洽詢。</b></p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="common-cards">
                        <div class="common-cards-hd b-text-center">
                            <p class="b-h3 is-line"><b class="b-bold">或許你也想認識</b></p>
                        </div>
                        <div class="common-cards-bd">
                            <ul class="b-text-center b-inline-space b-content-center-dt">
                                <li class="common-cards-item b-inline-dt b-text-left">
                                    <a href="../../Views/Combo/ComboIcash.html ga_click_trace" ga_cat="easycard" ga_event="click" ga_label="combo_icash" class="b-inline-space b-block">
                                        <div class="common-cards-image b-inline">
                                            <figure>
                                                <img src="../../Content/img/combo/card-combo-icash.png?img=20171012_01" alt="KOKO COMBO iCash 聯名卡" class="is-max-width">
                                            </figure>
                                        </div>
                                        <div class="common-cards-info b-middle-dt b-inline">
                                            <div class="common-cards-info-group">
                                                <h4 class="common-cards-name b-h4"><b class="b-bold">KOKO COMBO iCash 聯名卡</b></h4>
                                                <p>5% 現金回饋 就是狂！</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="common-cards-item b-inline-dt b-text-left">
                                    <a href="../../Views/Combo/Icash.html" class="b-inline-space b-block ga_click_trace" ga_cat="easycard" ga_event="click" ga_label="debit">
                                        <div class="common-cards-image b-inline">
                                            <figure>
                                                <img src="../../Content/img/combo/card-icash.png?img=20171012_01" alt="KOKO 悠遊聯名卡" class="is-max-width">
                                            </figure>
                                        </div>
                                        <div class="common-cards-info b-middle-dt b-inline">
                                            <div class="common-cards-info-group">
                                                <h4 class="common-cards-name b-h4"><b class="b-bold">KOKO icash 聯名卡</b></h4>
                                                <p>指定通路消費享 3% 現金回饋</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <footer class="common-cards-ft">
                            <div class="m-aphorism b-text-center">
                                <div class="m-aphorism-hd">
                                    <p class="b-h4">謹慎理財 信用無價</p>
                                </div>
                                <div class="m-aphorism-bd">
                                    <p class="b-text-gray-47">信用卡暨預借現金之各級別循環信用年利率為 6.75% ~ 15% ( 依本行信用評分制度定期評估 )<br>預借現金手續費：預借現金金額乘以 3% 加上新臺幣 150 元或美元 5 元，其他相關費用係依本行網站公告</p>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">KOKO 卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">KOKO 帳戶</a></p>
                            <ul>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                <li><a href="../../Views/Digital/DebitCard.html" class="b-text-gray-88">KOKO i 刷金融卡</a></li>
                            </ul>
                        </li>
                        <!-- <li class="m-sitemap-item">
                            <p><a href="../../Views/Credit/Credit.html">KOKO 信貸</a></p>
                        </li> -->
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
    <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>KOKO 卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>KOKO 帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="debit"><em>KOKO i 刷金融卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO 小額信貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li> -->
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <script type="text/javascript" src="../../Scripts/js/combo.min.js?js=20170805_01"></script>
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>