<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
	<link rel="stylesheet" href="../../Content/css/newstyle.css">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/digital.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/combo.css?css=20170811_01">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="../../Content/css/travel.css">
    <!-- self link end -->
  
    </style>
</head>
<style>

</style>	
<body >
    <loading-screen v-if="isLoading"></loading-screen>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <div class="b-bold b-h3 b-text-white">KOPlay酷玩險<br>
                                    <p class="b-bold b_line b-desc">K.O.旅行意外，說走就走Play！</p>
                                    <p class="b-bold b-desc">投保、理賠，手機申請一氣呵成！既簡單，又方便！</p>
                                </div>
								
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <figure class="teach-header-image">
                                        <img src="../../Content/img/travel/banner.png" class="is-max-width">
                                    </figure>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                        <div class="m-dialog">
                                <div class="m-dialog-hd jQ-owl" data-items-md="5" data-items-sm="3" data-items-xs="1" data-dots="false" data-arrow-md="true" data-arrow-sm="true" data-arrow-xs="true" data-start-position="3" data-events="digital.owlEvents">
                                           <div class="m-dialog-item b-col-md-3 b-col-sm-6 b-col-xs-12">
                                                <a href="../../Views/Travel/AboutInsurance.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                                    <i class="m-icon icon-group-3 b-text-white"></i>
                                                    <span>
                                                            <em class="b-bold b-h4">看看我有多好</em>
                                                            <p class="b-desc">就是要給你最萬全的保障！</p>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="m-dialog-item b-col-md-3 b-col-sm-6 b-col-xs-12">
                                                    <a href="../../Views/Travel/TeachInsurance.html" class="bannerlink m-dialog-ctrl" data-active="is-active" data-include=".jQ-include">
                                                        <i class="m-icon icon-tab-icon-02-r b-text-white"></i>
                                                        <span>
                                                            <em class="b-bold b-h4">教教你怎麼保</em>
                                                            <p class="b-desc">讓你自主選擇，投保方案任選！</p>
                                                        </span>
                                                    </a>
                                            </div>
                                            <div class="m-dialog-item b-col-md-3 b-col-sm-6 b-col-xs-12">
                                                <a href="../../Views/Travel/ClaimInsurance.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" >
                                                    <i class="m-icon icon-tab-icon-03-r b-text-white"></i>
                                                    <span>
                                                        <em class="b-bold b-h4">辦理賠讓我來</em>
                                                        <p class="b-desc">提供最全面的線上理賠協助！</p>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="m-dialog-item b-col-md-5d b-col-sm-6 b-col-xs-12">
                                                <a href="../../Views/Travel/InsuranceCount.html" class="bannerlink m-dialog-ctrl  is-active" data-active="is-active" data-include=".jQ-include" >
                                                    <i class="m-icon icon-tab-icon-04-r b-text-white"></i>
                                                    <span>
                                                        <em class="b-bold b-h4">算一算起手式</em>
                                                        <p class="b-desc">試算後你一定驚呼太划算！</p>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="m-dialog-item b-col-md-3 b-col-sm-6 b-col-xs-12">
                                                    <a href="../../Views/Travel/InsuranceQA.html" class="bannerlink m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_funds">
                                                        <i class="m-icon icon-group-10 b-text-white"></i>
                                                        <span>
                                                            <em class="b-bold b-h4">知道你手舉高</em>
                                                            <p class="b-desc">所有問題，都來這裡解答！</p>
                                                        </span>
                                                    </a>
                                            </div>
                                    
                              
                        </div>
						</div>			
                        <article class="combo is-full">
                            <div class="b-text-center">
                                <h2 class="b-h3 b-bold" style="margin-top:30px;"><p>不算不知道，算完太可靠！</p></h2>
                            </div>
                        </article>
                    
                        <div class="ls-content">
                            <div class="inputcount">
                                <div class="input_inputcount">
                                    <div class="input_tit">旅遊地區</div>
                                    <div class="control--input">
                                            <select class="" name="">
                                                    <option value="">請選擇</option>
                                                    <option value="">東南亞</option>
                                                    <option value="">日本</option>
                                                    <option value="">歐洲</option>
                                                    <option value="">紐澳</option>
                                                    <option value="">泰國</option>
                                                    <option value="">韓國</option>
                                                    <option value="">美加</option>
                                                    <option value="">歐洲</option>
                                                    <option value="">其他</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="input_inputcount">
                                    <div class="input_tit">旅遊起始日</div>
                                    <div class="control--input">
                                         <div class="datepicker_in">
                                            <input type="text" id="datepicker" size="30">
                                         </div>
                                    </div>
                                     <div class="other_input">
                                        <div class="input_tit">旅遊起始時間</div>
                                        <div class="control--input">
                                                <!-- <select  id="select_todaty" class="s_width" name="">
                                                        <option value=" "></option>
                                                </select> -->
                                                <select id="selectDay" class="s_width" type="text" v-model="user.nativeLanguage">
                                                        <option v-for="lang in user.time" :value="lang">{{ lang }}</option>
                                                </select>
                                                <!-- <select id="selectDay" class="s_width">
                                                        <option>00:00</option>
                                                </select> -->
                                        </div>
                                     </div> 
                                </div>
                                <div class="input_inputcount_day">
                                    <div class="input_tit">旅遊天數</div>
                                    <div class="control--input">
                                            <input class="travel_day" type="text" value="" maxlength="3" placeholder="">
                                    </div>
                                     <span>天</span>
                                </div>
                                <div class="back_choose">
                                    <div class="input_inputcount">
                                        <div class="input_tit">旅遊平安險方案選擇</div>
                                        <div class="inputGroup__control">
                                            <div class="fancyRadio">
                                                <input type="radio" value="" id="travelChoose" name="travelChoose_N" class="fancyRadio__input" checked />
                                                <label for="travelChoose" class="fancyRadio__label" >
                                                    300萬
                                                </label>
                                                <input type="radio" value="" id="travelChoose2" name="travelChoose_N" class="fancyRadio__input" />
                                                <label for="travelChoose2" class="fancyRadio__label">
                                                    500萬
                                                </label>
                                            </div>
                                            <div class="fancyRadio__content" data-for="travelChoose">
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">意外事故身故失能</div>
                                                    <div class="IN_control--input">
                                                            <span>300</span>萬
                                                    </div>
                                                </div>
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">海外突發傷病</div>
                                                    <div class="IN_control--input">
                                                            <span>30</span>萬
                                                    </div>
                                                </div>
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">傷害醫療實支實付</div>
                                                    <div class="IN_control--input">
                                                            <span>30</span>萬
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="fancyRadio__content" data-for="travelChoose2">
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">意外事故身故失能</div>
                                                    <div class="IN_control--input">
                                                            <span>500</span>萬
                                                    </div>
                                                </div>
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">海外突發傷病</div>
                                                    <div class="IN_control--input">
                                                            <span>50</span>萬
                                                    </div>
                                                </div>
                                                <div class="IN_input_inputcount">
                                                    <div class="IN_input_tit">傷害醫療實支實付</div>
                                                    <div class="IN_control--input">
                                                            <span>50</span>萬
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="backW_choose">
                                    <div class="input_inputcount">
                                        <div class="input_tit">班機延誤理賠方案選擇</div>
                                        <div class="inputGroup__control">
                                            <div class="fancyRadio">
                                                <input type="radio"  id="airplaneChoose" name="airplaneChoose_N"  v-model="airplaneChoose_N" value="0" class="fancyRadio__input"/>
                                                <label for="airplaneChoose" class="fancyRadio__label"  >
                                                    固定式
                                                </label>
                                                <input type="radio" id="airplaneChoose2" name="airplaneChoose_N"  v-model="airplaneChoose_N" value="1"  class="fancyRadio__input" checked/>
                                                <label for="airplaneChoose2" class="fancyRadio__label" >
                                                    級距式
                                                </label>
                                            </div>
                                            
                                           
                                        </div>
                                        
                                      
                                    </div>
                                    <div>value: {{airplaneChoose_N}}</div>
                                </div>    
                                <div class="backW_choose">
                                        <div class="input_inputcount">
                                            <div class="input_tit">是否升級早鳥不便險方案</div>
                                            <div class="inputGroup__control">
                                                <div class="fancyRadio">
                                                    <input type="radio" id="InconvenientChoose" name="InconvenientChoose_N" v-model="InconvenientChoose_N" value="0" class="fancyRadio__input" checked />
                                                    <label for="InconvenientChoose" class="fancyRadio__label" >
                                                        是
                                                    </label>
                                                    <input type="radio" id="InconvenientChoose2" name="InconvenientChoose_N" v-model="InconvenientChoose_N" value="1" class="fancyRadio__input" />
                                                    <label for="InconvenientChoose2" class="fancyRadio__label">
                                                        否
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>value: {{InconvenientChoose_N}}</div>
                                </div>
                                <div class="backW_choose">
                                        <div class="input_inputcount">
                                            <div class="input_tit">班機延誤理賠金額 </div>
                                        </div>
                                      <div class="line_box">
                                                <div class="c-box c-box--arrow-bottom">
                                                        3hr
                                                </div>
                                                <div class="moment_money4000">4,000元</div>
                                                <div class="c-box c-box--arrow-bottom">
                                                        6hr
                                                </div>
                                                <div class="moment_money8000">8,000元</div>
                                                <div class="c-box c-box--arrow-bottom">
                                                        9hr
                                                </div>
                                                <div class="moment_money12000">12,000元</div>
                                                <div class="airplane"></div>
                                        </div>
                                        <div class="line_box">
                                                <div class="moment_money"></div> 
                                                <div class="c-box c-box--arrow-bottom">
                                                        4hr
                                                </div>
                                                <div class="moment_moneyone">5,000元</div>
                                                
                                                <div class="airplane"></div>
                                        </div>
                                </div>
                                <div class="back_choose">
                                        <div class="input_inputcount">
                                            <div class="input_tit">加價購特殊活動取消慰問</div>
                                            <div class="inputGroup__control">
                                                <div class="fancyRadio">
                                                    <input type="radio" value="" id="priceChoose" name="priceChoose_N" class="fancyRadio__input" checked />
                                                    <label for="priceChoose" class="fancyRadio__label" >
                                                        是
                                                    </label>
                                                    <input type="radio" value="" id="priceChoose2" name="priceChoose_N" class="fancyRadio__input" />
                                                    <label for="priceChoose2" class="fancyRadio__label">
                                                        否
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- ***** -->

                        
                        <!-- <footer class="m-timeline-ft">
                                <ul class="m-button-group b-text-center">
                                    <li class="b-inline">
                                        <a href="#" class="m-button b-desc b-bg-gray-d-p20 b-text-white ga_click_trace"><b class="b-bold">試算去</b></a>
                                    </li>
                                    <li class="b-inline">
                                        <a href="#" class="m-button b-desc b-bg-major b-text-white ga_click_trace"><b class="b-bold">投保去</b></a>
                                    </li>
                                </ul>
                        </footer> -->
                </div>
                <!-- ****** -->
					
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">信用卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">簽帳金融卡</a></p>
                            <ul>
                                 <li><a href="../../Views/Digital/DebitCard01.html" class="b-text-gray-88">VISA 簽帳金融卡</a></li>
                                 <li><a href="../../Views/Digital/DebitCard02.html" class="b-text-gray-88">MasterCard 簽帳金融卡</a></li>
                                
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">KOKO Free's貸</a></p>
                            <ul>
                                 <li><a href="../../Views/loan/AboutFreestyle.html" class="b-text-gray-88">Free's貸是什麼</a></li>
                                 <li><a href="../../Views/loan/WeLoveFreestyle.html" class="b-text-gray-88">Free's貸誰愛貸</a></li>
                                 <li><a href="../../Views/loan/TryFreestyle.html" class="b-text-gray-88">Free's貸試算去</a></li>
                                 <li><a href="../../Views/loan/FreestyleQA.html" class="b-text-gray-88">Free's貸問答區</a></li>
								 <li><a href="../../Views/loan/ApplyForFreestyle.html" class="b-text-gray-88">Free's貸我要申貸</a></li> 
                            </ul>
                        </li>
                       
                        <li class="m-sitemap-item">
                                <p><a href="#">KOPlay酷玩險</a></p>
                                <ul>
                                     <li><a href="#" class="b-text-gray-88">看看我有多好</a></li>
                                     <li><a href="#" class="b-text-gray-88">教教你怎麼保</a></li>
                                     <li><a href="#" class="b-text-gray-88">辦理賠讓我來</a></li>
                                     <li><a href="#" class="b-text-gray-88">算一算起手式</a></li>
                                     <li><a href="#" class="b-text-gray-88">知道你手舉高</a></li> 
                                </ul>
                            </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">關於帳戶</a></p>
                            <ul>
								<li><a href="../../Views/Digital/Accountright.html" class="b-text-gray-88">帳戶權益</a></li>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                
                            </ul>
                        </li>
                   
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
						
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.instagram.com/kokobk2019/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="ig" target="_blank">
                                <i class="m-icon m-icon-instagram-circle" data-hover-color="instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
     <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>信用卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>簽帳金融卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard01.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>VISA 簽帳金融卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard02.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>MasterCard 簽帳金融卡</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO Free's貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
					 <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/loan/AboutFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸是什麼</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/WeLoveFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸誰愛貸</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/TryFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>Free's貸試算去</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/FreestyleQA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's貸問答區</em></a>
                            </li>
							<li class="jQ-navList">
                                <a href="../../Views/loan/ApplyForFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's我要申貸</em></a>
                            </li>
                             
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                        <a href="#" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                            <em>KOPlay酷玩險</em>
                            <i class="m-icon m-icon-arrow-bottom"></i>
                        </a>
                         <div class="m-nav-sublink jQ-sublink">
                            <ul class="b-text-center-md">
                                <li class="jQ-navList">
                                    <a href="#" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>看看我有多好</em></a>
                                </li>
                                <li class="jQ-navList">
                                    <a href="#" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>教教你怎麼保</em></a>
                                </li>
                                <li class="jQ-navList">
                                    <a href="#" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>辦理賠讓我來!</em></a>
                                </li>
                                <li class="jQ-navList">
                                    <a href="#" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>算一算起手式</em></a>
                                </li>
                                <li class="jQ-navList">
                                    <a href="#" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>知道你手舉高</em></a>
                                </li>
                                 
                            </ul>
                        </div>
                    </li>  
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>關於帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/Digital/Accountright.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>帳戶權益</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
                
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->

 
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script src='https://cdn.jsdelivr.net/vue/1.0.21/vue.min.js'></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <script type="text/javascript" src="../../Scripts/js/combo.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/digital.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/loan.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/index.js"></script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <script type="text/javascript" src="../../Scripts/js/travel.js"></script>
    
    <!-- self script end -->
    <!--<![endif]-->

</body>
</html>