.owl-stage-outer, .owl-stage, .owl-item {
	height: 100%
}
.owl-stage-outer {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.owl-stage {
	margin-right: auto;
	margin-left: auto
}
.owl-item {
	vertical-align: top !important;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}
.owl-item.active {
	z-index: 2
}
.owl-item img {
	display: inline-block !important;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}
.owl-item>[class*=" b-col-"] {
	width: 100% !important
}
.m-owl {
	position: relative;
	overflow: hidden;
	*zoom: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-bd {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	*zoom: 1;
	letter-spacing: -0.34em !important;
	line-height: 0;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-bd>* {
	*display: inline;
	letter-spacing: normal;
	line-height: 1.6
}
.m-owl-bd[data-start-position="0"]>.m-owl-item {
	left: 0%
}
.m-owl-bd[data-start-position="1"]>.m-owl-item {
	left: -100%
}
.m-owl-bd[data-start-position="2"]>.m-owl-item {
	left: -200%
}
.m-owl-bd[data-start-position="3"]>.m-owl-item {
	left: -300%
}
.m-owl-bd[data-start-position="4"]>.m-owl-item {
	left: -400%
}
.m-owl-bd[data-start-position="5"]>.m-owl-item {
	left: -500%
}
.m-owl-bd[data-start-position="6"]>.m-owl-item {
	left: -600%
}
.m-owl-bd[data-start-position="7"]>.m-owl-item {
	left: -700%
}
.m-owl-bd[data-start-position="8"]>.m-owl-item {
	left: -800%
}
.m-owl-bd[data-start-position="9"]>.m-owl-item {
	left: -900%
}
.m-owl-bd[data-start-position="10"]>.m-owl-item {
	left: -1000%
}
.m-owl-bd[data-start-position="11"]>.m-owl-item {
	left: -1100%
}
.m-owl-bd>* {
	white-space: normal
}
.m-owl-item {
	width: 100%;
	height: 100%;
	vertical-align: top !important;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-figure {
	font-size: 0;
	text-align: center;
	position: relative
}
.m-owl-figure>*:not(img) {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	*zoom: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-ctrl.disabled {
	display: none
}
.m-owl-dots {
	text-align: center;
	z-index: 2;
	letter-spacing: -0.34em !important;
	line-height: 0;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-dots>* {
	*display: inline;
	letter-spacing: normal;
	line-height: 1.6
}
.m-owl-dots.is-absolute {
	left: 50%;
	position: absolute;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
.m-owl-dots.is-relative {
	position: relative
}
.m-owl-dot {
	background: #ccc;
	overflow: hidden;
	*zoom: 1;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s
}
.m-owl-dot.active {
	background: #EC008C
}
.m-owl-arrow {
	top: 50%;
	display: block;
	position: absolute;
	overflow: hidden;
	*zoom: 1;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-arrow:before {
	content: "";
	top: 50%;
	left: 50%;
	border: 1px solid #888;
	position: absolute;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-owl-arrow.is-prev {
	left: 0;
	border-right: 1px solid #888
}
.m-owl-arrow.is-prev:before {
	-moz-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	-webkit-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	transform: translateX(5%) translateY(-50%) rotate(-45deg)
}
.m-owl-arrow.is-next {
	right: 0;
	border-left: 1px solid #888
}
.m-owl-arrow.is-next:before {
	-moz-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	-webkit-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	transform: translateX(-105%) translateY(-50%) rotate(-45deg)
}
@media screen and (min-width: 1025px) {
	.m-owl-dots.is-absolute {
		bottom: 20px
	}
	.m-owl-dots.is-relative {
		margin-top: 25px
	}
	.m-owl-dot {
		margin-right: 4px;
		margin-left: 4px;
		width: 8px;
		height: 8px;
		cursor: pointer
	}
	.m-owl-arrow {
		width: 22px;
		height: 30px;
		cursor: pointer
	}
	.m-owl-arrow:before {
		width: 30px;
		height: 30px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-owl-dots.is-absolute {
		bottom: 1.95313vw
	}
	.m-owl-dots.is-relative {
		margin-top: 2.60417vw
	}
	.m-owl-dot {
		margin-right: .65104vw;
		margin-left: .65104vw;
		width: 1.30208vw;
		height: 1.30208vw
	}
	.m-owl-arrow {
		width: 2.34375vw;
		height: 3.125vw
	}
	.m-owl-arrow:before {
		width: 3.125vw;
		height: 3.125vw
	}
}
@media screen and (max-width: 739px) {
	.m-owl-dots.is-absolute {
		bottom: 3.125vw
	}
	.m-owl-dots.is-relative {
		margin-top: 3.125vw
	}
	.m-owl-dot {
		margin-right: 1.5625vw;
		margin-left: 1.5625vw;
		width: 3.125vw;
		height: 3.125vw
	}
	.m-owl-arrow {
		width: 3.75vw;
		height: 5vw
	}
	.m-owl-arrow:before {
		width: 5vw;
		height: 5vw
	}
}
.owl-stage-outer, .owl-stage, .owl-item {
	height: 100%
}
.owl-stage-outer {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.owl-stage {
	margin-right: auto;
	margin-left: auto
}
.owl-item {
	vertical-align: top !important;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.owl-item.active {
	z-index: 2
}
.owl-item img {
	display: inline-block !important;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}
.owl-item>[class*=" b-col-"] {
	width: 100% !important
}
.m-dialog {
	position: relative
}
.m-dialog-hd {
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	*zoom: 1;
	letter-spacing: -0.34em !important;
	line-height: 0;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-dialog-hd>* {
	*display: inline;
	letter-spacing: normal;
	line-height: 1.6
}
.m-dialog-item {
	vertical-align: top !important;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-dialog-item>* {
	white-space: normal
}
.m-dialog-ctrl {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: background .3s;
	-o-transition: background .3s;
	-webkit-transition: background .3s;
	transition: background .3s
}
.m-dialog-ctrl:not(.is-active) {
	background: #ccc
}
.m-dialog-ctrl:not(.is-active)>*:not(.m-icon):before {
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px)
}
.m-dialog-ctrl.is-active {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4Y2IzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3YjQwYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b8cb33), color-stop(100%, #57b40c));
	background-image: -moz-linear-gradient(left, #b8cb33, #57b40c);
	background-image: -webkit-linear-gradient(left, #b8cb33, #57b40c);
	background-image: linear-gradient(to right, #b8cb33, #57b40c)
}
.m-dialog-ctrl.is-active:before, .m-dialog-ctrl.is-active:after {
	content: "";
	left: 50%;
	position: absolute;
	-moz-transform: translateX(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) rotate(-45deg);
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg)
}
.m-dialog-ctrl.is-active:before {
	background: #FFF;
	z-index: 2
}
.m-dialog-ctrl.is-active:after {
	z-index: 1;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSItMjAwJSIgc3RvcC1jb2xvcj0iI2I4Y2IzMyIvPjxzdG9wIG9mZnNldD0iMzAwJSIgc3RvcC1jb2xvcj0iIzU3YjQwYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(-200%, #b8cb33), color-stop(300%, #57b40c));
	background-image: -moz-linear-gradient(left, #b8cb33 -200%, #57b40c 300%);
	background-image: -webkit-linear-gradient(left, #b8cb33 -200%, #57b40c 300%);
	background-image: linear-gradient(to right, #b8cb33 -200%, #57b40c 300%)
}
.m-dialog-ctrl>*:not(.m-icon) {
	-webkit-flex-grow: 1;
	flex-grow: 1
}
.m-dialog-ctrl>*:not(.m-icon):before {
	content: "";
	background: #FFF;
	position: absolute;
	z-index: 3
}
.m-dialog-ctrl>*:not(.m-icon)>* {
	position: relative;
	z-index: 4
}
.m-dialog-ctrl>*.m-icon {
	position: relative;
	z-index: 4;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4Y2IzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3YjQwYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b8cb33), color-stop(100%, #57b40c));
	background-image: -moz-linear-gradient(left, #b8cb33, #57b40c);
	background-image: -webkit-linear-gradient(left, #b8cb33, #57b40c);
	background-image: linear-gradient(to right, #b8cb33, #57b40c)
}
.m-dialog-ctrl>*.m-icon:before {
	display: block
}
@media screen and (min-width: 1025px) {
	.m-dialog.has-min-height .m-dialog-ctrl {
		min-height: 116px
	}
	.m-dialog-hd {
		margin-right: -10px;
		margin-left: -10px
	}
	.m-dialog-item {
		padding-right: 10px;
		padding-left: 10px
	}
	.m-dialog-ctrl {
		margin-bottom: 24px;
		padding: 26px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px
	}
	.m-dialog-ctrl:not(.is-active):hover {
		background: #999
	}
	.m-dialog-ctrl:not(.is-active)>*:not(.m-icon):before {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px
	}
	.m-dialog-ctrl.is-active:before {
		bottom: -6px;
		width: 18px;
		height: 18px
	}
	.m-dialog-ctrl.is-active:after {
		bottom: -9px;
		width: 24px;
		height: 24px
	}
	.m-dialog-ctrl.is-active>*:not(.m-icon):before {
		top: 3px;
		left: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px
	}
	.m-dialog-ctrl .m-icon {
		margin-right: 20px;
		padding: 10px;
		font-size: 30px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-dialog.has-min-height .m-dialog-ctrl {
		min-height: 10.41667vw
	}
	.m-dialog-hd[data-arrow="true"], .m-dialog-hd[data-arrow-dt="true"], .m-dialog-hd[data-arrow-tm="true"], .m-dialog-hd[data-arrow-sm="true"] {
		margin-right: 5.07813vw;
		margin-left: 5.20833vw
	}
	.m-dialog-hd[data-start-position="0"]>.m-dialog-item {
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%)
	}
	.m-dialog-hd[data-start-position="1"]>.m-dialog-item {
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	.m-dialog-hd[data-start-position="2"]>.m-dialog-item {
		-moz-transform: translateX(-200%);
		-ms-transform: translateX(-200%);
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%)
	}
	.m-dialog-hd[data-start-position="3"]>.m-dialog-item {
		-moz-transform: translateX(-300%);
		-ms-transform: translateX(-300%);
		-webkit-transform: translateX(-300%);
		transform: translateX(-300%)
	}
	.m-dialog-hd[data-start-position="4"]>.m-dialog-item {
		-moz-transform: translateX(-400%);
		-ms-transform: translateX(-400%);
		-webkit-transform: translateX(-400%);
		transform: translateX(-400%)
	}
	.m-dialog-hd[data-start-position="5"]>.m-dialog-item {
		-moz-transform: translateX(-500%);
		-ms-transform: translateX(-500%);
		-webkit-transform: translateX(-500%);
		transform: translateX(-500%)
	}
	.m-dialog-hd[data-start-position="6"]>.m-dialog-item {
		-moz-transform: translateX(-600%);
		-ms-transform: translateX(-600%);
		-webkit-transform: translateX(-600%);
		transform: translateX(-600%)
	}
	.m-dialog-hd[data-start-position="7"]>.m-dialog-item {
		-moz-transform: translateX(-700%);
		-ms-transform: translateX(-700%);
		-webkit-transform: translateX(-700%);
		transform: translateX(-700%)
	}
	.m-dialog-hd[data-start-position="8"]>.m-dialog-item {
		-moz-transform: translateX(-800%);
		-ms-transform: translateX(-800%);
		-webkit-transform: translateX(-800%);
		transform: translateX(-800%)
	}
	.m-dialog-hd[data-start-position="9"]>.m-dialog-item {
		-moz-transform: translateX(-900%);
		-ms-transform: translateX(-900%);
		-webkit-transform: translateX(-900%);
		transform: translateX(-900%)
	}
	.m-dialog-item {
		padding-right: .65104vw;
		padding-left: .65104vw
	}
	.m-dialog-ctrl {
		margin-bottom: 1.5625vw;
		padding: 1.5625vw;
		-moz-border-radius: .65104vw;
		-webkit-border-radius: .65104vw;
		border-radius: .65104vw
	}
	.m-dialog-ctrl:not(.is-active)>*:not(.m-icon):before {
		-moz-border-radius: .52083vw;
		-webkit-border-radius: .52083vw;
		border-radius: .52083vw
	}
	.m-dialog-ctrl.is-active:before {
		bottom: -.52083vw;
		width: 2.08333vw;
		height: 2.08333vw
	}
	.m-dialog-ctrl.is-active:after {
		bottom: -.91146vw;
		width: 2.60417vw;
		height: 2.60417vw
	}
	.m-dialog-ctrl.is-active>*:not(.m-icon):before {
		top: .39063vw;
		left: .39063vw;
		width: calc(100% - .78125vw);
		height: calc(100% - .78125vw);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px
	}
	.m-dialog-ctrl .m-icon {
		margin-right: 1.95313vw;
		padding: 1.30208vw;
		font-size: 3.125vw
	}
}
@media screen and (max-width: 739px) {
	.m-dialog.has-min-height .m-dialog-ctrl {
		min-height: 25vw
	}
	.m-dialog-hd[data-arrow="true"], .m-dialog-hd[data-arrow-tm="true"], .m-dialog-hd[data-arrow-xs="true"] {
		margin-right: 7.5vw;
		margin-left: 7.8125vw
	}
	.m-dialog-hd[data-start-position="0"]>.m-dialog-item {
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%)
	}
	.m-dialog-hd[data-start-position="1"]>.m-dialog-item {
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	.m-dialog-hd[data-start-position="2"]>.m-dialog-item {
		-moz-transform: translateX(-200%);
		-ms-transform: translateX(-200%);
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%)
	}
	.m-dialog-hd[data-start-position="3"]>.m-dialog-item {
		-moz-transform: translateX(-300%);
		-ms-transform: translateX(-300%);
		-webkit-transform: translateX(-300%);
		transform: translateX(-300%)
	}
	.m-dialog-hd[data-start-position="4"]>.m-dialog-item {
		-moz-transform: translateX(-400%);
		-ms-transform: translateX(-400%);
		-webkit-transform: translateX(-400%);
		transform: translateX(-400%)
	}
	.m-dialog-hd[data-start-position="5"]>.m-dialog-item {
		-moz-transform: translateX(-500%);
		-ms-transform: translateX(-500%);
		-webkit-transform: translateX(-500%);
		transform: translateX(-500%)
	}
	.m-dialog-hd[data-start-position="6"]>.m-dialog-item {
		-moz-transform: translateX(-600%);
		-ms-transform: translateX(-600%);
		-webkit-transform: translateX(-600%);
		transform: translateX(-600%)
	}
	.m-dialog-hd[data-start-position="7"]>.m-dialog-item {
		-moz-transform: translateX(-700%);
		-ms-transform: translateX(-700%);
		-webkit-transform: translateX(-700%);
		transform: translateX(-700%)
	}
	.m-dialog-hd[data-start-position="8"]>.m-dialog-item {
		-moz-transform: translateX(-800%);
		-ms-transform: translateX(-800%);
		-webkit-transform: translateX(-800%);
		transform: translateX(-800%)
	}
	.m-dialog-hd[data-start-position="9"]>.m-dialog-item {
		-moz-transform: translateX(-900%);
		-ms-transform: translateX(-900%);
		-webkit-transform: translateX(-900%);
		transform: translateX(-900%)
	}
	.m-dialog-ctrl {
		margin-bottom: 3.75vw;
		padding: 4.6875vw;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px
	}
	.m-dialog-ctrl:not(.is-active)>*:not(.m-icon):before {
		-moz-border-radius: .625vw;
		-webkit-border-radius: .625vw;
		border-radius: .625vw
	}
	.m-dialog-ctrl.is-active:before {
		bottom: -.625vw;
		width: 2.8125vw;
		height: 2.8125vw
	}
	.m-dialog-ctrl.is-active:after {
		bottom: -1.5625vw;
		width: 3.75vw;
		height: 3.75vw
	}
	.m-dialog-ctrl.is-active>*:not(.m-icon):before {
		top: .9375vw;
		left: .9375vw;
		width: calc(100% - 1.875vw);
		height: calc(100% - 1.875vw);
		-moz-border-radius: .625vw;
		-webkit-border-radius: .625vw;
		border-radius: .625vw
	}
	.m-dialog-ctrl .m-icon {
		margin-right: 3.125vw;
		padding: 1.5625vw;
		font-size: 8.125vw
	}
}
.m-grid {
	position: relative;
	overflow: hidden;
	*zoom: 1
}
.m-grid-item {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.m-grid-item>* {
	display: block
}
.m-grid-object {
	width: 100%;
	display: block;
	overflow: hidden;
	*zoom: 1
}
@media screen and (min-width: 1025px) {
	.m-grid-hd {
		margin-bottom: 40px
	}
	.m-grid-bd {
		margin: -15px
	}
	.m-grid-item {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-right: 15px;
        padding-left: 15px;
        min-height: 330px;
	}
	.m-grid-info {
		margin-top: 10px
	}
	.m-grid-info>*:not(:first-child) {
		margin-top: 5px
	}
	.m-grid-ft {
		margin-top: 40px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-grid-hd {
		margin-bottom: 3.90625vw
	}
	.m-grid-bd {
		margin: -1.5625vw
	}
	.m-grid-item {
		margin-top: 1.5625vw;
		margin-bottom: 1.5625vw;
		padding-right: 1.5625vw;
        padding-left: 1.5625vw;
        min-height: 320px
	}
	.m-grid-info {
		margin-top: 1.04167vw
	}
	.m-grid-info>*:not(:first-child) {
		margin-top: .52083vw
	}
	.m-grid-ft {
		margin-top: 3.90625vw
	}
}
@media screen and (max-width: 739px) {
	.m-grid-hd {
		margin-bottom: 4.6875vw
	}
	.m-grid-bd {
		margin: -2.5vw
	}
	.m-grid-item {
		margin-top: 2.5vw;
		margin-bottom: 2.5vw;
		padding-right: 2.5vw;
		padding-left: 2.5vw
	}
	.m-grid-info {
		margin-top: 1.5625vw
	}
	.m-grid-info>*:not(:first-child) {
		margin-top: .9375vw
	}
	.m-grid-ft {
		margin-top: 9.375vw
	}
}
.m-annc {
	position: relative
}
.m-annc-item {
	border-bottom: 1px solid #dadada;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s
}
.m-annc-item>a {
	position: relative
}
.m-annc-item>a>* {
	position: relative
}
@media screen and (min-width: 1025px) {
	.m-annc[data-hover-color="line"] .m-annc-item:hover {
		background: #3B3
	}
	.m-annc[data-hover-color="white"] .m-annc-item:hover {
		background: #FFF
	}
	.m-annc[data-hover-color="black"] .m-annc-item:hover {
		background: #000
	}
	.m-annc[data-hover-color="gray"] .m-annc-item:hover {
		background: gray
	}
	.m-annc[data-hover-color="gray-l-p40"] .m-annc-item:hover {
		background: #e6e6e6
	}
	.m-annc[data-hover-color="gray-l-p30"] .m-annc-item:hover {
		background: #cdcdcd
	}
	.m-annc[data-hover-color="gray-l-p20"] .m-annc-item:hover {
		background: #b3b3b3
	}
	.m-annc[data-hover-color="gray-l-p10"] .m-annc-item:hover {
		background: #9a9a9a
	}
	.m-annc[data-hover-color="gray-d-p40"] .m-annc-item:hover {
		background: #1a1a1a
	}
	.m-annc[data-hover-color="gray-d-p30"] .m-annc-item:hover {
		background: #343434
	}
	.m-annc[data-hover-color="gray-d-p20"] .m-annc-item:hover {
		background: #4d4d4d
	}
	.m-annc[data-hover-color="gray-d-p10"] .m-annc-item:hover {
		background: #676767
	}
	.m-annc[data-hover-color="transparent"] .m-annc-item:hover {
		background: transparent
	}
	.m-annc[data-hover-color="gray-47"] .m-annc-item:hover {
		background: #474747
	}
	.m-annc[data-hover-color="gray-88"] .m-annc-item:hover {
		background: #888
	}
	.m-annc[data-hover-color="gray-cc"] .m-annc-item:hover {
		background: #ccc
	}
	.m-annc[data-hover-color="gray-da"] .m-annc-item:hover {
		background: #dadada
	}
	.m-annc[data-hover-color="gray-f7"] .m-annc-item:hover {
		background: #f3f3f3
	}
	.m-annc[data-hover-color="facebook"] .m-annc-item:hover {
		background: #359
	}
	.m-annc[data-hover-color="youtube"] .m-annc-item:hover {
		background: #C11
	}
	.m-annc[data-hover-color="major"] .m-annc-item:hover {
		background: #EC008C
	}
	.m-annc[data-hover-color="minor"] .m-annc-item:hover {
		background: #B8CB33
	}
	.m-annc[data-hover-color="aid"] .m-annc-item:hover {
		background: #F44
	}
	.m-annc[data-hover-color="crimson"] .m-annc-item:hover {
		background: #B12
	}
	.m-annc[data-hover-color="violet"] .m-annc-item:hover {
		background: #b0639a
	}
	.m-annc[data-hover-color="royal-light"] .m-annc-item:hover {
		background: #523ba4
	}
	.m-annc[data-hover-color="rose"] .m-annc-item:hover {
		background: #c0006b
	}
	.m-annc[data-hover-color="green"] .m-annc-item:hover {
		background: #57b40c
	}
	.m-annc[data-hover-color="grass-green"] .m-annc-item:hover {
		background: #b8cb33
	}
	.m-annc[data-hover-color="grape"] .m-annc-item:hover {
		background: #7b4ca0
	}
	.m-annc[data-hover-color="sky"] .m-annc-item:hover {
		background: #f4fbff
	}
	.m-annc[data-hover-color="ocean"] .m-annc-item:hover {
		background: #e0f1fc
	}
	.m-annc[data-hover-color="pdf"] .m-annc-item:hover {
		background: #f54
	}
	.m-annc[data-hover-color="doc"] .m-annc-item:hover {
		background: #259
	}
	.m-annc[data-hover-color="xml"] .m-annc-item:hover {
		background: #274
	}
	.m-annc[data-hover-color="ppt"] .m-annc-item:hover {
		background: #B42
	}
	.m-annc-item {
		padding-top: 15px;
		padding-bottom: 15px
	}
	.m-annc-item>a {
		padding-top: 5px;
		padding-bottom: 5px
	}
	.m-annc-time {
		padding-right: 30px
	}
}
@media screen and (min-width: 740px) {
	.m-annc-item>a {
		display: table;
		vertical-align: middle;
		table-layout: auto;
		word-wrap: break-word;
		word-break: break-all
	}
	.m-annc-item>a>* {
		display: table-cell;
		vertical-align: middle
	}
	.m-annc-item>a>*.m-annc-time {
		width: 1%;
		white-space: nowrap
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-annc-item {
		padding-top: 1.30208vw;
		padding-bottom: 1.30208vw
	}
	.m-annc-item>a {
		padding-top: .52083vw;
		padding-bottom: .52083vw
	}
	.m-annc-time {
		padding-right: 3.25521vw
	}
}
@media screen and (max-width: 739px) {
	.m-annc-item {
		padding-top: 1.5625vw;
		padding-bottom: 1.5625vw
	}
	.m-annc-item>a {
		padding-top: .9375vw;
		padding-bottom: .9375vw
	}
}
.m-pagination {
	position: relative;
	letter-spacing: -0.34em !important;
	line-height: 0;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed
}
.m-pagination>* {
	*display: inline;
	letter-spacing: normal;
	line-height: 1.6
}
.m-pagination>li {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}
.m-pagination>li>a.is-prev i, .m-pagination>li>a.is-next i {
	position: relative;
	overflow: hidden;
	*zoom: 1;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-transition: border-color .3s;
	-o-transition: border-color .3s;
	-webkit-transition: border-color .3s;
	transition: border-color .3s
}
.m-pagination>li>a.is-prev i:before, .m-pagination>li>a.is-next i:before {
	content: "";
	top: 50%;
	left: 50%;
	border: 1px solid #888;
	position: absolute;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color .3s;
	-o-transition: border-color .3s;
	-webkit-transition: border-color .3s;
	transition: border-color .3s
}
.m-pagination>li>a.is-prev i {
	border-right: 1px solid #888
}
.m-pagination>li>a.is-prev i:before {
	-moz-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	-webkit-transform: translateX(5%) translateY(-50%) rotate(-45deg);
	transform: translateX(5%) translateY(-50%) rotate(-45deg)
}
.m-pagination>li>a.is-next i {
	border-left: 1px solid #888
}
.m-pagination>li>a.is-next i:before {
	-moz-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	-webkit-transform: translateX(-105%) translateY(-50%) rotate(-45deg);
	transform: translateX(-105%) translateY(-50%) rotate(-45deg)
}
.m-pagination>li>a {
	width: 100%;
	height: 100%;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	-webkit-transition: color .3s;
	transition: color .3s
}
.m-pagination>li>a:not(.is-prev):not(.is-next) {
	border: 1px solid transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.m-pagination>li>a:not(.is-prev):not(.is-next).is-active {
	color: #EC008C;
	border-color: #888
}
@media screen and (min-width: 1025px) {
	.m-pagination>li {
		margin-right: 10px;
		margin-left: 10px;
		width: 40px;
		height: 40px
	}
	.m-pagination>li>a.is-prev i, .m-pagination>li>a.is-next i {
		width: 22px;
		height: 30px
	}
	.m-pagination>li>a.is-prev i:before, .m-pagination>li>a.is-next i:before {
		width: 30px;
		height: 30px
	}
	.m-pagination>li>a:hover {
		color: #EC008C
	}
	.m-pagination>li>a:hover.is-prev i:before, .m-pagination>li>a:hover.is-next i:before {
		border: 1px solid #EC008C
	}
	.m-pagination>li>a:hover.is-prev i {
		border-right: 1px solid #EC008C
	}
	.m-pagination>li>a:hover.is-next i {
		border-left: 1px solid #EC008C
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-pagination>li {
		margin-right: 1.04167vw;
		margin-left: 1.04167vw;
		width: 4.55729vw;
		height: 4.55729vw
	}
	.m-pagination>li>a.is-prev i, .m-pagination>li>a.is-next i {
		width: 2.34375vw;
		height: 3.125vw
	}
	.m-pagination>li>a.is-prev i:before, .m-pagination>li>a.is-next i:before {
		width: 3.125vw;
		height: 3.125vw
	}
}
@media screen and (max-width: 739px) {
	.m-pagination>li {
		margin-right: 1.5625vw;
		margin-left: 1.5625vw;
		width: 9.375vw;
		height: 9.375vw
	}
	.m-pagination>li>a.is-prev i, .m-pagination>li>a.is-next i {
		width: 3.75vw;
		height: 5vw
	}
	.m-pagination>li>a.is-prev i:before, .m-pagination>li>a.is-next i:before {
		width: 5vw;
		height: 5vw
	}
}
.m-aphorism {
	position: relative
}
@media screen and (min-width: 1025px) {
	.m-aphorism-hd {
		margin-bottom: 10px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.m-aphorism-hd {
		margin-bottom: 1.04167vw
	}
}
@media screen and (max-width: 739px) {
	.m-aphorism-hd {
		margin-bottom: 1.5625vw
	}
}
.common-vision {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.common-vision-hd {
	position: relative;
	letter-spacing: -0.34em !important;
	line-height: 0;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyM2JhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IwNjM5YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #523ba4), color-stop(100%, #b0639a));
	background-image: -moz-linear-gradient(left, #523ba4, #b0639a);
	background-image: -webkit-linear-gradient(left, #523ba4, #b0639a);
	background-image: linear-gradient(to right, #523ba4, #b0639a)
}
.common-vision-hd>* {
	*display: inline;
	letter-spacing: normal;
	line-height: 1.6
}
.common-vision-hd.is-clearfix {
	overflow: hidden;
	*zoom: 1
}
.common-vision-hd>* {
	position: relative;
	z-index: 2
}
.common-vision-object {
	position: relative
}
.common-vision-title {
	position: relative
}
.common-vision-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	*zoom: 1
}
.common-vision-bg:before, .common-vision-bg:after {
	content: "";
	left: 50%;
	border-style: solid;
	border-color: #000;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: .1;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
.common-cards-item {
	border: 1px solid #dadada;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border-color .3s;
	-o-transition: border-color .3s;
	-webkit-transition: border-color .3s;
	transition: border-color .3s
}
.common-cards-image {
	margin-right: auto;
	margin-left: auto
}
.common-cards-name {
	line-height: 1.4
}
.common-file-icon {
	background: #e3e3e3;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.common-file-icon[data-type="PDF"]:after {
	background: #f54
}
.common-file-icon[data-type="DOC"]:after {
	background: #259
}
.common-file-icon[data-type="XML"]:after {
	background: #274
}
.common-file-icon[data-type="PPT"]:after {
	background: #B42
}
.common-file-icon[data-type="ZIP"]:after {
	background: #343434
}
.common-file-icon:before, .common-file-icon:after {
	display: block;
	position: absolute
}
.common-file-icon:before {
	content: "";
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #FFF #FFF #b3b3b3 #b3b3b3
}
.common-file-icon:after {
	right: 0;
	content: attr(data-type);
	color: #FFF;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-moz-transform: scaleX(0.6) scaleY(0.4);
	-ms-transform: scaleX(0.6) scaleY(0.4);
	-webkit-transform: scaleX(0.6) scaleY(0.4);
	transform: scaleX(0.6) scaleY(0.4)
}
@media screen and (min-width: 1025px) {
	.common-vision>*:not(:first-child) {
		margin-top: 50px
	}
	.common-vision-hd {
		padding-top: 40px;
		height: 260px
	}
	.common-vision-title {
		min-width: 420px
	}
	.common-vision-object {
		width: 420px
	}
	.common-vision-object:first-child {
		margin-right: 35px
	}
	.common-vision-object:last-child {
		margin-left: 35px
	}
	.common-vision-bg:before, .common-vision-bg:after {
		width: 270px;
		height: 270px
	}
	.common-vision-bg:before {
		top: -440px;
		margin-left: -228px;
		border-width: 290px
	}
	.common-vision-bg:after {
		top: -460px;
		margin-left: 324px;
		border-width: 200px
	}
	.common-cards {
		margin-top: 30px
	}
	.common-cards-hd {
		margin-bottom: 30px
	}
	.common-cards-item {
		margin-right: 10px;
		margin-left: 10px;
		padding: 15px;
		width: 410px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px
	}
	.common-cards-item:hover {
		border-color: #a7a7a7
	}
	.common-cards-image {
		width: 172px;
		height: 118.7619px
	}
	.common-cards-info {
		margin-left: 15px;
		width: calc(100% - 172px - 15px)
	}
	.common-cards-name:not(:only-child) {
		margin-bottom: 5px
	}
	.common-cards-ft {
		margin-top: 30px
	}
	.common-file-icon {
		margin-left: 4px;
		width: 18px;
		height: 24px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px
	}
	.common-file-icon:before {
		border-width: 3px
	}
	.common-file-icon:after {
		margin-right: 4px;
		bottom: -1px;
		padding: 1px 2px;
		font-size: 12px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.common-vision>*:not(:first-child) {
		margin-top: 4.55729vw
	}
	.common-vision-hd {
		padding-top: 2.60417vw;
		height: 26.04167vw
	}
	.common-vision-title {
		width: 50%
	}
	.common-vision-object {
		width: 41.66667vw
	}
	.common-vision-object:first-child {
		margin-right: 3.25521vw
	}
	.common-vision-object:last-child {
		margin-left: 3.25521vw
	}
	.common-vision-bg:before, .common-vision-bg:after {
		width: 26.04167vw;
		height: 26.04167vw
	}
	.common-vision-bg:before {
		top: -41.66667vw;
		margin-left: -26.69271vw;
		border-width: 28.64583vw
	}
	.common-vision-bg:after {
		top: -43.61979vw;
		margin-left: 28.64583vw;
		border-width: 19.53125vw
	}
	.common-cards {
		margin-top: 2.60417vw
	}
	.common-cards-hd {
		margin-bottom: 2.60417vw
	}
	.common-cards-item {
		margin-right: .78125vw;
		margin-left: .78125vw;
		padding: 1.30208vw;
		width: 41.66667vw;
		-moz-border-radius: 1.04167vw;
		-webkit-border-radius: 1.04167vw;
		border-radius: 1.04167vw
	}
	.common-cards-image {
		width: 15.625vw;
		height: 10.78869vw
	}
	.common-cards-info {
		margin-left: 1.30208vw;
		width: calc(100% - 15.625vw - 1.30208vw)
	}
	.common-cards-name:not(:only-child) {
		margin-bottom: .52083vw
	}
	.common-cards-ft {
		margin-top: 2.60417vw
	}
	.common-file-icon {
		margin-left: .52083vw;
		width: 2.08333vw;
		height: 2.86458vw;
		-moz-border-radius: .26042vw;
		-webkit-border-radius: .26042vw;
		border-radius: .26042vw
	}
	.common-file-icon:before {
		border-width: .39063vw
	}
	.common-file-icon:after {
		margin-right: .52083vw;
		bottom: -.13021vw;
		padding: .13021vw .26042vw;
		font-size: 1.5625vw
	}
}
@media screen and (max-width: 739px) {
	.common-vision-hd {
		padding-top: 6.25vw;
		height: 75vw
	}
	.common-vision-title {
		margin-bottom: 6.25vw
	}
	.common-vision-object {
		margin-right: 7.8125vw;
		margin-left: 7.8125vw
	}
	.common-vision-bg:before, .common-vision-bg:after {
		width: 25vw;
		height: 25vw
	}
	.common-vision-bg:before {
		top: -12.5vw;
		margin-left: -21.25vw;
		border-width: 26.5625vw
	}
	.common-vision-bg:after {
		top: -14.0625vw;
		margin-left: 29.6875vw;
		border-width: 18.75vw
	}
	.common-cards {
		margin-top: 4.6875vw
	}
	.common-cards-hd {
		margin-bottom: 4.6875vw
	}
	.common-cards-item {
		padding: 2.5vw;
		-moz-border-radius: .9375vw;
		-webkit-border-radius: .9375vw;
		border-radius: .9375vw
	}
	.common-cards-item:not(:first-child) {
		margin-top: 3.125vw
	}
	.common-cards-image {
		width: 31.25vw;
		height: 21.57738vw
	}
	.common-cards-info {
		margin-left: 2.5vw;
		width: calc(100% - 33.75vw)
	}
	.common-cards-name:not(:only-child) {
		margin-bottom: .9375vw
	}
	.common-cards-ft {
		margin-top: 4.6875vw
	}
	.common-file-icon {
		margin-left: 1.25vw;
		width: 5vw;
		height: 6.875vw;
		-moz-border-radius: .625vw;
		-webkit-border-radius: .625vw;
		border-radius: .625vw
	}
	.common-file-icon:before {
		border-width: .9375vw
	}
	.common-file-icon:after {
		margin-right: 1.25vw;
		bottom: -.3125vw;
		padding: .3125vw .625vw;
		font-size: 3.75vw
	}
}
.news-header-image {
	margin-right: auto;
	margin-left: auto
}
.news-article {
	border-top: 1px solid #dadada;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.news-aricle-time {
	display: block
}
.news-article-bd img {
	max-width: 100%
}
@media screen and (min-width: 1025px) {
	.news-hd {
		margin-bottom: 50px
	}
	.news-header-image {
		width: 390px
	}
	.news-bd>*:not(:first-child) {
		margin-top: 30px
	}
	.news-article {
		padding-top: 40px
	}
	.news-aricle-time {
		margin-bottom: 5px
	}
	.news-article-hd {
		margin-bottom: 30px
	}
	.news-article-bd>*:not(:first-child) {
		margin-top: 30px
	}
	.news-ft {
		margin-top: 50px
	}
	.news-ft>*:not(:first-child) {
		margin-top: 30px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.news-hd {
		margin-bottom: 5.20833vw
	}
	.news-header-image {
		width: 37.76042vw
	}
	.news-bd>*:not(:first-child) {
		margin-top: 2.60417vw
	}
	.news-article {
		padding-top: 3.90625vw
	}
	.news-aricle-time {
		margin-bottom: .52083vw
	}
	.news-article-hd {
		margin-bottom: 2.86458vw
	}
	.news-article-bd>*:not(:first-child) {
		margin-top: 2.86458vw
	}
	.news-ft {
		margin-top: 5.20833vw
	}
	.news-ft>*:not(:first-child) {
		margin-top: 2.60417vw
	}
}
@media screen and (max-width: 739px) {
	.news-hd {
		margin-bottom: 7.8125vw
	}
	.news-bd>*:not(:first-child) {
		margin-top: 4.6875vw
	}
	.news-article {
		padding-top: 4.6875vw
	}
	.news-aricle-time {
		margin-bottom: .9375vw
	}
	.news-article-hd {
		margin-bottom: 4.6875vw
	}
	.news-article-bd>*:not(:first-child) {
		margin-top: 4.6875vw
	}
	.news-ft {
		margin-top: 7.8125vw
	}
	.news-ft>*:not(:first-child) {
		margin-top: 4.6875vw
	}
}
.event-over {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: .4
}
.event-object {
	position: relative
}
.event-figure {
	left: 50%;
	margin-left: -75%;
	width: 150%;
	height: 100%;
	position: relative
}
@media screen and (min-width: 1025px) {
	.event-bd>*:not(:first-child) {
		margin-top: 90px
	}
	.event-object {
		height: 210px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.event-bd>*:not(:first-child) {
		margin-top: 7.8125vw
	}
	.event-object {
		height: 18.22917vw
	}
}
@media screen and (max-width: 739px) {
	event-bd>*:not(:first-child) {
		margin-top: 9.375vw
	}
	.event-object {
		height: 56.25vw
	}
}