@import "_base.scss";
a.link_g, a.link_g:active, a.link_g:hover, a.link_g:visited, a.link_g:focus{
  color: #00994e;
  text-decoration: underline;
}
.green_span{color:#00994e !important;}
.orange_span{color:#ff7313 !important;}
.red_span{color:#e70839 !important;}
.box_Depositor_y, .box_Depositor_n {
  margin-top: 25px;
}
// .btn_count_start{display:none; }
.m_50{
  margin:40px 0; 
}
.mb_30{
  margin-bottom:30px; 
}
.mb_20{
  margin-bottom:20px; 
}
.pl_40{
  padding-left:40px; 
}
.mt_0{
  top: 0;
}
.mt_5{
  margin-top:5px;
}
.m5{
  margin:5px 0;
}
.error_ml0{
  margin-left:0 !important;
  margin-top:5px;  
}
.mt_30{
  top:30px;
}
.w75p{
  width:75%; 
}
.mb_10{
  margin-bottom:10px; 
}
.pb_50{
  padding-bottom:50px; 
}
.box_inlebox{
  line-height:40px;
  margin-top:-5px;
}
.w_230{
  width:230px;
  margin:0 10px; 
  display:inline-block;
  position:relative; 
  .w_a_box{
    position:absolute;
    top:-25px;
    width:100%;  
    z-index:20;
  }
}
.w_line{
  line-height:30px; 
}

.text_center{
  text-align:center;
  margin-bottom:50px;  
}
.inputGroup__tit{
  position:relative;
  @include font(20px,30px,#111111,600); 
}
.inputGroup + .tit_10height{
  margin-top:10px; 
}
.text_detailed{
  margin-top:25px;
  margin-bottom:30px;  
  @include font(16px,30px,#111111,500); 
}

.inputGroup__control--thousand:after {
    content: '仟元';
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;
    line-height: 40px;
    color: #9e9e9e;
}
.btn_all_print{
  width:100%;
  text-align: right;
  margin:25px 0;
  &.lightbox_contenet{
     margin:25px 0 0px;
  }  
  a{
    border-radius: 20px;
    border: solid 1px #00994e;
    outline:none; 
    @include font(16px,35px,#00994e);
    padding:6px 20px;
    margin:0 5px;  
     span{
       line-height: 35px; 
     }
     &.yellow{
        border:solid 1px #ff6000;
        color:#fff;
        background:#ff6000;  
     }
  } 
}
.time_count{
  width:50px;
  height:50px;
  background-image: url(../../../images/time_count.png);
  background-size:50px 50px;
  display:inline-block;
  float:left;
  margin-right:5px;

}
.time_count_text{
    padding: 0;
    display:inline-block;
    float:left;
    margin: 0;
    margin-bottom: 30px;
}
/*table*/
.table_data_item{
  width:100%;
  color: #111111;
  &.mt20{
        margin-top:20px;
  }

  td{
    padding:5px 0; 
  }
  .td_25{
    width:25%; 
  }
  .td_50{
    width:50%; 
  }  
}
.line_li_mb_20{
  margin:20px 0 5px;
  font-size:18px;  
} 
/* thankIcon */
.thankIcon {
  margin: 0 auto;
  text-align: center;
  span{
    vertical-align: middle;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #00994e;
    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        background-image: url(../../../images/thankicon.png);
        background-position: 0 0;
        background-size: 100px 100px;
    }
  }
}
.icom_errorMsg{
   text-align:center;
   margin-top:15px; 
  .confirm__code_text{
    @include font(28px,40px,#f61732,600);
    text-align:center;
    &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-image: url(../../../images/thankicon.png);
    background-size: 80px 80px;                                                                                                                                  
   }
  }
}
.actionArea--2btns {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.btn.green_btn {
  border: solid 1px #00994e;
  background: #fff;
  color: #00994e;
  font-size:20px;
  margin-right: 16px;
}
.btn.green_btn > span {
  color: #00994e;
}
.select_o{
  position: relative;
  vertical-align: middle;
  border-radius:3px;
  background: #ffffff no-repeat url(../../../images/transformselect.png) right center;
  background-size: 25px 22px;
  line-height: 20px;
  cursor: pointer;
  z-index:9; 
}
.select_o::after {
  content:' ';
  position: absolute;
  width:25px;
  height:22px;  
  background: #ffffff no-repeat url(../../../images/transformselect.png) right center;
  background-size: 25px 22px;
  top: 50%;
  margin-top:-11px; 
  right:10px;
}
.inputGroup__control--half{
  .select_in{
    position: relative;
    width: 48%;
    float: left;
    .select_box{
      width: 100%;
      float: left;
      position: relative;
      display:table-cell;
      vertical-align: middle;
      padding: 9px 15px;
      line-height: 20px;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      overflow: hidden;
      z-index:1;
      background: #ffffff no-repeat url(../../../images/transformselect.png) right center;
      background-size: 25px 22px;
      &.error{
        border: 1px solid #ff2828;
        outline: none;
      }
    }
    &:nth-child(2){
      position: relative;
      width: 48%;
      float: left;
      margin-left:4%; 
    }
  }

}
.select_in{
  position: relative;
  width:100%;
  float: left;
  .select_box{
    width: 100%;
    float: left;
    position: relative;
    display:table-cell;
    vertical-align: middle;
    padding: 9px 15px;
    line-height: 20px;
    pointer-events: auto;
    cursor: pointer;
    appearance: none;
    overflow: hidden;
    background: #ffffff no-repeat url(../../../images/transformselect.png) right center;
    background-size: 25px 22px;
    border: 1px solid #ccc;
    &.error{
      border: 1px solid #ff2828;
      outline: none;
    }
  }
}
.select_box::-ms-expand { 
  display: none; 
}
.notice{
  font-size: 14px;
  color: #6d6d6d;
  line-height:25px; 
}

.input_text_detailed{
  margin-bottom:50px;
  font-size:16px;
  line-height:26px;
  color:#000;   
   span{
     font-size:20px;
     color:#00994e;
     font-weight:600; 
     }
}

.li_s{padding-left:10px;}
.table_lightbox{
  margin:10px 0; 
  td{
    border:1px solid #ccc;
    padding: 10px 10px;
    &.w90{
      width:90px;
      background: #00994e;
      color: #fff;
    }
  } 
}
.inputGroup__control.ml_0{
  margin-left:0;
  min-height:50px;
  padding-top:12px;
}
.rel{
  position: relative;
}
input[type="text"].input_other{
  width:79%;
  margin-left:5px;
  position: absolute;
  top:6px;
  left:18%;
}
.mt5{margin-top:5px; }
.mb20{margin-bottom:20px;margin-top:0!important; }
.light_title{
  font-weight:600; 
}
.s_title{
  font-weight:600; 
  padding:0 10px; 
}
.border_top{
  border-top:1px solid #d2d2d2;
  padding-top:18px;  
}
.inputGroup__info{
      margin-top:-25px;
}

.box_w100{
  width:100%;
  float:left;  
}
.box_border{
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding:0px 15px;
  margin-bottom:13px;
  width:100%;
  background:#fff;
  cursor:pointer;  
  &.on{
    background:#00994e;
    color:#fff; 
  }  
}
.other_input{
  position: relative;
  margin-left: 40px;
}
.double__checkbox{
    display: inline-block;
    position: relative;
   .trans-element-checkbox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:15px;
   }
   .trans-element-checkbox.checked {
    background-position: 0 -25px;
    }
    .trans-element-checkbox {
        background: url(../../../images/icon_check_s.png) no-repeat;
        width:25px;
        height:25px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        zoom: 1;
    }
     label {
      margin-left:40px;
      font-size:16px;
      display: inline-block;
      min-height: 40px;
      padding-top: 9px;
      cursor: pointer;
    }
}

.double_check{
  width:45px;
  border-radius: 2px;
  background-color: #ababab;
  font-size: 12px;
  color:#fff;
  padding:3px 10px;
  margin-left:5px;   
}
.must_check{
  width:45px;
  border-radius: 2px;
  background-color:#ea9393;
  font-size: 12px;
  color:#fff;
  padding:3px 10px;
  margin-left:5px;   
}
.br_block{display:inline; }
.no_padding{padding:0;}
.border {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    border-radius: 3px;
    margin: 20px auto 10px;
}
// select{
//  width:auto!important; 
// }
.agreement .accordionForm__title.p_block:before{
  background-image:url(../../../images/accordion--pblock.png);
}
.form__section{
  margin-bottom:20px; 
}
.check_pdf{
  margin: 30px 0;
}

.inputGroup__title{
  color: #4a4a4a;
  font-size:20px;
  margin-bottom:30px;
  font-weight:600;   
}
.agreement .accordionForm{
  margin-bottom:30px; 
}
.agreement .accordionForm__content{
  // background: #f1f1f1;
}
.accordionForm__content{
    position:relative; 
    .only_box{
    position:absolute;
    top:10px;
    right:80px;
    width:100px;
    height:50px;
    background: url(../../../Content/AML/images/only_bg.png);
    background-size: 100px 50px;
    background-size:100px 50px; 
    text-align:center; 
    @include font(18px,45px,#fff,600);     
  }
  .agree_text_content{
    font-size:14px;   
  }
}
.inputGroup__control{
  position:relative;
}

.box_inline{
  position:relative;
  width:100%;
  line-height:35px;
  font-size:18px;
  font-weight:600;
  color:#111111;
  display: inline-block;
  vertical-align: top;
  padding:10px 40px; 
  &.error--img:before{
    content:" "; 
    width:80px;
    height:102px;
    position:absolute;
    background: url(../../../Content/AML/images/error_img.png);
    background-size:80px 102px; 
  }
  .text__box{
    font-size:20px;
    line-height:30px;
    padding-left:130px;
    display: block;
    font-weight:600;
    span.size36{font-size:36px;}
    span.size30{font-size:30px;}
    span.size25{font-size:25px;}
    span.gray_18{font-size:18px; color:#6d6d6d; font-weight:500;  }
    span{
      font-weight:600;
      font-size:22px;
    }  
  }
  span{
    font-weight:500;
    font-size:16px;
  }
  
  span.loan_o{
    color:#ff7313;
    font-size:22px;
    font-weight:600; 
  }
  span.loan_g{
    color:#4a4a4a;
    font-size:22px;
    font-weight:600;  
  }
  &.mb_10{
    margin-bottom:10px; 
  }
  &.mt_20{
    margin-top:20px;
    padding-top:30px;
    border-top: 1px solid #ccc;
  }
  .icon_float{
    float:left; 
  }
  .ml_95{
    margin-left: 95px;
    &.b20{font-size:18px;color: #6d6d6d;}
  }
      
}
.box_inline2{
  position:relative;
  width:100%;
  line-height:35px;
  font-size:16px;
  font-weight:500;
  color:#111111;
}

.addData{
  padding-bottom:20px;
  position: relative;
  .delete{
    cursor:pointer;
    width:15px;
    height:15px;
    background: url(../../../images/cancel.png);
    background-size:15px 15px;  
    position:absolute;
    right:-30px;
    top:10px;
    z-index:10;   

  }
}
.box_icon{
 margin-top:0px;
 margin-bottom:10px;  
 height: 30px;
}
.more{
  float:right;
  cursor:pointer;
  @include font(18px,32px,#00994e,600); 
}
.icon_delete:before,.icon_delete:after{
  width:30px;
  height:30px;
  background-image: url(../../../Content/AML/images/account_img.png);
  margin-left:10px; 
  margin-right:10px;
  background-position-y:-30px;
  cursor:pointer;  
}
.icon_add:before,.icon_add:after{
  width:30px;
  height:30px;
  background-image: url(../../../Content/AML/images/account_img.png);
  margin-left:10px; 
  margin-right:10px;
  background-position-y:0;
  cursor:pointer;  
}

.icon_item:before,.icon_item:after{
  width:20px;
  height:20px;
  background-size:20px 20px; 
  background-image: url(../../../images/check_icon.png);
  margin-right:5px; 
}
.iInfo_g.mt6:before{
  margin-top:-6px;
  margin-right: 5px;
}
.iInfo_g:before, .iInfo_g:after {
  width:20px;
  height:20px;
  background-size:20px 20px; 
  background-image: url(../../../images/prompt_icon.png);
  margin-left:5px; 
}
.collapse--note > .collapse__title {
    padding: 10px 40px 10px 55px;
    border-bottom: solid 1px #E6E6E6;
}
.collapse__content{
  border-top:none;
}
.inputGroup__label_b {
    width: 270px;
    padding:0px 30px 0 0;
    left: 0;
    top: 0;
    text-align: right;
    position: absolute;
    display: block;
    line-height:1.2; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.collapse--note{
    background-color: #fafafa;
    cursor:pointer;
    margin-bottom:45px;
    &.loan_table{
      .collapse__title{
            padding: 10px 40px 10px 10px;
            font-size:13px;
            color: #6d6d6d;
            &:after{left:100px;}
      }
    }
}


.text_gray{
  color: #4a4a4a;
  font-weight:600;
}
.text_gray_14{
  color: #6d6d6d;
  font-size:14px; 
}
.text_orange{
  color:#ff7313;
}
.mb_40{
  margin-bottom:40px; 
}
.wrap_button{
  width:100%;
  float: left;
  &.loginCenter{
    padding-left:200px; 
  } 
}

.text__20{
  font-size:20px;
}
.text__16{
  font-size:16px;
}
.text__22{
  font-size:22px;
}
.text__center{
  text-align:center; 
}
.bannerNew__img{
    position: relative;
    background: url(../../Content/images/pcnew.png);
    height:250px;
    background-position: top right;
    background-repeat: no-repeat; 
   .banner_title{
    position:absolute;
    top:15%;
    left:50%;
    margin-left:-480px; 
    max-width:960px; 
    text-align:left; 
    z-index:99; 
    font-size:42px;
    line-height:50px;
    color:#fff;
    font-weight:600; 
    .br{display:inline-block;}
    p{ 
      line-height:1.33;
      font-size:25px;
      font-weight:600;
      color: #ffffff;
      margin-top:20px;
      margin-bottom:25px;
      }      
   }
}
a.btn_box{
  width: 200px;
  border-radius:25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #ffffff;
  text-align:center; 
  float:left;
  font-size:18px;color:#fff;line-height:40px;  
}
.complete__write{
  background:#fafafa;
  padding: 30px;
  margin: 0 0;
  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  li{
      width: 33.3%;
      text-align: center;
      float: left;
      list-style: none;
      position:relative; 
      .complete__wtDesc{
        padding: 0 30px;
        font-size:24px;
        color:#4a4a4a;
        font-weight:600; 
        margin-bottom:0px; 
        span.step{color:#00994e;font-size:16px;}
        .br_box{margin-left:45px;font-size:18px;color:#4a4a4a;}  
       }
       .complete__action{
        font-size:14px; 
        text-align: center;
        color:#4a4a4a;
        .title_g{ font-size:16px;color:#00a94f; }
        a.green_on{ 
          text-decoration:underline;
          color:#00994e; 
        }
       }
      &:after{
        width:35px;
        height:35px;
        background: url(../images/icon_p.png);
        content:" ";
        position: absolute;
        right:-20px;
        top:175px;     
      }
      &:nth-child(3):after{
       display:none; 
      }
  }
}
.complete__writetIcon{
  padding: 30px;
}
.iwrite__pen:before, .iwrite__doc:before, .iPrint__bank:before, .iwrite__pen:after, .iwrite__doc:after, .iPrint__bank:after {
    width:120px;
    height:120px;
    background-image: url(../images/iwrite.png);
    background-position-x: 0;
}
.iwrite__pen:before, .iwrite__pen:after {
    background-position-y: 0;
}
.iwrite__doc:before, .iwrite__doc:after {
    background-position-y: -120px;
}
.iPrint__bank:before, .iPrint__bank:after {
    background-position-y: -240px;
}
.box_location{
  width: 360px;
  max-width: 360px;
  margin: 0 26px 0 0;
  float: left;
  padding: 15px 0;
  min-height:180px;
  text-align: center;
  .loaction_tit{
    font-size:18px;
    color: #4a4a4a;
    line-height: 1.18;
    margin-bottom:10px; 
  }
}
.box_ticket{
  width:540px;
  max-width:540px;
  margin: 0 0 0 0;
  float: left;
  padding:15px 0;
  min-height:180px; 
   text-align: center;
   .box_l{    
    float: left;
    margin-left: 50px;
     .s_text{font-size:12px;margin-top:10px; }
    }
   .img_qrcode{
    margin-right:28px;
    float:right;
    width:164px;
    height:164px; 
    background-size:164px 164px;
    background: url(../../../Content/AML/images/qr.png);
    margin-top: -15px;  
    }
   .ticket_tit{
    font-size:18px;
    color: #4a4a4a;
    line-height: 1.18;
    margin-bottom:0px; 
  }
}
.box_notice{
  font-size:16px;
  line-height:26px;  
  margin:60px 0;
  color: #111111;
  font-weight:600;  
}
.loaction_i:before, .ticket_i:before,  .loaction_i:after, .ticket_i:after {
    width:60px;
    height:60px;
    background-image: url(../../../Content/AML/images/complete_img.png);
    background-position-x:0;
}
.loaction_i:before, .loaction_i:after {
    background-position-y:0;
}
.ticket_i:before, .ticket_i:after {
    background-position-y:-60px;
}
.box_list_50 {
    width:50%;
    float:left;  
    ul{
        width:100%; 
        padding: 0;
        margin: 0;
    }
}
.box_list_50 ul >li{
    float: left;
    width: 100%;
    margin-top: 15px;
    list-style: none;
    padding-right: 20px;
}
.notice_text{
  margin-top:20px; 
  @include font(16px,30px,#111111);
}
.confirm__list > li.line_li{
  width:100%; 
}
.confirm__list > li.line_li{
  width:100%; 
}
.box_HasCardOrAccountY,.box_HasCardOrAccountN{
  margin-top:25px; 
}
.detail_agree_text{
  margin-top:8px;
  margin-left:40px;
  letter-spacing: normal; 
  @include font(16px,25px,#111111);
}
.content_text{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:25px;  
}
.time__box{
  text-align:right; 
  line-height:30px;
  margin-bottom:20px;
  span{
    font-size:16px;
    color:#111111;  
  }
  span#time__count{
    color:#ff6000;
    font-weight:600; 
  }  
}
.form_box{
  border: solid 1px #d5d5d5;
  background:#fff;
  padding:40px 30px;
  margin-bottom:35px;  
}
.program__box{
 line-height:36px; 
 font-size:22px; 
 margin-bottom:40px;
 font-weight:600;
 span{color:#ff6000;}  
}
.box_loan__result{
  border-top:solid 1px #d5d5d5;
  text-align:center;
  margin:30px 0;
  padding:30px 0 0;   
  p{
    font-size:16px;
    span.tit{font-weight:600;color:#000; }
  }
}
.accordionForm__title.active + .accordionForm__content{
  padding: 10px 50px 30px 50px;
}

.inputGroup__label.w200{width:200px;}
.inputGroup__control.w200{margin-left:200px;}
.otherNations__ul > li{
  margin-left:2%;
}
.otherNations__ul > li.loan_li{width:15%;}
.otherNations__ul > li.loan_li:nth-child(1){
   margin-left:0%;
}
.otherNations__ul > li.loan_li:nth-child(7){
   margin-left:0%;
}
.otherNations__ul > li.loan_li:nth-child(13){
   margin-left:0%;
}
.otherNations__ul > li.loan_li:nth-child(5n){
     margin-left:2%;
     clear: none;
 }
.otherNations__ul > li.Education_li{width:15%;}
.otherNations__ul > li.Education_li:nth-child(1){
   margin-left:0%;
}
.otherNations__ul > li.Education_li:nth-child(7){
   margin-left:0%;
}
.otherNations__ul > li.Education_li:nth-child(13){
   margin-left:0%;
}
.otherNations__ul > li.Education_li:nth-child(5n){
     margin-left:2%;
     clear: none;
 }
 .box_remind{
  margin:40px 0;
  padding:0 50px;
  color:#111111;
  line-height:30px;    
}
 .box_remind2{
  margin:10px 0 30px;
  padding:0 0px;
  color:#111111;
  line-height:30px;    
}
.btn.w140{
  width:140px;
  padding:8px 0;  
}
.form{
   &.bg_w{
    background:#fff;
    padding:35px 15px;
    border: solid 1px #d5d5d5;
  }
  .sms__actionArea{
    margin:0px auto 0px;
  }
}
.table_load_style{
    border: solid 1px #adadad;
    display: table;
    max-width: 100%;
    width: 100%;
    border-collapse:collapse;
    @include font(14px,#4a4a4a,1.36,500);
    th{
      border-bottom:1px solid #d8d8d8;
      background:#f6f6f6;
      text-align:center; 
    }
    td{
      border-bottom:1px solid #d8d8d8;
      background:#fff;
      text-align:center; 
    }  
 }

.footer{
  margin-top:55px; 
  width:100%;
  float:left;
}
@media screen and (max-width:1200px){
  .inputGroup__info{
    margin-top:2px;
    top:-30px;
    right:0;  
  }
}
@media screen and (max-width:992px){
  .wrap_button{
    &.loginCenter{
      .btn{
        width:200px;
      }
    } 
  }
.box_location{
    width:40%;
    max-width:40%;
    margin: 0 1% 0 0;
  }
.box_ticket{
    width:59%;
    max-width:59%;
    margin: 0 0 0 0;
  }

}
@media screen and (max-width:960px){
  .wrap_button{
    &.loginCenter{
      padding-left:165px;
      .btn{
        width:200px;
      }
    } 
  }
  .agreement .accordionForm__title{
    padding-left: 10px;
  }
  .agreement .accordionForm__title.active + .accordionForm__content{
        padding:0px 10px 0px 10px;
  }
  .agreement .accordionForm__content article{
        padding:0px;
  }
  .accordionForm__title.active + .accordionForm__content {
    padding: 10px 15px 60px 15px;
  }
  .m_50{
   margin:20px 0; 
  }
  input[type="text"].input_other{
      width:78%;
      margin-left:100px;
      position: absolute;
      top:6px;
      left:0;
    }
  .li_s{padding-left:0px;}
  .banner__img{
     position:relative;
     .banner_title{
      position:absolute;
      top:45px;
      left:0%;
      margin-left:10px;
      width:40%;  
      max-width:40%; 
      text-align:left; 
      z-index:99; 
      font-size:35px;
      line-height:50px;
      color:#fff;
      font-weight:600;
      margin-bottom:20px; 
      .br{display:inline-block;}
      p{line-height: 1.5;font-size: 30px;font-weight: 500;color: #ffffff;}      
     }
   }
  .box_location{
    width:35%;
    max-width:35%;
    margin: 0 1% 0 0;
    float: left;
    padding: 15px 0;
    min-height:180px;
    text-align: center;
    .loaction_tit{
      font-size:18px;
      color: #4a4a4a;
      line-height: 1.18;
      margin-bottom:10px; 
    }
  }
  .box_ticket{
      width:64%;
      max-width:64%;
      margin: 0 0 0 0;
      float: left;
      padding:15px 0;
      min-height:180px; 
       text-align: center;
       .box_l{    
        float: left;
        margin-left:20px;
         .s_text{font-size:12px;margin-top:10px; }
        }
       .img_qrcode{
        margin-right:30px;
        float:right;
        width:120px;
        height:120px; 
        
        background: url(../../../Content/AML/images/qr.png);
        background-size:cover;
        margin-top:0px;  
        }
       .ticket_tit{
        font-size:18px;
        color: #4a4a4a;
        line-height: 1.18;
        margin-bottom:0px; 
      }
  }
  .inputGroup__label_b{
    width: 165px;
  }
  .line_box{
    width:100%;
    float:left;
    padding-left:50px;  
  }
  .pl_40{padding-left:0; }
  

}
@media screen and (max-width: 860px){
  .time_count_text{
    width:80%; 
  }
  .btn_all_print{
    width:100%;
    text-align: right;
    margin:25px 0; 
  }
}
@media screen and (max-width: 767px){
  .wrap_button{
    &.loginCenter{
      padding-left:0px;
      .btn{
        float: left;
        width: 48%;
        margin: 0 1%;
      }
    } 
  }
  .addData{
    .delete{
      cursor:pointer;
      width:15px;
      height:15px;
      background: url(../../../images/cancel.png);
      background-size:15px 15px;  
      position:absolute;
      right:0px;
      top:0px;
      z-index:10;   
  
    }
  }
.section.intro_box{
  padding:10px 10px;
}  
.inputGroup + .inputGroup {
    margin-top:20px;
}
.more{
  padding-left:0;
}  
.inputGroup + .inputGroup.mt_5{
 margin-top:5px; 
}
.accordionForm__content{
    position:relative; 
    .only_box{
    right:25px;
  }
}
.box_list_50 {
    width:100%;
    float:left;  
    ul{
        width:100%; 
        padding: 0;
        margin: 0;
    }
}
  /*---------- thankIcon ----------*/
  .thankIcon {
    margin-top: 0;
    span {
      display: block;
      text-align: center;
      &:before{
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        background-image: url(../../../images/thankicon.png);
        background-position: 0 0;
        background-size:70px 70px;

      }
    }
  }
  .icom_errorMsg{
    .confirm__code_text{
      @include font(28px,30px,#ff2828,600);
      text-align:center;
      span{display:block; }
      &:before{
        content: '';
        display:block;
        vertical-align: middle;
        width:55px;
        height:55px;
        background-image: url(../../../images/warning-100-px@2x.png);
        background-size:55px 55px;
        margin: 0 auto 20px;
      }
    }
  }


.otherNations__ul > li.Education_li{width:30.66%;}
.otherNations__ul > li.loan_li{width:30.66%;}
.form_box{
  border: solid 1px #d5d5d5;
  background:#fff;
  padding:40px 10px; 
}
.box_inline{
  position:relative;
  width:100%;
  line-height:30px;
  font-size:18px;
  font-weight:600;
  color:#111111;
  margin-bottom:15px;
  padding: 10px 20px; 
  &.error--img:before{
    display: block;
    position: relative;
    margin: 0 auto 30px; 
  }
  .text__box{
    padding-left:0px;
    display: block;
    span{
    display:inline; 
     padding-left: 0;
    }
  } 
  span{
    display: block;
    padding-left: 30px;
  }
  &.mb_10{
    margin-bottom:10px; 
  }
  &.mt_20{
    margin-top:20px;
    padding-top:30px;
    border-top: 1px solid #ccc;
  }
  .ml_95{
    margin-left:28px;
    &.b20{font-size:18px;color: #6d6d6d;}
  }  
        
}
.inputGroup__info{
    margin-top:0;
    top:0px;
    right:0;  
}
.mt5 {
    margin-top:-2px;
    position: absolute;
    top:0;
    left:110px;
}

.collapse--note > .collapse__title {
    padding: 10px 40px 10px 10px;
}
.collapse--note > .collapse__content {
    padding: 10px 0px;
}
.CUBList--sequence > li {
    position: relative;
    font-size: 14px;
    padding-left:60px;
}
.CUBList--sequence > li:before {
    content: attr(data-sequence);
    display: block;
    position: absolute;
    width:60px;
    line-height: 1.4;
    font-size: 14px;
    top: 0;
    left: 0;
    text-align: right;
}
.btn{max-width:100%; width:100%;}
.br_block{display:inline-block; }
.inputGroup__title{
  margin-left:0px;
}
  .inputGroup__label_b {
    display: block;
    position: relative;
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 20px;
}

.banner__img{
    position: relative;
    background: url(../../../Content/AML/images/kv_mobile.jpg);
    width:100%;
    min-height:300px;
    height:0; 
    padding-bottom:30vh;   
    background-size:100%;
    background-repeat:no-repeat;  
    background-position: top center;
   .banner_title{
    position:absolute;
    width:38%;
    top:10vw;
    margin-top:0px; 
    text-align:left; 
    z-index:99; 
    font-size:4vw;
    line-height:30px;
    color:#fff;
    font-weight:600;
    margin-left:5px; 
    .br{display:inline-block;}
    p{ 
      line-height:1.33;
      font-size:4vw;
      font-weight:600;
      color: #ffffff;
      margin-top:3vw;
      margin-bottom:3vw;
      }      
   }
}
.box_location{
    width:100%;
    max-width:100%;
    margin: 0 0 20px 0;
    float: left;
    padding: 15px 0;
    min-height:165px;
    text-align: center;
    .loaction_tit{
      font-size:18px;
      color: #4a4a4a;
      line-height: 1.18;
      margin-bottom:10px; 
    }
  }
  .box_ticket{
      width:100%;
      max-width:100%;
      margin: 0 0 0 0;
      float: left;
      padding:15px 0;
      min-height:165px; 
       text-align: center;
       .box_l{    
        float:none;
        margin:0 auto;
         .s_text{font-size:12px;margin-top:10px; }
        }
       .img_qrcode{
         display:none;    
        }
       .ticket_tit{
        font-size:18px;
        color: #4a4a4a;
        line-height: 1.18;
        margin-bottom:0px; 
      }
  }
a.btn_box{
  width:100%;
  border-radius:25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #ffffff;
  text-align:center; 
  float:left;
  font-size:20px;color:#fff;line-height:40px;  
}
.complete__writetIcon{
  padding:0px;
  position:absolute;
}
.complete__write{
  background:#fafafa;
  padding:10px 0;
  margin: 0px 0;
  li{
      width: 100%;
      text-align: center;
      float:none;
      max-width:500px;
      margin: 0 auto;
      padding:30px 0; 
      list-style: none;
      position:relative;
      border-bottom: solid 1px #d8d8d8; 
      .complete__wtDesc{
        padding: 20px 0 0 100px;
        font-size:18px;
        color:#4a4a4a;
        font-weight:600; 
        margin-bottom:10px;
        margin-top:10px;
        min-height:60px;
        text-align: left;
        &.f_top{  padding:10px 0 0 100px;}  
        span.step{color:#9d9d9d;font-size:16px;width:50px;}
        .br_box{margin-left:50px;font-size:18px;color:#4a4a4a;}  
       }
       .complete__action{
        font-size:18px; 
        text-align:left;
        color:#4a4a4a;
        margin-left: 100px;
        .title_g{ font-size:16px;color:#00a94f; }
        a.green_on{ 
          text-decoration:underline;
          color:#00994e; 
        }
       }
      &:after{
       display:none;  
      }
     
  }
}

.iwrite__pen:before, .iwrite__doc:before, .iPrint__bank:before, .iwrite__pen:after, .iwrite__doc:after, .iPrint__bank:after {
    width:80px;
    height:80px;
    background-image: url(../images/iwrite_S.png);
    background-position-x: 0;
    background-size: 80px;
}
.iwrite__pen:before, .iwrite__pen:after {
    background-position-y: 0;
}
.iwrite__doc:before, .iwrite__doc:after {
    background-position-y: -80px;
}
.iPrint__bank:before, .iPrint__bank:after {
    background-position-y: -160px;
}

}

@media screen and (max-width:480px){
.w_230{
  width:60%;
  margin:0 2%; 
  display:inline-block;
  position:relative; 
  .w_a_box{
    position:absolute;
    top:-25px;
    width:100%;  
  }
}
.pl_40{
  padding-left:0px;
  float: left;
  display: block;
  width: 100% 
}
.banner__img{
    min-height:180px;
}
.complete__write{
  li{
      width: 100%;
      text-align: center;
      float:none;
      max-width:390px;
      margin: 0 auto;
      list-style: none;
      position:relative;
      border-bottom: solid 1px #d8d8d8; 
      .complete__wtDesc{
        padding:10px 0 0 100px;
        font-size:5vw;
        color:#4a4a4a;
        font-weight:600; 
        margin-bottom:10px;
        margin-top:10px;
        min-height:60px;
        text-align: left;
        &.f_top{  padding:10px 0 0 100px;}  
        span.step{color:#9d9d9d;font-size:18px;width:50px;}
        .br_box{margin-left:60px;font-size:4.5vw;color:#4a4a4a;}  
       }
       .complete__action{
        font-size:4.5vw; 
        text-align:left;
        color:#4a4a4a;
        .title_g{ font-size:16px;color:#00a94f; }
        a.green_on{ 
          text-decoration:underline;
          color:#00994e; 
        }
       }
      &:after{
       display:none;  
      }
  }
}
}
@media screen and (max-width:640px){
  .w75p{
    width:100%;
    margin-top:5px;  
  }
  /*table*/
  .table_data_item{
      width:100%;
      &.mt20{
        margin-top:20px;
      } 
      .td_25{
        width:50%;
        display: inline-block; 
      }
      .td_50{
        width:100%;
        display: block;
      }
      .td_block{
        display: block;
      }  
  }
  .line_li_mb_20{
    margin:10px 0 0; 
  }
  input[type="text"].input_other{
    width:60%;
  }
  .btn_all_print{
  width:100%;
  text-align:center;
  margin:25px 0;
  display:inline-block; 
  }
  .time_count_text{
    width:75%; 
  }
  .section--bgWhite{
    margin-bottom:0; 
  }
}
.img_bg{
  position:absolute;
  top:50%;
  left: 50%;
  margin-left:-109.5px;
  margin-top:-61.5px;  
}

@media screen and (max-width: 560px) {
  table th, table td {
    padding: 5px 16px;
  }
  .table_load_style {
    border: solid 1px #adadad;
    width: 100%;
    border-collapse: collapse;
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 14px;
    line-height: #4a4a4a;
    font-weight: 500;
    font-family: "微軟正黑體";
    color: 1.36;
  }
}
