article.wrapper .banner {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: -webkit-linear-gradient(271deg, #a366d1, #874dd1);
  background: -o-linear-gradient(271deg, #a366d1, #874dd1);
  background: linear-gradient(179deg, #a366d1, #874dd1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 610px;
}


