.footer {
  margin-top: 10px;
  width: 100%;
  float: left;
}

.footer .wrap {
  padding: 30px 0px;
}

.footer__warning {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.footer__left {
  width: 130px;
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  color: #111111;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer__right {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #777777;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 1.5px;
  word-break: break-all;
}


