@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

html, body {
  height: 100%;
}

input {
  background: transparent;
  border: none;
}

input:focus, input:focus {
  outline: none !important;
}

body {
  background: #fff;
  font-family: '微軟正黑體';
  font-size: 12px;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
}

.clear {
  clear: both;
}

img {
  vertical-align: top;
}

html {
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

html, body {
  height: 100%;
}

input {
  background: transparent;
  border: none;
}

input:focus, input:focus {
  outline: none !important;
}

body {
  background: #fff;
  font-family: '微軟正黑體';
  font-size: 12px;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
}

.clear {
  clear: both;
}

img {
  vertical-align: top;
}

html {
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 77px;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
header .headerContent {
  position: relative;
  width: 100%;
  height: 77px;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: #fff;
  z-index: 25;
}
header .headerContent .logo {
  position: absolute;
  width: 141px;
  height: 76px;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  background-image: url(../images/logo.png);
  margin-top: 15px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 11;
}

header .headerContent .s_logo {
  position: absolute;
  width: 135px;
  height: 80px;
  top: 0;
  right: 0;
  margin-right: 0;
  margin-top: 0;
}

header .headerContent .s_logo img {
  margin-top: 25px;
}

header .headerContent:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 39px;
  bottom: -39px;
  left: 0;
  margin-left: 0;
  margin-bottom: 0;
  background-image: url(../images/hearder_shadow.png);
  background-repeat: no-repeat;
  background-position: center center;
}


