<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
	<link rel="stylesheet" href="../../Content/css/newstyle.css">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/digital.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/common.css">
	<link rel="stylesheet" href="../../Content/css/loan.css">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">KOKO Free's貸<br>我覺得可以<br><b class="b-bold b-desc">分次動用 ，0手續費 ，免綁約!</b></p>
								
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <img src="../../Content/img/loan/loanmen.png" class="loanpic03">
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    
                            <div class="m-dialog">
                                <div class="m-dialog-hd jQ-owl" data-items-md="4" data-items-sm="2" data-items-xs="1" data-dots="false" data-arrow-sm="true" data-arrow-xs="true" data-start-position="1" data-events="digital.owlEvents">
                                     <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/AboutFreestyle.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon icon-freeloan01 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸是什麼?</em>
                                                <p class="b-desc">每次動用一萬起，有動用到才計息!</p>
                                            </span>
                                        </a>
                                    </div>
									<div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/WeLoveFreestyle.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon icon-freeloan02 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸谁愛貸</em>
                                                <p class="b-desc">創業夢想深埋心裡?我想給她幸福婚禮?</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/TryFreestyle.html" class="bannerlink m-dialog-ctrl is-active" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_spending">
                                            <i class="m-icon icon-freeloan03 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸試算去</em>
                                                <p class="b-desc">什麼是自由動用?來算算看有多好用!</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/FreestyleQA.html" class="bannerlink m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_funds">
                                            <i class="m-icon icon-freeloan04 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸問答區</em>
                                                <p class="b-desc">申貸教學我們來，常用問答大公開!</p>
                                            </span>
                                        </a>
                                    </div>
                               </div>
						    </div>		
                </div>
                <!---->
				 <div class="l-content-bd">
				<article class="digital-bd">
                                <header class="digital-title b-text-center">
                                    <h2 class="b-h3 is-line b-bold"><p>打造屬於你的Free's貸</p></h2>
                                    <p class="b-h4" style="margin-top: 5px;">可在核貸額度及期間內自由動用，有動用才計息！</p>
									<p class="loanpic"><img src="../../Content/img/loan/freeloan.jpg"></p>
                                </header>
				 <!---->
				</div>
                <div class="l-content-bd">
                    <div class="combo">
                        <header class="combo-hd b-text-center">
                            
                            <p class="b-h4 b-bold" style="margin-top: 5px;">打造看看你的專屬夢想Free's貸吧！</p>
							<br>
                        </header>

                          <section class="m-section is-middle  b-flex-column-reverse-xs" data-intro-dt="right">
                                        <div class="m-section-intro is-flex-grow digital-section-intro">
                                           
                                            <div class="form__section">
                                                <div class="inputGroup">
                                                    <span class="w_m50">我的</span>
                                                    <div class="inputGroup__w290">
                                                          <input class="input_Freestyle" type="text" value="" id="" placeholder="ex:新婚">
                                                    </div>
                                                    <span>Free's貸</span>
                                                </div>
                                                    <div class="inputGroup">
                                                        <span class="w_m50" >我想要</span>
                                                        <div class="inputGroup__w290 inputGroup__control--wan">
                                                            <input  class="input_money" type="text" id="">
                                                            <span class="error_text">無效的數字</span>
                                                            <span class="s__text">(5~100萬)</span>
                                                        </div>
                                                        <span>安心備用金</span> 
                                                        <div class="br_line">預計用
                                                            <select class="" name="">
                                                                    <option value="">1年</option>
                                                                    <option value="">2年</option>
                                                                    <option value="">3年</option>
                                                                    <option value="">4年</option>
                                                                    <option value="">5年</option>
                                                                    <option value="">6年</option>
                                                            </select>
                                                        <span>來攤還。</span>
                                                        </div>
                                                    </div>
                                                    <div class="border_bottom"> </div>
                                                    <div class="inputGroup">
                                                            <div class="inputGroup__control inputGroup__control--title">
                                                                <div class="control--tit">
                                                                    <span>資金項目</span>
                                                                </div>
                                                                <div class="control--tit">
                                                                    <span>多久後用到 </span>
                                                                </div>
                                                                <div class="control--tit">
                                                                    <span>金額</span>
                                                                </div>
                                                                <div class="control--tit center">
                                                                <span>剩餘可用額度</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="inputGroup">
                                                            <p class="w_tit">1</p>
                                                            <div class="inputGroup__control inputGroup__control--four">
                                                                <div class="control--input">
                                                                    <input type="text" name="" id="" value="首撥成功" disabled>
                                                                </div>
                                                                <div class="control--input">
                                                                    
                                                                    <input type="text" name="" id="" value="現在" disabled>
                                                                </div>
                                                                <div class="control--input inputGroup__control--wan">
                                                                  
                                                                <input class="control--wan" type="text" name="" id="" value="1" disabled>
                                                                </div>
                                                                <div class="control--input money_w">
                                                                    <span>89萬元</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="inputGroup bg_gray">
                                                            <p class="w_tit">2</p>
                                                            <div class="inputGroup__control inputGroup__control--four">
                                                                <div class="control--input">
                                                                    <input type="text" name="" id="" placeholder="ex:婚宴準備">
                                                                </div>
                                                                <div class="control--input">
                                                                    <select class="" name="">
                                                                        
                                                                            <option value="">0.5年</option>
                                                                            <option value="">1年</option>
                                                                            <option value="">1.5年</option>
                                                                            <option value="">2年</option>
                                                                            <option value="">2.5年</option>
                                                                            <option value="">3年</option>
                                                                            <option value="">3.5年</option>
                                                                            <option value="">4年</option>
                                                                            <option value="">4.5年</option>
                                                                            <option value="">5年</option>
                                                                    </select>
                                                                </div>
                                                                <div class="control--input inputGroup__control--wan">
                                                                <input class="control--wan" type="text" name="" id="" value="">
                                                                </div>
                                                                <div class="control--input money_w">
                                                                    <span>89萬元</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="inputGroup">
                                                            <p class="w_tit">3</p>
                                                            <div class="inputGroup__control inputGroup__control--four">
                                                                <div class="control--input">
                                                                    <input type="text" name="" id="" value="" placeholder="ex:度蜜月">
                                                                </div>
                                                                <div class="control--input">
                                                                <select class="" name="">
                                                                            <option value="">0.5年</option>
                                                                            <option value="">1年</option>
                                                                            <option value="">1.5年</option>
                                                                            <option value="">2年</option>
                                                                            <option value="">2.5年</option>
                                                                            <option value="">3年</option>
                                                                            <option value="">3.5年</option>
                                                                            <option value="">4年</option>
                                                                            <option value="">4.5年</option>
                                                                            <option value="">5年</option>
                                                                    </select>
                                                                    </select>
                                                                </div>
                                                                <div class="control--input inputGroup__control--wan">
                                                                <input class="control--wan" type="text" name="" id="" value="">
                                                                </div>
                                                                <div class="control--input money_w">
                                                                     <span>89萬元</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="actionArea">
                                                        <a href="javascript:void(0)" class="btn add_btn" data-id="submit">
                                                            <span>新增項目</span>
                                                        </a>
                                                        <a href="javascript:void(0)" class="btn" data-id="submit">
                                                            <span>開始試算</span>
                                                        </a>
                                                        <a  href="javascript:window.location.reload()" class="btn clear_btn" data-id="submit" >
                                                            <span>清除重填</span>
                                                        </a>
                                                    </div>
                                                    <div class="border_bottom_solid"></div>
                                                    <div class="result">※若以KOKO Free's貸最低利率<span> 3.67% </span>來看，你的Free's貸試算如下：</div>

                                                    <div class="collapse collapse--note loan_table">
                                                        <div class="collapse__title on" data-id="js-collapse">每月還款明細 </div>
                                                        <div class="collapse__content open" data-content="collapse" style="display:block;">
                                                            <table class="table_load_style">
                                                                <thead>
                                                                    <tr>
                                                                        <th>期別</th>
                                                                        <th>每月還款</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>01~06</td>
                                                                        <td>6,666 元</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>07~12</td>
                                                                        <td>6,666 元</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>12~60</td>
                                                                        <td>6,666 元</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                    <p class="s_text">本試算結果僅供參考，需依本行實際核貸條件及貸款使用情形為準。</p>

                                                   
                                            </div>

                                            <div class="form__section_box">
                                                <div class="m-accordion jQ-accordion" data-active="is-active">
                                                    <ul class="m-accordion-bd">
                                                        <li class="m-accordion-item">
                                                            <div class="m-accordion-ctrl b-text-center-xs">
                                                                <button type="button" class="m-accordion-btn jQ-accordionBtn"><i class="m-accordion-icon b-bg-grass-green" data-icon-color="white" data-mark="exclamation"></i><em class="b-text-gray-88 b-underline">注意事項</em></button>
                                                            </div>
                                                            <div class="m-accordion-container b-text-left b-bg-gray-f7 jQ-accordionCont jQ-accordionCont-0">
                                                                <div class="m-accordion-info jQ-scrollbar">
                                                                    <div class="m-item">
                                                                        <p>本試算結果係以每月30天為計算基礎，並假設每次動用日皆在動用當月之同一日(例如每月10日)，所算出之每月應還款金額，僅供參考，不等同實際帳務。實際貸款條件仍以本行提供之產品為準，且每月還款金額亦會因動用日及還款日及用戶之個別授信條件而有所不同；本行將依您實際信用狀況及個人資力等資訊，綜合評量審查決定核准與否，並同時保留調整產品規格、申貸期限及其他相關規定之權利。</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                             <div class="result2">恭喜你！其實你只用了<span>66</span>萬元，就順利打造了專屬<span class="val_Freestyle"> </span> Freestyle！</div> 
                                         
											<div class="actionArea">
                                                
                                                <a href="../../Views/loan/ApplyForFreestyle.html" class="btn" data-id="submit">
                                                    <span>立即申貸</span>
                                                </a>
                                               
                                            </div>
											
											
                                        </div>

                                    </section>

                    </div>
				</div> 
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">信用卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">簽帳金融卡</a></p>
                            <ul>
                                 <li><a href="../../Views/Digital/DebitCard01.html" class="b-text-gray-88">VISA 簽帳金融卡</a></li>
                                 <li><a href="../../Views/Digital/DebitCard02.html" class="b-text-gray-88">MasterCard 簽帳金融卡</a></li>
                                
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">KOKO Free's貸</a></p>
                            <ul>
                                 <li><a href="../../Views/loan/AboutFreestyle.html" class="b-text-gray-88">Free's貸是什麼</a></li>
                                 <li><a href="../../Views/loan/WeLoveFreestyle.html" class="b-text-gray-88">Free's貸誰愛貸</a></li>
                                 <li><a href="../../Views/loan/TryFreestyle.html" class="b-text-gray-88">Free's貸試算去</a></li>
                                 <li><a href="../../Views/loan/FreestyleQA.html" class="b-text-gray-88">Free's貸問答區</a></li>
								 <li><a href="../../Views/loan/ApplyForFreestyle.html" class="b-text-gray-88">Free's貸我要申貸</a></li> 
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">關於帳戶</a></p>
                            <ul>
								<li><a href="../../Views/Digital/Accountright.html" class="b-text-gray-88">帳戶權益</a></li>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                
                            </ul>
                        </li>
                   
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
						
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
						<li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
     <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>信用卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>簽帳金融卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard01.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>VISA 簽帳金融卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard02.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>MasterCard 簽帳金融卡</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO Free's貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
					 <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/loan/AboutFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸是什麼</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/WeLoveFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸誰愛貸</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/TryFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>Free's貸試算去</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/FreestyleQA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's貸問答區</em></a>
                            </li>
							<li class="jQ-navList">
                                <a href="../../Views/loan/ApplyForFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's我要申貸</em></a>
                            </li>
                             
                        </ul>
                    </div>
                </li> 
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>關於帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/Digital/Accountright.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>帳戶權益</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
                
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <script type="text/javascript" src="../../Scripts/js/digital.min.js?js=20170805_01"></script>
     <script type="text/javascript" src="../../Scripts/js/master.js"></script>
     <script type="text/javascript" src="../../Scripts/js/digital.min.js?js=20170805_01"></script>
	<script type="text/javascript" src="../../Scripts/js/loan.js?js=20170805_01"></script>
    <!-- self script end -->
    <!--<![endif]-->
   
</body>
</html>