<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
	<link rel="stylesheet" href="../../Content/css/newstyle.css">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.css?css=20170811_01">
    <link rel="stylesheet" href="../../Content/css/digital.css?css=20170811_01">
	<link rel="stylesheet" href="../../Content/css/combo.css?css=20170811_01">
	<link rel="stylesheet" href="../../Content/css/loan.css?css=20181001_01">
    <!-- self link end -->
</head>
<style>

</style>	
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">KOKO Free's貸<br>我覺得可以<br><b class="b-bold b-desc">分次動用 ，0手續費 ，免綁約!</b></p>
								
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <img src="../../Content/img/loan/loanmen.png" class="loanpic03">
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    
                            <div class="m-dialog">
                                <div class="m-dialog-hd jQ-owl" data-items-md="4" data-items-sm="2" data-items-xs="1" data-dots="false" data-arrow-sm="true" data-arrow-xs="true" data-start-position="1" data-events="digital.owlEvents">
                                     <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/AboutFreestyle.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon icon-freeloan01 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸是什麼?</em>
                                                <p class="b-desc">每次動用一萬起，有動用到才計息!</p>
                                            </span>
                                        </a>
                                    </div>
									<div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/WeLoveFreestyle.html" class="bannerlink m-dialog-ctrl is-active" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_transfer">
                                            <i class="m-icon icon-freeloan02 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸谁愛貸</em>
                                                <p class="b-desc">創業夢想深埋心裡?我想給她幸福婚禮?</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/TryFreestyle.html" class="bannerlink m-dialog-ctrl " data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_spending">
                                            <i class="m-icon icon-freeloan03 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸試算去</em>
                                                <p class="b-desc">什麼是自由動用?來算算看有多好用!</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="m-dialog-item b-col-md-3 b-col-sm-6">
                                        <a href="../../Views/loan/FreestyleQA.html" class="bannerlink m-dialog-ctrl" data-active="is-active" data-include=".jQ-include" ga_cat="KOKO_ODA" ga_event="click" ga_label="tab_funds">
                                            <i class="m-icon icon-freeloan04 b-text-white"></i>
                                            <span>
                                                <em class="b-bold b-h4">Free's貸問答區</em>
                                                <p class="b-desc">申貸教學我們來，常用問答大公開!</p>
                                            </span>
                                        </a>
                                    </div>
                                    
                              
                        </div>
						</div>		
                        </div>
                           <div class="l-content-bd">
                           <div class="combo">
                           <header class="combo-hd b-text-center">
							 <h2 class="b-h3 is-line b-bold"><p>誰最適合Free's貸?</p></h2>
							   <p class="b-h4" style="margin-top: 5px;">我的資金需求不是一次發生，我想要彈性運用資金！</p>
                            <ul class="combo-icash-info b-inline-space">
                                <li class="b-inline-dt">
                                    <div class="combo-icash-figure">
                                        <figure class="b-middle">
                                            <img src="../../Content/img/loan/loan-pictgram-04.png" alt="指定網購" class="is-max-width">
                                        </figure>
                                    </div>
                                    <p class="combo-icash-caption b-h4">新婚族</p>
									<p class="b-h5 smalltitle">婚戒<br>婚紗<br>聘金</p>
                                </li>
                                <li class="b-inline-dt">
                                    <div class="combo-icash-figure">
                                        <figure class="b-middle">
                                            <img src="../../Content/img/loan/loan-pictgram-05.png" alt="超商刷卡" class="is-max-width">
                                        </figure>
                                    </div>
                                    <p class="combo-icash-caption b-h4">創業族 </p>
									<p class="b-h5 smalltitle">聘請員工<br>備料<br>店面租金</p>
                                </li>
                                <li class="b-inline-dt">
                                    <div class="combo-icash-figure">
                                        <figure class="b-middle">
                                            <img src="../../Content/img/loan/loan-pictgram-06.png" alt="icash 自動加值" class="is-max-width">
                                        </figure>
                                    </div>
                                    <p class="combo-icash-caption b-h4">其他</p>
									<p class="b-h5 smalltitle">有穩定收入，<br>但有時候會出現一些不定期<br> 的資金周轉需求。</p>
                                </li>
                            </ul>
							
							
							
							
							</header>
							</div>
						   </div> 
					
					<article class="combo is-full">
                         <div class="m-tab-hd02 b-text-center">
                                    <h2 class="b-h3 is-line b-bold" style="margin-top: 30px;"><p>他們都選擇KOKO Free's貸</p></h2>
                                </div>
                    </article>
					 <div class="l-content-bd">
						 <div class="loancontent">
						 <div class="loanpic01"><img src="../../Content/img/loan/loanpic03.jpg" class="is-max-width"><p class="combo-icash-caption b-h4">梁先生, 28歲, 傳產業, 一般職員</p><p class="b-h5 smalltitle">我不會摘星星，但我有一顆守護她的心！<br>謝謝Free's貸，讓我能在28歲看見她穿美麗白紗！</p></div>
						 <div class="loanpic02"><img src="../../Content/img/loan/loanpic04.jpg" class="is-max-width"><p class="combo-icash-caption b-h4">黃小姐, 26歲, 建築業, 業務助理</p><p class="b-h5 smalltitle">每天坐在辦公室的我，從沒想過能提早美夢成真！<br>下班後經營我的美甲工作室，好幸福！</p></div>
						 
						 </div>
						
						 
						 
						
				     </div>
							<footer class="m-timeline-ft">
                                                        <ul class="m-button-group b-text-center">
                                                            <br>
                                                            <li class="b-inline">
                                                                <a href="../../Views/loan/ApplyForFreestyle.html" class="m-button b-desc b-bg-major b-text-white ga_click_trace" ga_cat="combo_icash" ga_event="click" ga_label="join"><b class="b-bold">我也要幸福Free's貸</b></a>
                                                            </li>
                                                        </ul>
                            </footer>
                            <footer class="digital-ft">
                                <!--<ul class="m-button-group b-text-center">
                                    <li class="b-inline">
                                        <small class="digiral-desc b-block-dt b-desc b-flex-column-reverse-xs"><em>懶人族記帳福音呀！</em></small>
                                        <a href="../../Views/Teach/Account.html" class="m-button b-desc b-bg-major b-text-white ga_click_trace" ga_cat="transfer" ga_event="click" ga_label="teach"><b class="b-bold">如何輕鬆記帳</b></a>
                                    </li>
                                </ul>-->
                                <div class="m-aphorism b-text-center">
                                    <div class="m-aphorism-hd">
                                        <p class="b-h4">謹慎理財 信用無價</p>
                                    </div>
                                    <div class="m-aphorism-bd">
                                        <p class="b-text-gray-47">信用卡暨預借現金之各級別循環信用年利率為 6.75% ~ 15% ( 依本行信用評分制度定期評估，循環利息之基準日為104年9月1日 )<br>預借現金手續費：預借現金金額乘以 3% 加上新臺幣 150 元或美元 5 元，其他相關費用係依本行網站公告</p>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">信用卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">簽帳金融卡</a></p>
                            <ul>
                                 <li><a href="../../Views/Digital/DebitCard01.html" class="b-text-gray-88">VISA 簽帳金融卡</a></li>
                                 <li><a href="../../Views/Digital/DebitCard02.html" class="b-text-gray-88">MasterCard 簽帳金融卡</a></li>
                                
                            </ul>
                        </li>
						<li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/DebitCard.html">KOKO Free's貸</a></p>
                            <ul>
                                 <li><a href="../../Views/loan/AboutFreestyle.html" class="b-text-gray-88">Free's貸是什麼</a></li>
                                 <li><a href="../../Views/loan/WeLoveFreestyle.html" class="b-text-gray-88">Free's貸誰愛貸</a></li>
                                 <li><a href="../../Views/loan/TryFreestyle.html" class="b-text-gray-88">Free's貸試算去</a></li>
                                 <li><a href="../../Views/loan/FreestyleQA.html" class="b-text-gray-88">Free's貸問答區</a></li>
								 <li><a href="../../Views/loan/ApplyForFreestyle.html" class="b-text-gray-88">Free's貸我要申貸</a></li> 
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">關於帳戶</a></p>
                            <ul>
								<li><a href="../../Views/Digital/Accountright.html" class="b-text-gray-88">帳戶權益</a></li>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                
                            </ul>
                        </li>
                   
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
						
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
						<li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
     <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>信用卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>簽帳金融卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard01.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>VISA 簽帳金融卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard02.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>MasterCard 簽帳金融卡</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
				<li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO Free's貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
					 <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/loan/AboutFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸是什麼</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/WeLoveFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>Free's貸誰愛貸</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/TryFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>Free's貸試算去</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/loan/FreestyleQA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's貸問答區</em></a>
                            </li>
							<li class="jQ-navList">
                                <a href="../../Views/loan/ApplyForFreestyle.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>Free's我要申貸</em></a>
                            </li>
                             
                        </ul>
                    </div>
                </li> 
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>關於帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
							<li class="jQ-navList">
                                <a href="../../Views/Digital/Accountright.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>帳戶權益</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                           
                        </ul>
                    </div>
                </li>
                
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/plugin/jquery.scrollbar/jquery.scrollbar.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <script type="text/javascript" src="../../Scripts/js/combo.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/digital.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/loan.js?js=20170805_01"></script>
    <!-- self script end -->
    <!--<![endif]-->
    
</body>
</html>