<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:title" content="KOKO 數位銀行 - 成就你偉大的小事" />
    <meta property="og:description" name="description" content="線上申辦 KOKO Combo icash 聯名卡，5% 現金回饋、每月 50 次跨行跨轉免手續費馬上到手" />
    <meta property="og:type" content="website"/>
    <!-- og:url 每一頁指定自己的網址 EX: https://koko.com.tw/index.html/ -->
    <meta property="og:url" content="" />
    <!-- og:image 請指定完整網址 EX: https://koko.com.tw/IMAGE/FB.jpg -->
    <meta property="og:image" content="http://f2e.sugarfun.com.tw/Cathay/KoKo/Official/2017/website/Content/img/common/fb.jpg?img=20171027_01"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="KOKO 數位銀行 - 成就你偉大的小事"/>
    <title>KOKO 數位銀行 - 成就你偉大的小事</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/img/common/favicon.ico?img=20170811_01">
    <!-- common link begin -->
    <link rel="stylesheet" href="../../Content/css/style.css?css=20170811_01">
    <!-- common link end -->
    <!-- self link begin -->
    <link rel="stylesheet" href="../../Content/css/link.css?css=20170811_01">
    <!-- self link end -->
</head>
<body>
    <div class="l-body jQ-body">
        <!-- ==================== l-header begin ==================== -->
        <div class="l-header">
            <header class="m-header jQ-header b-table">
                <h1>KOKO 數位銀行</h1>
                <div class="m-header-logo b-middle">
                    <a href="../../Views/Home/">
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-logo-by b-text-gray-d-p30"></i>
                            <i class="m-icon m-icon-stack-logo-crimson is-absolute b-text-crimson"></i>
                            <i class="m-icon m-icon-stack-logo-pink is-absolute b-text-major"></i>
                            <i class="m-icon m-icon-stack-logo-green is-absolute b-text-minor"></i>
                            <i class="m-icon m-icon-stack-logo-white is-absolute b-text-white"></i>
                        </span>
                    </a>
                </div>
                <div class="m-header-tools b-hide-md b-table-nowrap">
                    <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav"><i></i></button>
                </div>
            </header>
        </div>
        <!-- ==================== l-header end ==================== -->
        <div class="l-main jQ-main">
            <main class="l-content jQ-content">
                <div class="l-content-hd">
                    <div class="common-vision">
                        <div class="common-vision-hd is-clearfix b-text-center b-flex-row-reverse-dt b-content-center-dt">
                            <div class="common-vision-title b-inline-dt is-vtop b-text-left-dt b-text-center-xs b-middle-dt">
                                <p class="b-bold b-h3 b-text-white">定型化契約一覽表</p>
                            </div>
                            <div class="common-vision-object b-inline-dt is-vtop">
                                <figure class="link-header-image">
                                    <img src="../../Content/img/link/header-image.png?img=20171011_01" alt="定型化契約一覽表" class="is-max-width">
                                </figure>
                            </div>
                            <i class="common-vision-bg"></i>
                        </div>
                    </div>
                </div>
                <div class="l-content-bd">
                    <div class="link is-mini">
                        <div class="link-bd">
                            <article class="contract-article">
                                <header class="contract-article-hd">
                                    <h2 class="b-h3">國泰世華商業銀行數位存款帳戶特別約定條款</h2>
                                    <p class="b-desc b-text-gray-47">存戶茲以網路方式向國泰世華商業銀行(以下簡稱　貴行)申請開立新臺幣活期存款帳戶(以下簡稱「數位存款帳戶」、「本帳戶」)，除已知悉並明瞭貴行於「國泰世華商業銀行【存款暨理財】綜合約定書」(以下簡稱「綜合約定書」，含嗣後經依約修改或變更之條款)中之重要告知事項及個人資料保護法之法定告知事項外，並依數位存款帳戶之功能與服務，遵守前開綜合約定書中之各該相應條款及「數位存款帳戶特別約定條款」(以下簡稱「本約款」)之各該約款，本約款與前開綜合約定書之約款不符者，優先適用本約款之約定：</p>
                                </header>
                                <ul class="contract-article-bd">
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第一條"><p>用詞定義</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>數位存款帳戶：指存戶以網路方式 ( 包含但不限於網路銀行、行動銀行或自動化設備 ( ATM ) ) 向貴行申請開立之新臺幣活期存款帳戶。</p></li>
                                                <li data-label="二、" class="b-desc"><p>存戶：指接受貴行提供數位存款帳戶服務且具有本國國籍之成年自然人。</p></li>
                                                <li data-label="三、" class="b-desc"><p>概括約定：係指存戶與　貴行事先約定本人某一轉出帳戶可透過網路銀行、行動銀行或自動化設備 ( ATM ) 發動交易指示，繳納　貴行所提供之公用事業費及各類稅費服務。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第二條"><p>數位存款帳戶類型及使用範圍</p></h3>
                                        <div class="m-item" data-line-height="md">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc">
                                                    <div>
                                                        <p>數位存款帳戶帳戶類型</p>
                                                        <table class="m-table">
                                                            <thead class="b-bg-green b-text-white">
                                                                <tr>
                                                                    <th class="b-text-center b-col-dt-2"><p>帳戶類型</p></th>
                                                                    <th class="b-text-center b-col-dt-7"><p>身分驗證</p></th>
                                                                    <th class="b-text-center b-col-dt-3"><p>使用範圍</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="b-desc is-sm" data-title-pos="left" data-title-width="30%">
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-1 類 )<br>( 超級帳戶 )</p></td>
                                                                    <td data-title="身分驗證">
                                                                        <p>採用經第三方認證確保金鑰儲存安全之憑證簽章進行身分驗證，並透過視訊等方式建立存戶影像檔。</p>
                                                                    </td>
                                                                    <td data-title="使用範圍">
                                                                        <p>適用金融機構辦理電子銀行業務安全控管作業基準(以下簡稱安控基準)非電子轉帳交易指示類，及電子轉帳交易指示類之高風險及低風險交易。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-2 類 )<br>( 進階帳戶 )</p></td>
                                                                    <td data-title="身分驗證">
                                                                        <p>採用憑證簽章進行身分驗證。</p>
                                                                    </td>
                                                                    <td data-title="使用範圍">
                                                                        <p>適用安控基準非電子轉帳交易指示類，及電子轉帳交易指示類之低風險交易且不得提高非約定轉入帳戶之轉帳限額。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第二類<br>( 完整帳戶 )</p></td>
                                                                    <td data-title="身分驗證">
                                                                        <p>受理已開立存款帳戶之舊戶開立第二類帳戶，採用連結本人之自行金融支付工具 ( 以存款帳戶、信用卡或其他經主管機關認定之金融支付工具為限，但不包含未以臨櫃方式開立之存款帳戶 ) 進行身分驗證。</p>
                                                                    </td>
                                                                    <td data-title="使用範圍">
                                                                        <p>適用安控基準非電子轉帳交易指示類及電子轉帳交易指示類之低風險交易。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第三類<br>( 基本帳戶 )</p></td>
                                                                    <td data-title="身分驗證">
                                                                        <p>採用連結本人之金融支付工具(以存款帳戶、信用卡(須持有逾180天(含)以上)或其他經主管機關認定之金融支付工具為限，但不包含未以臨櫃方式開立之存款帳戶)或透過存款帳戶(須含統一編號)進行身分驗證。</p>
                                                                    </td>
                                                                    <td data-title="使用範圍">
                                                                        <p>適用安控基準非電子轉帳交易指示類及電子轉帳交易指示類之低風險交易，惟排除非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                                <li data-label="二、" class="b-desc">
                                                    <div>
                                                        <p>數位存款帳戶非約定轉入帳戶轉帳限額</p>
                                                        <table class="m-table">
                                                            <thead class="b-bg-green b-text-white">
                                                                <tr>
                                                                    <th class="b-text-center b-col-dt-2"><p>帳戶類型</p></th>
                                                                    <th class="b-text-center b-col-dt-7"><p>交易驗證方式：隨身密碼、認證密碼鎖</p></th>
                                                                    <th class="b-text-center b-col-dt-3"><p>交易驗證方式：簡訊 OTP</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="b-desc is-sm" data-title-pos="top" data-title-width="50%">
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-1 類 )<br class="b-br-dt"><span class="b-hide-dt"> </span>( 超級帳戶 )</p></td>
                                                                    <td data-title="交易驗證方式：隨身密碼、認證密碼鎖">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆 10 萬 / 單日 10 萬 / 單月 20 萬。</p></li>
                                                                            <li><p>存戶可自訂限額為單筆 1~50 萬 / 單日 1~50 萬 / 單月 1~100 萬。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                    <td data-title="交易驗證方式：簡訊 OTP" rowspan="4">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆 5 萬 / 單日 10 萬 / 單月 20 萬。</p></li>
                                                                            <li><p>存戶自訂限額若高於上述限額，仍以上述限額為限；若低於上述限額，則以自訂限額為準。</p></li>
                                                                            <li><p>惟排除第三類 ( 基本帳戶 ) 非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-2 類 )<br class="b-br-dt"><span class="b-hide-dt"> </span>( 進階帳戶 )</p></td>
                                                                    <td data-title="交易驗證方式：隨身密碼、認證密碼鎖">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆 5 萬 / 單日 10 萬 / 單月 20 萬。</p></li>
                                                                            <li><p>存戶自訂限額若低於上述限額，限額則依自訂限額為準。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                    <td data-title="交易驗證方式：簡訊 OTP" class="b-hide-dt">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆5萬 / 單日10萬 / 單月20萬。</p></li>
                                                                            <li><p>存戶自訂限額若高於上述限額，仍以上述限額為限；若低於上述限額，則以自訂限額為準。</p></li>
                                                                            <li><p>惟排除第三類 ( 基本帳戶 ) 非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第二類<br class="b-br-dt"><span class="b-hide-dt"> </span>( 完整帳戶 )</p></td>
                                                                    <td data-title="交易驗證方式：隨身密碼、認證密碼鎖"><p>同 1-1 類。</p></td>
                                                                    <td data-title="交易驗證方式：簡訊 OTP" class="b-hide-dt">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆5萬 / 單日10萬 / 單月20萬。</p></li>
                                                                            <li><p>存戶自訂限額若高於上述限額，仍以上述限額為限；若低於上述限額，則以自訂限額為準。</p></li>
                                                                            <li><p>惟排除第三類 ( 基本帳戶 ) 非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第三類<br class="b-br-dt"><span class="b-hide-dt"> </span>( 基本帳戶 )</p></td>
                                                                    <td data-title="交易驗證方式：隨身密碼、認證密碼鎖"><p>同 1-2 類，惟排除非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p></td>
                                                                    <td data-title="交易驗證方式：簡訊 OTP" class="b-hide-dt">
                                                                        <ol>
                                                                            <li><p>統一編號歸戶限額為單筆5萬 / 單日10萬 / 單月20萬。</p></li>
                                                                            <li><p>存戶自訂限額若高於上述限額，仍以上述限額為限；若低於上述限額，則以自訂限額為準。</p></li>
                                                                            <li><p>惟排除第三類 ( 基本帳戶 ) 非同一統一編號之約定及非約定轉入帳戶之帳務交易。</p></li>
                                                                        </ol>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                                <li data-label="三、" class="b-desc">
                                                    <div>
                                                        <p>數位存款帳戶金融卡每日提款額度</p>
                                                        <table class="m-table">
                                                            <thead class="b-bg-green b-text-white">
                                                                <tr>
                                                                    <th class="b-text-center b-col-dt-2"><p>帳戶類型</p></th>
                                                                    <th class="b-text-center b-col-dt-4"><p>提領新臺幣</p></th>
                                                                    <th class="b-text-center b-col-dt-3"><p>提領外幣</p></th>
                                                                    <th class="b-text-center b-col-dt-3"><p>跨國提領當地貨幣</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="b-desc is-sm" data-title-pos="left" data-title-width="35%">
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-1 類 )<br class="b-br-dt"><span class="b-hide-dt"> </span>( 超級帳戶 )</p></td>
                                                                    <td data-title="提領新臺幣" rowspan="3">
                                                                        <p>新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="提領外幣" rowspan="3" colspan="2">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="跨國提領當地貨幣" class="b-hide-dt">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第一類 ( 1-2 類 )<br class="b-br-dt"><span class="b-hide-dt"> </span>( 進階帳戶 )</p></td>
                                                                    <td data-title="提領新臺幣" class="b-hide-dt">
                                                                        <p>新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="提領外幣" class="b-hide-dt">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="跨國提領當地貨幣" class="b-hide-dt">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第二類<br class="b-br-dt"><span class="b-hide-dt"> </span>( 完整帳戶 )</p></td>
                                                                    <td data-title="提領新臺幣" class="b-hide-dt">
                                                                        <p>新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="提領外幣" class="b-hide-dt">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                    <td data-title="跨國提領當地貨幣" class="b-hide-dt">
                                                                        <p>等值新臺幣 10 萬元 ( 或依存戶與貴行之約定 )。</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="b-text-center-dt" data-title="帳戶類型"><p>第三類<br class="b-br-dt"><span class="b-hide-dt"> </span>( 基本帳戶 )</p></td>
                                                                    <td data-title="提領新臺幣">
                                                                        <p>新臺幣 5 萬元。</p>
                                                                    </td>
                                                                    <td data-title="提領外幣" colspan="2">
                                                                        <p>新臺幣 5 萬元。</p>
                                                                    </td>
                                                                    <td data-title="跨國提領當地貨幣" class="b-hide-dt">
                                                                        <p>新臺幣 5 萬元。</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第三條"><p>本帳戶開戶程序</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>數位存款帳戶採實名制，存戶應提供身分基本資料 ( 包含但不限於姓名、國民身分證統一編號、國民身分證領補換資料、出生年月日、聯絡方式、開戶目的與性質)、國民身分證、第二身分證明文件(如健保卡等)正面影像檔；惟若開立前條1-1類數位存款帳戶者，尚須留存人像影像。若存戶於開戶申請完成前中斷，存戶同意申請資料將暫存二日，存戶可經由一定驗證後接續前次申請流程完成開戶。若未於二日內完成開戶申請，貴行將清除暫存資料，暫存資料將不作其他使用。</p></li>
                                                <li data-label="二、" class="b-desc"><p>存戶申請資料如有誤寫或其他顯然錯誤者，存戶同意　貴行得逕行或向存戶確認後更正。存戶聯絡方式倘有變更者，應即通知貴行。貴行對存戶所為之通知或函件，依存戶國民身分證所載地址或最後提供地址、電子郵件信箱為寄發後，經通常傳遞期間即視為已送達生效。若因存戶提供聯絡方式錯誤或未主動通知貴行聯絡方式變更者，所衍生利息、違約金或其他損失，由存戶自行負責，概與　貴行無涉。</p></li>
                                                <li data-label="三、" class="b-desc"><p>存戶申請資料如有誤寫或其他顯然錯誤者，存戶同意貴行得逕行或向存戶確認後更正。存戶聯絡方式倘有變更者，應即通知貴行。貴行對存戶所為之通知或函件，依存戶國民身分證所載地址或最後提供地址、電子郵件信箱為寄發後，經通常傳遞期間即視為已送達生效。若因存戶提供聯絡方式錯誤或未主動通知貴行聯絡方式變更者，所衍生利息、違約金或其他損失，由存戶自行負責，概與貴行無涉。</p></li>
                                                <li data-label="四、" class="b-desc"><p>若審查程序未通過(如身分證影像模糊、證件錯誤等)，申請資料將由貴行依法留存，並由貴行通知存戶進行必要之程序。存戶同意配合貴行於收到通知後三日內補正資料或補齊文件，若逾期未完成，存戶瞭解須本人攜帶身分證及第二身分證明文件至貴行任一分行辦理帳戶啟用或銷戶程序。</p></li>
                                                <li data-label="五、" class="b-desc"><p>存戶向 貴行申請核發之晶片金融卡，經貴行審查程序通過後，得以郵寄方式寄送至存戶指定之地址或由存戶親至臨櫃申請，存戶於收到金融卡後須至貴行 ATM 完成開卡，始得啟用卡片功能。貴行提供其他得下載金融卡功能之服務者 ( 例手機金融卡或同卡多帳戶服務功能等 )，存戶得經 貴行同意後，選擇以該等方式使用晶片金融卡之各項服務。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第四條"><p>本帳戶銷戶程序</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>以臨櫃方式受理結清銷戶<br>應由存戶本人親自辦理，本人如因特殊情況無法親自辦理結清銷戶時得委託代理人為之，該代理人除應出具授權書外，銀行並應確<br>認本人及代理人之身分。</p></li>
                                                <li data-label="二、" class="b-desc"><p>以郵寄方式受理結清銷戶存戶以郵寄結清銷戶申請書方式辦理時，帳戶餘額以不超過新台幣壹拾萬元（或等值外幣）為限，經 貴行以電話或其他方式確認存戶身分，並完成下列審核手續後，辦理結清銷戶：<br>（一）帳戶仍有餘額者， 貴行得於扣除相關費用後，依申請書指示之方式辦理，存戶得選擇開立本人抬頭且劃線禁止背書轉讓之支<br>        票或指示匯入本人之其他帳戶。存戶如選擇將帳戶餘額匯入其於他行之帳戶， 貴行得請存戶提供該帳戶之存摺封面影本或其他證明文件以供確認。<br>（二）結清銷戶基準日係以銀行完成銷戶手續當日為準。</p></li>
                                                <li data-label="三、" class="b-desc"><p>以網路方式受理結清銷戶<br>存戶以網路結清銷戶方式申辦時，帳戶餘額以不超過新台幣伍萬元（或等值外幣）為限。<br>貴行應以顯著之方式，於網站網頁上揭露結清銷戶相關內容，具供存戶審閱、點選「同意」及確認功能，系統並應具備檢核機制。貴行並得以適當方式確認存戶身分。存戶結清活期帳戶仍有餘額者，銀行得於扣除相關費用後，依存戶指示匯入本人之其他帳戶，結清銷戶基準日係以 貴行電腦系統完成銷戶當日為準。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第五條"><p>本帳戶臨櫃服務及相關服務之申請</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>存戶擬就數位存款帳戶申請使用 貴行提供之臨櫃服務者，於首次臨櫃辦理除存款以外之業務時，應攜帶本人國民身分證及第二身分\證明文件，並填寫印鑑卡留存約定往來印鑑樣式(簡稱「原留印鑑」、「原留印鑑樣式」），「原留印鑑樣式」為嗣後存戶臨櫃辦理業務之查核依據。存戶設定臨櫃取款密碼者，則得使用 貴行提供之臨櫃無摺取款服務。 原留印鑑、密碼及其他取款憑證等存戶應妥善保管及保密，凡以存戶之原留印鑑樣式取（匯）款或向　貴行申辦、變更或中止與相關服務項目者，均視為存戶之代理人，故存戶之原留印鑑、密碼及其他取款憑證如有遺失、滅失、被竊、被搶或其他情事而脫離占有時，應於營業時間內親自或以電話向　貴行辦理掛失止付相關手續，但原留印鑑、密碼及其他取款憑證之掛失限向原開戶單位辦理，但經　貴行同意受理者，不在此限。在　貴行受理完成掛失止付手續以前，已經付款或受理申辦者，對存戶仍有清償或申辦事項生效之效力。但以電話掛失者，應於次一營業日前補辦書面手續。</p></li>
                                                <li data-label="二、" class="b-desc"><p>存戶於辦理前條第一項程序時由貴行以拍照方式建立影像檔完成留存紀錄者，原數位存款帳戶之類型即變更為第一類(1-1類)，實際提供服務依 貴行相關規定辦理。</p></li>
                                                <li data-label="三、" class="b-desc"><p>存戶申請網路銀行、行動銀行及理財密碼者，已瞭解須登入網路銀行、行動銀行完成帳號及密碼設定後始得使用。</p></li>
                                                <li data-label="四、" class="b-desc"><p>存戶向貴行申請將數位存款帳戶轉換為一般存款帳戶時，應依 貴行開戶流程辦理，並經 貴行製發存摺交付後完成轉換。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第六條"><p>本帳戶款項存提領方式</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>存戶未申辦數位存款帳戶之臨櫃無摺取款服務者，應以 貴行製發之晶片金融卡於自動化設備存提領款項。</p></li>
                                                <li data-label="二、" class="b-desc"><p>存戶完成前條第一項、第二項及(或)第三項之程序者，得依與 貴行申請使用之各項服務功能內容辦理。</p></li>
                                                <li data-label="三、" class="b-desc"><p>存戶瞭解得與貴行概括約定數位存款帳戶繳納　貴行所提供之公用事業費及各類稅費服務。詳細約定悉依各項服務授權條款辦理。</p></li>
                                                <li data-label="四、" class="b-desc"><p>存戶已向貴行申請將數位存款帳戶轉換為一般存款帳戶者，另依一般存款帳戶之約定方式辦理。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第七條"><p>交易查詢</p></h3>
                                        <p class="b-desc">數位存款帳戶屬無摺存款帳戶，提供電子對帳單、網路銀行、行動銀行查詢交易明細功能；帳戶進行交易後，存戶同意　貴行將交易結果以網路銀行、行動銀行交易明細或其他約定方式通知。<br>存戶擬申請其他對帳方式者，須至　貴行任一分行申請轉換為一般帳戶後辦理之。</p>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第八條"><p>利息計付</p></h3>
                                        <p class="b-desc">數位存款帳戶適用新臺幣活期儲蓄存款牌告利率。有關款項存提領、利息計付、查詢、密碼變更、帳戶暫停、恢復、終止使用及結清銷戶之方式，悉依國泰世華銀行[存款暨理財]綜合約定書第二章第壹節[共同約定事項]辦理。</p>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第九條"><p>帳戶使用原則</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>數位存款帳戶僅限存戶本人使用。</p></li>
                                                <li data-label="二、" class="b-desc"><p>數位存款帳戶如供非法使用存戶應負法律責任。</p></li>
                                                <li data-label="三、" class="b-desc"><p>同一存戶最多開立二戶數位存款帳戶(包含已啟用、審核中、未啟用、及轉換成一般帳戶等狀態之帳戶)。</p></li>
                                                <li data-label="四、" class="b-desc"><p>帳戶查詢、密碼變更及結清銷戶，存戶同意配合貴行核對存戶身分及辦理相關程序。</p></li>
                                                <li data-label="五、" class="b-desc"><p>存戶可依相關規定執行約定轉入帳戶轉帳及非約定轉入帳戶轉帳。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第十條"><p>帳戶、網路銀行、行動銀行或金融卡異常使用之處理方式</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>存戶所申請之數位存款帳戶與其交易憑證(包含但不限於網路銀行、行動銀行理財密碼、隨身密碼、臨櫃提款密碼、金融 卡或金融卡密碼)應由本人妥慎保管並不得洩漏或交付他人使用。存戶同意如發現有他人盜用或有其他任何未經合法授權使用之情形，應立即通知貴行、中止使用該服務及採取防範措施。</p></li>
                                                <li data-label="二、" class="b-desc"><p>有關數位存款帳戶遭盜用之處理方式、交易憑證(包含但不限於網路銀行、行動銀行理財密碼、隨身密碼、臨櫃提款密碼、金融卡或金融卡密碼)使用方式及遺失、滅失、被竊或遭偽冒、變造時之處理方式及權利義務關係，悉依國泰世華銀行[存款暨理財]綜合約定書第三章[附加功能約定事項]辦理。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第十一條"><p>持續監控措施</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc"><p>存戶同意配合　貴行通知定期更新身分基本資料。</p></li>
                                                <li data-label="二、" class="b-desc"><p>存戶同意配合　貴行不定期核對存戶身分。</p></li>
                                                <li data-label="三、" class="b-desc">
                                                    <div>
                                                        <p>如有下列情事，存戶同意配合　貴行重新核對存戶身分：</p>
                                                        <ul>
                                                            <li data-label="(一)">存戶申請變更姓名、國民身分證統一編號、國民身分證領補換資料、出生年月日、聯絡方式等之身分基本資料。</li>
                                                            <li data-label="(二)">存戶重新申請網路銀行、行動銀行、補換發金融卡等情形。</li>
                                                            <li data-label="(三)">帳戶發生異常交易之情形。</li>
                                                            <li data-label="(四)">有事實顯示存戶所提供之身分基本資料不實或錯誤。</li>
                                                            <li data-label="(五)">貴行對存戶資訊之真實性有所懷疑，如存戶涉及疑似洗錢或資恐交易，或帳戶運作方式出現與存戶業務特性不符之重大變動時。</li>
                                                            <li data-label="(六)">其他貴行認為應重新核對存戶身分之情形。</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第十二條"><p>帳戶暫停或終止之事由</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc">
                                                    <div>
                                                        <p>有下列情事之ㄧ者，存戶同意　貴行得逕依法令或契約約定暫停或終止數位存款帳戶之使用：</p>
                                                        <ul>
                                                            <li data-label="(一)">存戶不配合核對或重新核對身分者。</li>
                                                            <li data-label="(二)">存戶提供不實資料開立帳戶者。</li>
                                                            <li data-label="(三)">存戶利用帳戶從事詐欺、洗錢等不法行為者。</li>
                                                            <li data-label="(四)">帳戶經查如屬偽冒開戶者。</li>
                                                            <li data-label="(五)">帳戶經通報為警示帳戶者。</li>
                                                            <li data-label="(六)">帳戶屬衍生管制帳戶者。</li>
                                                            <li data-label="(七)">貴行對帳戶可疑交易進行查證及持續進行監控，如經查證有不法情事者。</li>
                                                            <li data-label="(八)">存戶不配合定期審視、對交易之性質與目的或資金來源不願配合說明者。</li>
                                                            <li data-label="(九)">於不違反相關法令情形下，貴行如果得知或必須假定存戶往來資金來源自貪瀆或濫用公共資產時。</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <h3 class="contract-article-title b-bold b-h4 b-text-major" data-label="第十三條"><p>其它約定事項</p></h3>
                                        <div class="m-item">
                                            <ul class="m-item-bd">
                                                <li data-label="一、" class="b-desc">
                                                    <div>
                                                        <p>銀行資訊</p>
                                                        <ul>
                                                            <li data-label="(一)">銀行名稱：國泰世華商業銀行</li>
                                                            <li data-label="(二)">申訴及客服專線：(02)2383-1000或0800-818-001</li>
                                                            <li data-label="(三)">銀行網址：www.cathayholdings.com/bank</li>
                                                            <li data-label="(四)">登記地址：台北市信義區松仁路七號</li>
                                                            <li data-label="(五)">傳真號碼：(02)2314-1328</li>
                                                            <li data-label="(六)">電子信箱：webservice@cathaybk.com.tw</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li data-label="二、" class="b-desc">
                                                    <p>存款保險<br>存戶知悉貴行已依存款保險條例投保存款保險，存戶於貴行所往來之業務，依存款保險條例所規範之存款項目為標的範圍 內，<br>受中央存款保險公司之存款保險保障。</p>
                                                </li>
                                                <li data-label="三、" class="b-desc"><p>電話錄音<br>存戶同意貴行及貴行委任代為處理事務之人皆得就與本約定條款所載各項業務往來相關事項之談話予以錄音，並得以該錄音做為證據。</p></li>
                                                <li data-label="四、" class="b-desc"><p>存戶知悉　貴行提供數位存款帳戶相關服務，屬經存戶事先同意之非以有形媒介提供之數位內容或一經提供即為完成之線上服務，故排除消費者保護法第19條第1項解除權之適用。</p></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- ==================== l-footer begin ==================== -->
        <div class="l-footer">
            <div class="m-sitemap jQ-sitemap b-clearfix">
                <div class="m-sitemap-block b-text-center-sm">
                    <ul class="m-sitemap-link b-text-left-sm b-inline-sm">
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/News/Event.html">最新消息</a></p>
                            <ul>
                                <li><a href="../../Views/News/Event.html" class="b-text-gray-88">優惠活動</a></li>
                                <li><a href="../../Views/News/Announcement.html" class="b-text-gray-88">公告訊息</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Combo/ComboIcash.html">KOKO 卡</a></p>
                            <ul>
                                <li><a href="../../Views/Combo/ComboIcash.html" class="b-text-gray-88">KOKO COMBO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/Icash.html" class="b-text-gray-88">KOKO icash 聯名卡</a></li>
                                <li><a href="../../Views/Combo/MRT.html" class="b-text-gray-88">KOKO 悠遊聯名卡</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Digital/Transfer.html">KOKO 帳戶</a></p>
                            <ul>
                                <li><a href="../../Views/Digital/Transfer.html" class="b-text-gray-88">快速轉帳</a></li>
                                <li><a href="../../Views/Digital/Account.html" class="b-text-gray-88">帳戶管理</a></li>
                                <li><a href="../../Views/Digital/Fund.html" class="b-text-gray-88">基金申購</a></li>
                                <li><a href="../../Views/Digital/DebitCard.html" class="b-text-gray-88">KOKO i 刷金融卡</a></li>
                            </ul>
                        </li>
                        <!-- <li class="m-sitemap-item">
                            <p><a href="../../Views/Credit/Credit.html">KOKO 信貸</a></p>
                        </li> -->
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Teach/Verification.html">新手必讀</a></p>
                            <ul>
                                <li><a href="../../Views/Teach/Verification.html" class="b-text-gray-88">身分驗證</a></li>
                                <li><a href="../../Views/Teach/Apply.html" class="b-text-gray-88">如何申辦</a></li>
                                <li><a href="../../Views/Teach/Transfer.html" class="b-text-gray-88">如何轉帳付款</a></li>
                                <li><a href="../../Views/Teach/Pay.html" class="b-text-gray-88">如何快速收錢</a></li>
                                <li><a href="../../Views/Teach/Account.html" class="b-text-gray-88">如何管理帳務</a></li>
                                <li><a href="../../Views/Teach/QA.html" class="b-text-gray-88">KOKO 問答集</a></li>
                            </ul>
                        </li>
                        <li class="m-sitemap-item">
                            <p><a href="../../Views/Lab/Lab.html">KOKO LAB</a></p>
                        </li>
                        <li class="m-sitemap-item b-block-xs b-text-center-xs">
                            <p><a href="../../Views/Link/Privacy.html">相關連結</a></p>
                            <ul>
                                <li><a href="../../Views/Link/Privacy.html" class="b-text-gray-88">隱私權政策</a></li>
                                <li><a href="../../Views/Link/Contract.html" class="b-text-gray-88">定型化契約一覽表</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="m-store m-sitemap-store b-text-center">
                        <div class="m-store-hd">
                            <p>下載 KOKO APP</p>
                        </div>
                        <div class="m-store-bd">
                            <figure class="m-store-qrcode">
                                <img src="../../Content/img/common/qrcode.png?img=20170914_01" alt="KOKO APP Store" class="is-max-width">
                            </figure>
                            <div class="m-store-button-group">
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-android b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Android" target="_blank"><i class="m-icon m-icon-google-store"></i></a>
                                <a href="https://www.kokobank.com/KOKOMyBank/QRCode/QRCodeLink?utm_source=website" class="m-store-button is-ios b-bg-black b-text-white ga_click_trace" ga_cat="join" ga_event="click" ga_label="APP_Apple" target="_blank"><i class="m-icon m-icon-apple-store"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="m-footer jQ-footer">
                <div class="m-footer-block b-text-center-tm">
                    <div class="m-footer-tools b-desc is-xs b-text-gray-88">
                        <ul class="m-footer-contact">
                            <li>KOKO 客服專線 : <a href="tel:0800-806-998" class="b-text-gray-88">0800-806-998</a></li>
                            <li>KOKO 信用卡客服：<a href="tel:0800-818-001" class="b-text-gray-88">0800-818-001</a></li>
                            <li>KOKO 客服信箱 : <a href="mailto:KOKO@cathaybk.com.tw" class="b-text-gray-88">KOKO@cathaybk.com.tw</a></li>
                        </ul>
                        <small class="m-footer-copyright">Copyright © Cathay United Bank.<span class="b-hide-tm">　建議使用 Google Chrome、Firefox 或 IE 10 以上版本，以獲得最佳瀏覽體驗</span></small>
                    </div>
                    <ul class="m-footer-channel">
                        <li>
                            <a href="https://www.facebook.com/kokobycub/" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="fb" target="_blank"><i class="m-icon m-icon-facebook-circle" data-hover-color="facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCkRGNf3hVZvRcsZX0DcsqyA" class="ga_click_trace" ga_cat="footer" ga_event="click" ga_label="youtube" target="_blank"><i class="m-icon m-icon-youtube-circle" data-hover-color="youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- ==================== l-footer end ==================== -->
    </div>
    <!-- ==================== l-nav begin ==================== -->
    <div class="l-nav">
        <nav class="m-nav jQ-nav" data-active="is-active" data-safari="is-safari">
            <ul class="m-nav-link">
                <li class="jQ-navList">
                    <a href="../../Views/News/Event.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="news">
                        <em>最新消息</em>
                        <i class="m-flag is-arrow-top-tm b-desc is-xs b-bg-major b-text-white" data-msg="NEW"></i>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/News/Event.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="campaign"><em>優惠活動</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/News/Announcement.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="offical"><em>公告訊息</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_CC">
                        <em>KOKO 卡</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/ComboIcash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="combo_icash"><em>KOKO COMBO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/Icash.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_icash"><em>KOKO icash 聯名卡</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Combo/MRT.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="CC_MRT"><em>KOKO 悠遊聯名卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Digital/Transfer.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_ODA">
                        <em>KOKO 帳戶</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="transfer"><em>快速轉帳</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="spending"><em>帳戶管理</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/Fund.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="funds"><em>基金申購</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Digital/DebitCard.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="debit"><em>KOKO i 刷金融卡</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="jQ-navList">
                    <a href="../../Views/Credit/Credit.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="KOKO_PL">
                        <em>KOKO 小額信貸</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li> -->
                <li class="jQ-navList">
                    <a href="../../Views/Teach/Verification.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach">
                        <em>新手必讀</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                    <div class="m-nav-sublink jQ-sublink">
                        <ul class="b-text-center-md">
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Verification.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_ID"><em>身分驗證</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Apply.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_join"><em>如何申辦</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Transfer.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_transfer"><em>如何轉帳付款</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Pay.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_receive"><em>如何快速收錢</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/Account.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_mange"><em>如何管理帳務</em></a>
                            </li>
                            <li class="jQ-navList">
                                <a href="../../Views/Teach/QA.html" class="m-nav-item ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="teach_QA"><em>KOKO 問答集</em></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="jQ-navList">
                    <a href="../../Views/Lab/Lab.html" class="m-nav-item jQ-navItem ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="lab">
                        <em>KOKO LAB</em>
                        <i class="m-icon m-icon-arrow-bottom"></i>
                    </a>
                </li>
            </ul>
            <ul class="m-nav-tools b-text-center-tm">
                <li class="b-hide-tm">
                    <a href="../../Views/Home/Verification.html" class="m-button is-gradient-purple b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="ID"><b class="b-bold-tm">身份驗證</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Account.html" class="m-button is-gradient-green b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="login"><b class="b-bold-tm">帳戶登入</b></a>
                </li>
                <li>
                    <a href="../../Views/Home/Apply.html" class="m-button is-gradient-pink b-text-white b-desc ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="join"><b class="b-bold-tm">立即申辦</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ==================== l-nav end ==================== -->
    <!-- ==================== not support begin ==================== -->
    <div class="l-not-support">
        <div class="m-not-support b-text-center">
            <div class="m-not-support-content">
                <div class="m-not-support-hd">
                    <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                    <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
                </div>
                <div class="m-not-support-bd">
                    <ul>
                        <li>
                            <a href="https://www.google.com.tw/chrome/browser/desktop/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/chrome.png?img=20160511_01" alt="Google Chrome">
                                </span>
                                <p class="m-not-support-desc">Google Chrome</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/firefox.png?img=20160511_01" alt="Mozilla Firefox">
                                </span>
                                <p class="m-not-support-desc">Mozilla Firefox</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/ie.png?img=20160511_01" alt="Internet Explorer">
                                </span>
                                <p class="m-not-support-desc">Internet Explorer</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/zh_TW/downloads/safari">
                                <span class="m-not-support-figure">
                                    <img src="../../Content/img/not-support/safari.png?img=20160511_01" alt="Safari">
                                </span>
                                <p class="m-not-support-desc">Safari</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="m-not-support-ft">
                    <div class="m-not-support-copyright">
                        <p class="m-not-support-info"><em>Copyright © Cathay United Bank. Reserved.</em></p>
                        <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== not support end ==================== -->
    <script type="text/javascript" src="../../Scripts/js/ga.min.js?js=20170805_01" id="gaScript" data-id=""></script>
    <!--[if gt IE 9]><!-->
    <!-- common script ft begin -->
    <script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/factory.min.js?js=20170805_01"></script>
    <script type="text/javascript" src="../../Scripts/js/common.min.js?js=20170805_01"></script>
    <!-- common script ft end -->
    <!-- self script begin -->
    <!-- self script end -->
    <!--<![endif]-->
</body>
</html>